@mixin linear-gradient($top, $bottom) {
  background: $top;
  background: -webkit-linear-gradient($top, $bottom);
	background: -moz-linear-gradient($top, $bottom);
	background: -o-linear-gradient($top, $bottom);
	background: linear-gradient($top, $bottom);
}

.main > div {
  display: inline-block;
  width: 49%;
  margin-top: 10px;
}

.register {
  	width: 500px;
  	margin: 10px auto;
  	padding: 10px;
  	border-radius: 2px;
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	  color: #444;
  	box-shadow: 0 0 10px 0;
	text-align:center;
    background-color: #eaeaea !important;
	
}	

.highlight-btn {
        background-color: #31708f;
        color: white;
        border: 1px solid black;
        padding: 5px 10px;
        width: 120px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px 2px;
        margin-right: 0px!important;
        margin-left: 15px!important;
        font-weight: bold;
        border-radius: .2em;
        cursor: pointer;
    }

.highlight-btn:hover {
        background-color: #397b9bf0;
    }

.line-padding {
        padding-top: 20px; /* Adjust as needed */
    }



	input {
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
 /*  vertical-align:middle !important;
    margin-right:70px !important;*/
    width:180px;
    
    
}

label {
    display:inline-block;
    display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
    float: left;
    padding-top: 5px;
    text-align: left;
    width: 350px;
}
  
.textarea {
  margin-top: 5px;
  margin-bottom: 5px;
  display:inline-block;
  *display: inline;     /* for IE7*/
  zoom:1;              /* for IE7*/
/* vertical-align:middle !important;
  margin-right:70px !important;*/
  width:180px;
  
  
}

