{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms/basic.css') }}">
<style>
    .register {
        width: 500px;
        margin: 80px auto;
        padding: 40px;
        border-radius: 15px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #444;
        background-color: #fff;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    .form-group {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }
    .form-group label {
        width: 200px;
        text-align: right;
        margin-right: 10px;
    }
    .form-group .form-control {
        flex: 1;
        max-width: 320px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ddd;
        background-color: #f0f2f5;
        color: #333;
    }
    .button {
        text-align: center;
    }
    .button .btn-primary {
        padding: 10px;
        border-radius: 5px;
        background-color: #31708f;
        border: none;
        color: #fff;
        font-size: 16px;
    }
    .button .btn-primary:hover {
        background-color: #245269;
    }
</style>
{% endblock %}

{% block title %}{{appname}} - Change Email Address{% endblock %}

{% block maincontent %}
<div class="register">
    <h3 style="font-weight: bold; padding-bottom: 10px">Change Email Address</h3>
    <form class="form-horizontal" method="POST" id="reg-form">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="{{ form.email.id }}">New Email Address</label>
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            <label for="{{ form.password.id }}">Current Password</label>
            {{ form.password(class="form-control") }}
        </div>
        <div class="button">
            {{ form.submit(class_="btn btn-primary highlight-btn") }}
            <button type="button" id="cancel" class="btn btn-primary highlight-btn">Cancel</button>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function () {
        $("#submit").attr('disabled', true);
        $(document).find(':input').each(function(){
            $(this).keyup(function(e){
                $("#submit").attr('disabled', false);
                e.target.style.backgroundColor= "yellow"
            });
        });
        $("#cancel").click(function (e) {
            window.location='{{request.args.get('next') or url_for("main.index")}}'
        });
    });
</script>
{% endblock %}
