{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms/basic.css') }}">
<style>
    .register {
        width: 500px;
        margin: 80px auto;
        padding: 40px;
        border-radius: 15px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #444;
        background-color: #fff;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    .form-group {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }
    .form-group label {
        width: 120px;
        text-align: right;
        margin-right: 10px;
    }
    .form-group .form-control {
        flex: 1;
        max-width: 320px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ddd;
        background-color: #f0f2f5;
        color: #333;
    }
    .button {
        text-align: center;
        width: 100%;
    }
    .button .btn-primary {
        padding: 10px;
        border-radius: 5px;
        background-color: #31708f;
        border: none;
        color: #fff;
        font-size: 16px;
    }
    .button .btn-primary:hover {
        background-color: #245269;
    }
</style>
{% endblock %}
{% block title %}{{appname}} - Delete your account{% endblock %}
{% block maincontent %}
<div class="register">
    <h3 style="font-weight: bold; padding-bottom: 10px">Delete Account</h3>
    <p><b>Are you sure you wish to delete your account on {{appname}}?</b><br>
    Your account and all data generated such as trees and workspaces will be unrecoverable.
    To confirm the deletion of your {{appname}} account, please enter your password and click 'Delete my Account'.</p>
    <form class="form-horizontal" method="POST" id="delete-form">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="{{ form.password.id }}">Enter Your Password:</label>
            {{ form.password(class="form-control") }}
        </div>
        <div class="button">
            {{ form.submit(class_="btn btn-primary highlight-btn", style="width:170px!important") }}
            <button onclick="history.back()" type="button" id="cancel" class="btn btn-primary highlight-btn">Cancel</button>
        </div>
    </form>
</div>
{% endblock %}
