{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms/basic.css') }}">
    <style>
        body {
            background-color: #f0f2f5;
        }
        .register {
            width: 360px;
            margin: 80px auto;
            padding: 40px;
            border-radius: 15px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #444;
            background-color: #fff;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .form-group label {
            display: block;
            text-align: left;
            margin-bottom: 5px;
        }
        .form-group .form-control {
            width: 100%;
            max-width: 320px;
            margin: 0 auto;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ddd;
        }
        .button {
            text-align: center;
        }
        .button .btn-primary {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            background-color: #31708f;
            border: none;
            color: #fff;
            font-size: 16px;
        }
        .button .btn-primary:hover {
            background-color: #245269;
        }
        .additional-links {
            margin-top: 20px;
            font-size: 14px;
        }
        .additional-links a {
            color: #31708f;
        }
        .checkbox {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .checkbox label {
           {# margin-left: 5px;#}
            font-size: 14px;
            color: #555;
        }
        .checkbox input[type="checkbox"] {
            {#margin-right: 5px;#}
            transform: scale(1.2);
            position: relative!important;
        }
    </style>
{% endblock %}

{% block title %}Enterobase - Login{% endblock %}

{% block maincontent %}
<div class="register">
    <h3 style="font-weight: bold">Log In</h3>

    {% macro render_field(field) %}
        <div class="form-group">
            <label for="{{ field.id }}">{{ field.label }}</label>
            {{ field(class="form-control") }}
        </div>
    {% endmacro %}

    <form method="POST" id="login-form">
        {{ form.hidden_tag() }}

        {{ render_field(form.email) }}
        {{ render_field(form.password) }}

        <div class="form-group">
            <div class="checkbox">
                {{ form.remember_me(class="form-check-input") }}
                <label class="form-check-label" for="remember_me">Keep me logged in between sessions</label>
            </div>
        </div>

        <div class="form-group button">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

    <div class="additional-links">
        <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
        <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
        <p>By using EnteroBase you agree to the <a class="reference external" href="{{server_base_address}}terms"
                  target="_blank">EnteroBase terms and conditions</a></p>
    </div>
</div>
{% endblock %}
