{% extends "bsl_base.html" %}
{% block head%}
{{ super() }}
<link rel="stylesheet" href="/static/css/js_tree/style.min.css" >

{% endblock %}


{% block maincontent %}
{{ super() }}

   <h4> Manage Buddies for {{config["ACTIVE_DATABASES"][species][0]}}</h4>
	<div style="padding-left:4px">
		<button onclick="javascript:addBuddy()">Add Buddy</button>&nbsp;<label>Name:</label><input type='text'id="add-buddy-name">&nbsp;
		
	</div>
	<br>
	
	
<table class="table">
    <thead>
	<tr>
	    <th>Name</th>
	    <th>Shared Analysis</th>
	    <th>Edit</th>
	</tr>
    </thead>
    <tbody id ='buddy-table-body'>
	
    </tbody>
</table>
	
	

{% endblock %}



	


{% block scripts %}
{{super()}}
 <!--All the required scripts-->
<script src="/static/js/main/jstree.min.js"></script>
<script src="/static/js/dialogs/workspace.js?version={{config['JAVASCRIPT_VERSION']}}"></script>




<script>
	
var speciesName = "{{species}}";
var id_to_name=null;
var ws_icons =null;
var name_to_id= {};
var user_name_list=[];
var buddies_added={};
var workspace_dialog = null;
var updatedSharedFileId={};

function submitUpdates(msg){
	var jsondata = validationGrid.getDataToSubmit();
	Enterobase.call_restful_json("/auth/update_buddy_details","POST",{data:jsondata},callFailed).done(function(reponse){
		Enterobase.modalAlert("Your records have been updated")
	});
};

function addBuddy(){
	var id = name_to_id [$("#add-buddy-name").val()];
	if(id ==undefined || id=="" || (id !== id)){
		Enterobase.modalAlert("Please input a name");
		return;	
	}else{
		if (buddies_added[id]){
			Enterobase.modalAlert($("#add-buddy-name").val()+" whom you are trying to add is already in the list of your buddy");
			return;
		}
		appendBuddyRow(id);
		
		//added by yulei at 2019-03-19
		Enterobase.modalAlert("Adding this user gives them permission to download all genomes, genotypes and metadata in workspaces "+
		                       "that belong to you, including genomes that are not yet released", 'Information');
	}

}

function appendBuddyRow(id,edit_metadata){
	var row = $("<tr>").data("buddy_id",id);
	var cell = $("<td>");
	cell.text(id_to_name[id]);
	cell.width(200);
	row.append(cell)
	var div = $("<div>").attr("id","shared-analysis-"+id);
	var add_button=$("<button>").html("Add").click(function(e){
		addSharedWorkspace(id);	
	});
	cell= $("<td>").append(div).append(add_button);
	
	row.append(cell);
	var input = $("<input>").attr("type","checkbox");
	input.prop('checked', edit_metadata).click(function(e){
		var val = $(this).prop("checked");
		if (val){
			val="True"
		}
		else{
			val="False"
		}
		var buddy_id = $(this).parent().parent().data("buddy_id");
		
		updateBuddyPermissions(buddy_id,val,"edit_strain_metadata");
	
	});
	cell = $("<td>").append(input);
	cell.width(200);
	row.append(cell);
	$("#buddy-table-body").append(row);
	buddies_added[id]=true;


}

function addSharedWorkspace(buddy_id){
	workspace_dialog.getSelectedIDs(function(ids,workspaces){
		//from workspaces.js line664, callback(ids,wspaces);
		//like, ids=[17013,17014,- - -]; workspaces=[[{text: "somethinbg", id: "j3_3", children: Array(4), type: "folder"},{},{}]]
		for (var index in workspaces){
			var ws= workspaces[index];
			addSharedAnalysis(buddy_id,[ws[3],ws[0],ws[4]]);		
		}
		updateBuddyPermissions(buddy_id,ids.join(","),"add_action","");
		
	},"Share",{"owner_only":true});
}







function updateBuddyPermissions(buddy_id,ids,action,info){
	
	
	/** start, added at 2018-10-09, yulei,  **/
	
	
	if( action == "remove_analysis" ){
		if(info[1].text){
			delete updatedSharedFileId[buddy_id+"_"+ids+"_"+info[1].text];
		}else{
			delete updatedSharedFileId[buddy_id+"_"+ids+"_"+info[1]];
		}
		//delete updatedSharedFileId[buddy_id+"_"+ids];//delete ids, here, ids is a single id not a array
		
		//check ids is file id,e.g, 17035 or folder id,e.g., j3_3
		var to_send="";
		if( allRoot[ids]["type"] == "folder"  ){
			//means ids is a folder id
			to_send={
				buddy_id:buddy_id,
				data:JSON.stringify( [ids,allRoot[ids]["rootPath"]] ),
				action:"remove_workspace_folder",
				database:speciesName
			};			
			
		}else{
			//means ids is a file id	
			to_send={
				buddy_id:buddy_id,
				data:ids,
				action:"remove_analysis",
				database:speciesName
			};
		}
		
		Enterobase.call_restful_json("/auth/update_buddy_details","POST",to_send,callFailed).done(function(data){			
			//
		});

		
		
		
	}else if( action == "add_action"){
		//updatedSharedFileId[buddy_id+"_"+ids]="existed";//don't need, because already updated at addSharedAnalysis
		
		//1. add_workspace_folder
		//2. add_analysis

		var idsArray=ids.split(",");	
		for(var indexIdsA in idsArray){
			//16791: {rootPath: "Root", type: "file"},
			//j3_3: {rootPath: "Root/somethinbg", type: "folder"},
			var to_send="";
			if( (allRoot[ idsArray[indexIdsA] ]["type"]) == "folder" ){
				//folder id 
				//data=["j3_3","Root/sometinbg"]
				to_send={
					buddy_id:buddy_id,
					data: JSON.stringify( [ idsArray[indexIdsA],allRoot[ idsArray[indexIdsA] ]["rootPath"] ]),
					action:"add_workspace_folder",
					database:speciesName
				};				

			}else{
				//file id
				to_send={
					buddy_id:buddy_id,
					data:idsArray[indexIdsA],
					action:"add_analysis",
					database:speciesName
				};
			}
			
			Enterobase.call_restful_json("/auth/update_buddy_details","POST",to_send,callFailed).done(function(data){			
					console.log(data);
			});			
			
		}
	

	}else{
		//such as edit_strain_metadata
		//updateBuddyPermissions(buddy_id,val,"edit_strain_metadata");
		//so val is "True" or "False"
		var to_send={
			buddy_id:buddy_id,
			data:ids,
			action:action,
			database:speciesName
		};
		Enterobase.call_restful_json("/auth/update_buddy_details","POST",to_send,callFailed).done(function(data){			
				//add by yulei 2019-03-19, for popup a msg
				
				if(ids=="True"){
					Enterobase.modalAlert("Giving edit rights implies permission to edit metadata on all your strains in workspaces you are sharing with this buddy", 'Information')
				}else if(ids=="False"){
					//Enterobase.modalAlert("Removed edit right", 'Information')
				}
				console.log(data);
		});		
	}
	


	
	/** end, added at 2018-10-09, yulei,  **/
	
	
	
}




function addSharedAnalysis(id,info){
	/** start added at 2018-09-26, yulei  **/
	//here info=[ws[3],ws[0],ws[4]], likes [17013,"snp_tree_2018-09-12","snp_sa_project"]
	//undefined, might be id_undefined	
	
	
	if( info[1].type == "folder" ){//select a folder
	
		if( updatedSharedFileId[ (id+"_"+info[1].id+"_"+info[1].text) ] ){//check existed folder id, like 2159_j3_3_somthinbg
			//existed, so do nothing
		}else{
			var div =$("#shared-analysis-"+id);
			var sa_div=$("<div>").css({"display":"inline-block","margin-left":"4px","margin-right":"4px","margin-bottom":"2px"}).data("ws_id",info[1]["id"]);;
			sa_div.append($("<img>").attr("src",ws_icons["folder_icon24"]).css({"margin-right":"2px","padding-bottom":"4px"}));
			
			sa_div.append($("<span>"+info[1]["text"]+"</span>"));
			var delete_icon=$("<span>").attr("class","glyphicon glyphicon-remove")
									.css({"cursor":"pointer","margin-left":"4px"}).
									click(function(e){
										var parent = $(this).parent();
										updateBuddyPermissions(id,parent.data("ws_id"),"remove_analysis",info);
										parent.remove();									
									});
			sa_div.append(delete_icon);					
			div.append(sa_div);
		
		}
	}else{//not selected a folder
		if( updatedSharedFileId[ (id+"_"+info[0]+"_"+info[1]) ] ){//check existed file id, like 2159_17035
			//existed, so do nothing
		}else{
			var div =$("#shared-analysis-"+id);
			var sa_div=$("<div>").css({"display":"inline-block","margin-left":"4px","margin-right":"4px","margin-bottom":"2px"}).data("ws_id",info[0]);;
			sa_div.append($("<img>").attr("src",ws_icons[info[2]]).css({"margin-right":"2px","padding-bottom":"4px"}));
			
			sa_div.append($("<span>"+info[0]+" - "+info[1]+"</span>"));
			var delete_icon=$("<span>").attr("class","glyphicon glyphicon-remove")
									.css({"cursor":"pointer","margin-left":"4px"}).
									click(function(e){
										var parent = $(this).parent();
										updateBuddyPermissions(id,parent.data("ws_id"),"remove_analysis",info);
										parent.remove();									
									});
			sa_div.append(delete_icon);					
			div.append(sa_div);									
		}	
	}
	
	/** end, added at 2018-09-26, yulei  **/
	

		


	//sa_div.append(delete_icon);					
	//div.append(sa_div);
	
	/** start, at 2018-09-26, yulei  **/
	//updatedSharedFileId[id+"_"+info[0]]="existed";//add id
	
	if( info[1].type == "folder"){
		updatedSharedFileId[ (id+"_"+info[1].id+"_"+info[1].text) ]="existed";//2159_j3_3
	}else{
		updatedSharedFileId[ (id+"_"+info[0]+"_"+info[1]) ]="existed";//2159_17035
	}
	
	
	/** end, added at 2018-09-26, yulei  **/
	
}



function callFailed(msg){	
	Enterobase.modalAlert("Call to server failed:"+msg);
}
	
	
	
window.onload = function() {
	
	loadingImage = $("#loadingImage");
	loadingImage.show();
	
	Enterobase.call_restful_json("/auth/get_buddy_details?species="+speciesName,"GET","",callFailed).done(function(data){
		id_to_name = data['id_to_name'];
		

		
		
		for (var id in id_to_name){
			var name = id_to_name[id];
			name_to_id[name]=id
			user_name_list.push(name)
		}
		$("#add-buddy-name").autocomplete({source:user_name_list});
		workspace_dialog = new EnteroWorkspaceDialog(speciesName,function(ws_dialog){
			ws_icons = ws_dialog.getTypeIcons()
			
			for (var id in data['shared_analysis']){
				appendBuddyRow(id,data['edit_metadata'][id]);
				
				//this is for the shared file
				var sa_list= data['shared_analysis'][id];
				for (var index in sa_list){
				        if( sa_list[index][1] != null ){
					    addSharedAnalysis(id,sa_list[index]);
					}
					
				}				
			}
		
			//this is for the shared folder
			/*
			sa_folder_list={
					69: [], 
					2159: [   ["["j3_3","Root/somethinbg"]", null, "workspace_folders"]   ]
				       }
			*/
			
			//var a=[undefined,"helllo",undefined];
			var sa_folder_list=data["shared_folders"];
			
			for(var indexKey in sa_folder_list){
			    //console.log(indexKey);
			    if( (sa_folder_list[indexKey]).length>0){
				//console.log(sa_folder_list[indexKey]);
				var folderInfoArray=sa_folder_list[indexKey];
				for(var index in folderInfoArray ){
				    var folderItem=folderInfoArray[index];
				    if(folderItem.length>0){
					var infoA=[];
					if(folderItem[0] !=null && typeof(folderItem[0]) =="string"){
						try{
							infoA=JSON.parse(folderItem[0]);
						}catch(error){
							console.log(error);
						}
					}else if( folderItem[0] !=null && typeof(folderItem[0]) =="object" ){
						infoA=folderItem[0];
					}else{
						//					
					}
					
					var infoId=infoA[0];
					var infoRoot=infoA[1];
					var infoRootA;
					var folderName;
					if( (infoRoot !=  undefined) && (typeof(infoRoot) == "string") ){
						infoRootA=infoRoot.split("/");
						folderName=infoRootA[ (infoRootA.length-1) ];
					}
					
					
					addSharedAnalysis(indexKey,[undefined,{text: folderName, id: infoId, children: undefined, type: "folder"},undefined] );
				    }
			
				    //console.log(infoId+","+infoRoot);
				}
			
			    }
			}			
			
			
			
			
		});	
	});	
};
</script>
	
{% endblock %}




