{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms/basic.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            background-color: #f0f2f5;
        }
        .register {
            width: 500px;
            margin: 80px auto;
            padding: 40px;
            border-radius: 15px;
            color: #444;
            background-color: #fff;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .form-group label {
            display: inline-block;
            width: 120px;
            text-align: right;
            margin-bottom: 5px;
            margin-right: 10px;
        }
        .form-group .form-control {
            width: calc(100% - 120px);
            max-width: 320px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ddd;
            background-color: #f0f2f5;
            color: #333;
        }
        .form-group-a {
            padding: 10px;
            color: #333;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form-group-a .form-check {
            margin: 0 !important;
        }
        .button {
            text-align: center;
        }
        .button .btn-primary {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            background-color: #31708f;
            border: none;
            color: #fff;
            font-size: 16px;
        }
        .button .btn-primary:hover {
            background-color: #245269;
        }
        .additional-links a {
            color: #31708f;
        }
        .agreement-label {
            margin: 0;
            text-align: left;
            width: 350px!important;
        }

        .captcha-container {
            position: relative;
            display: inline-block;
        }

        .captcha-image {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }

        .reload-icon {
            position: absolute;
            top: 5px;  /* Position relative to CAPTCHA image */
            right: 5px;
            cursor: pointer;
            color: #31708f;
            font-size: 18px;
            background-color: white; /* White background for better visibility */
            border-radius: 50%;
            padding: 5px;
            transition: color 0.3s;
            z-index: 10; /* Ensures it appears above the image */
        }

        .reload-icon:hover {
            color: #245269;
        }


    </style>
{% endblock %}

{% block title %}{{appname}} - Register{% endblock %}

{% block maincontent %}
<div class="register">
    <h3 style="font-weight: bold">Register</h3>
    <div class="additional-links">
        <p><b>Please read the <a target="_blank" href="{{server_base_address}}terms">{{appname}} terms and conditions</a> before registering.</b></p>
    </div>
    {% macro render_field(field) %}
        {% if field.name == 'agreement' %}
            <div class="form-group-a">
                {{ field(class="form-check-input") }}
                <label for="{{ field.id }}" class="agreement-label">{{ field.label }}</label>
            </div>
        {% else %}
            <div class="form-group">
                <label for="{{ field.id }}">{{ field.label }}</label>
                {{ field(class="form-control") }}
            </div>
        {% endif %}
    {% endmacro %}

    <form class="form-horizontal" method="POST" id="reg-form">
            {{ form.hidden_tag() }}
            {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.username.label }} {{ form.username(class="form-control") }}
            {% for error in form.username.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.firstname.label }} {{ form.firstname(class="form-control") }}
            {% for error in form.firstname.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.lastname.label }} {{ form.lastname(class="form-control") }}
            {% for error in form.lastname.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.email.label }} {{ form.email(class="form-control") }}
            {% for error in form.email.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.department.label }} {{ form.department(class="form-control") }}
            {% for error in form.department.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.institution.label }} {{ form.institution(class="form-control") }}
            {% for error in form.institution.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.city.label }} {{ form.city(class="form-control") }}
            {% for error in form.city.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.country.label }} {{ form.country(class="form-control") }}
            {% for error in form.country.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.password.label }} {{ form.password(class="form-control") }}
            {% for error in form.password.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.password2.label }} {{ form.password2(class="form-control") }}
            {% for error in form.password2.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="{{ form.captcha.id }}">{{ form.captcha.label }}</label>
            {{ form.captcha(class="form-control") }}<br>
            <div class="captcha-container">
                <img src="data:image/png;base64,{{ captcha_image_data }}" alt="CAPTCHA" class="captcha-image" id="captcha-image">
                <i class="fas fa-sync-alt reload-icon" onclick="reloadCaptcha()"></i>
            </div>
        </div>

        {{ render_field(form.agreement) }}

        <div class="form-group">
            <div class="button">
                {{ form.submit(class="btn btn-primary", style="text-align: center!important;") }}
            </div>
        </div>
    </form>
    <p>Note: The institutions hosting EnteroBase do not have a shared user database due to EU data protection regulations. The account registered here is valid for <a target="_blank" href="{{server_base_address}}">{{server_base_address}}</a></p>
</div>


<script>
    function reloadCaptcha() {
        fetch('/auth/reload_captcha')
            .then(response => response.json())
            .then(data => {
                if (data.captcha_image_data) {
                    document.getElementById('captcha-image').src = 'data:image/png;base64,' + data.captcha_image_data;
                } else {
                    console.error('Failed to reload CAPTCHA');
                }
            })
            .catch(error => console.error('Error:', error));
    }
</script>
{% endblock %}
