{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms/basic.css') }}">
    <style>
        body {
            background-color: #f0f2f5;
        }
        .register {
            width: 500px;
            margin: 80px auto;
            padding: 40px;
            border-radius: 15px;
            color: #444;
            background-color: #fff;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .form-group label {
            display: inline-block;
            width: 120px;
            text-align: right;
            margin-bottom: 5px;
            margin-right: 10px;
        }
        .form-group .form-control {
            width: calc(100% - 120px);
            max-width: 320px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ddd;
            background-color: #f0f2f5;
            color: #333;
        }
        .form-group-a {
            padding: 10px;
            color: #333;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form-group-a .form-check {
            margin: 0 !important;
        }
        .button {
            text-align: center;
        }
        .button .btn-primary {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            background-color: #31708f;
            border: none;
            color: #fff;
            font-size: 16px;
        }
        .button .btn-primary:hover {
            background-color: #245269;
        }
        .additional-links a {
            color: #31708f;
        }
        .agreement-label {
            margin: 0;
            text-align: left;
            width: 350px!important;
        }
    </style>
{% endblock %}

{% block title %}{{appname}} - Register{% endblock %}

{% block maincontent %}
<div class="register">
    <h3 style="font-weight: bold">Register</h3>
    <div class="additional-links">
        <p><b>Please read the <a target="_blank" href="{{server_base_address}}terms">EnteroBase terms and conditions</a> before registering.</b></p>
    </div>
    {% macro render_field(field) %}
        {% if field.name == 'agreement' %}
            <div class="form-group-a">
                {{ field(class="form-check-input") }}
                <label for="{{ field.id }}" class="agreement-label">{{ field.label }}</label>
            </div>
        {% else %}
            <div class="form-group">
                <label for="{{ field.id }}">{{ field.label }}</label>
                {{ field(class="form-control") }}
            </div>
        {% endif %}
    {% endmacro %}

    <form class="form-horizontal" method="POST" id="reg-form">
        {{ form.hidden_tag() }}
        {{ render_field(form.username) }}
        {% for error in form.username.errors %}
            <div>{{ error }}</div>
        {% endfor %}
        {{ render_field(form.firstname) }}
        {{ render_field(form.lastname) }}
        {{ render_field(form.email) }}
        {% for error in form.email.errors %}
            <div>{{ error }}</div>
        {% endfor %}
        {{ render_field(form.department) }}
        {{ render_field(form.institution) }}
        {{ render_field(form.city) }}
        {{ render_field(form.country) }}
        {{ render_field(form.password) }}
        {{ render_field(form.password2) }}
        {{ render_field(form.agreement) }}

        <div class="form-group">
            <div class="button">
                {{ form.submit(class="btn btn-primary", style="text-align: center!important;") }}
            </div>
        </div>
    </form>
    <p>Note: The institutions hosting EnteroBase do not have a shared user database due to EU data protection regulations. The account registered here is valid for <a target="_blank" href="{{server_base_address}}">{{server_base_address}}</a></p>
</div>
{% endblock %}
