                         <li>
                            {% if beta_url %}
                            <a href='{{beta_url}}'>
                            {% else %}
                            <a href='/'>
                            {% endif %}
                            <i class="fa fa-home fa-fw"></i> 
                             Site Home
                            </a>
                        </li>
                        {% if current_user.is_authenticated() and current_user.administrator == 1 %}
                            <li>
                            <a href="#"> <span class="fa arrow"></span>
                                <i class="fa fa-male fa-fw"></i> 
                                Admin Tasks
                            </a>
                            {{ layout.menu() }}
                        </li>

                        {% endif %}


