{% import 'admin/layout.html' as layout with context -%}
{% import 'admin/static.html' as admin_static with context %}


<!DOCTYPE html>
<html>

<head>
<title>{%block title%}{{appname}} - Admin{%endblock%}</title>

{% block head_css %}
    <!-- Bootstrap -->
    <link href="{{ admin_static.url(filename='bootstrap/bootstrap2/css/bootstrap.css', v='2.3.2') }}" rel="stylesheet">
    <link href="{{ admin_static.url(filename='bootstrap/bootstrap2/css/bootstrap-responsive.css', v='2.3.2') }}" rel="stylesheet">
    <link href="{{ admin_static.url(filename='admin/css/bootstrap2/admin.css', v='1.1.1') }}" rel="stylesheet">

    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    
    <link rel="shortcut icon" href="{{beta_url}}/static/{{favicon}}" type="image/x-icon">
    <link rel="icon" href="{{beta_url}}/static/{{favicon}}" type="image/x-icon">
    
    <link rel="stylesheet" href={{url_for('static',filename='js/jquery-ui-1.11.4/jquery-ui.min.css')}}>
    <link rel="stylesheet" href={{url_for('static',filename='css/main/main.css', v='2.1')}}>
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

{% endblock %}
</head>

<body>

{% block page_body %}

    <div id = "total-header">
        <div id="headerdiv" >
            <a href = "/"><b> EnteroBase</b> </a>
        </div>
        <div class="navbar navbar-default" role="navigation" >
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                {% if species  %}
                  
                    <li><a><i>{{ config['ACTIVE_DATABASES'].get(species)[0]}}</i></a></li>
                
                {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated() and not logout %}
                <li><a href="#">{{ current_user.username }}</a></li>
                          <ul class="nav" id="side-menu">
            {{ layout.menu() }}
          </ul>
                    <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('auth.change_password',next=request.url) }}">Change Password</a></li>
                            <li><a href="{{ url_for('auth.change_email_request',next=request.url) }}">Change Email</a></li>
                            <li><a href="{{ url_for('auth.logout',next={{beta_url}}+request.url) }}">Log Out</a></li>
                            <li><a href="{{ url_for('auth.change_user_details',next=request.url) }}">Edit details</a></li>
                           
                        </ul>
                        
                    </li>
        
                        {% else %}
                        <li><a href="{{ url_for('auth.login',next=request.url) }}">Log In</a></li>
                <li><a href="{{beta_url}}/auth/new_user_req">Register</a></li>
                        {% endif %}
        
        
                 {% if help %}
                    <li><a target ="_blank" href="{{help}}">Help</a></li>
                {% else %}
                    <li><a target ="_blank" href="http://enterobase.readthedocs.io/en/latest/">Help</a></li>
                {% endif %}
        
                    </ul>
        
                </div>
            </div>
        </div>
        
    </div>

</ul>
</div>  
</div>

<div id = "maindiv">
<div id = "wrapper">


{% endblock %}

<div id="page-wrapper">

{% block body %}

<br>THE VIEW SHOULD GO HERE</br>
{% endblock %}
</div>

</body>
{% block tail_js %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
    <script src ="{{ url_for('static', filename='js/jquery-ui-1.11.4/jquery-ui.min.js') }}"></script>
    <script src ="{{ url_for('static', filename='js/main/jquery.layout-latest.js') }}"></script>
    <script src ="{{beta_url}}/static/js/main/enterobase.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/jstree.min.js"></script>
<script>


$(function(){
    
    $('#container').jstree(); 
    $('#container').jstree('open_all'); 
 
    $('#container').bind('select_node.jstree', function(e,data) { 
    window.location.href = data.rslt.obj.attr("href"); 
    
     });
 
});

</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-67321220-1', 'auto');
    ga('send', 'pageview');
    $(window).load(function () {
        //causes enter to input data in text box
        $("input").on("keyup",function(event){
            if(event.keyCode===13){
                $(this).blur();
            }
        });
    
        //stops navigating away from page when backspace is pressed
        $(document).on("keydown", function (e) {
            if (e.which === 8 && !$(e.target).is("input, textarea")) {
            e.preventDefault();
            }
        });
        //ensures that the main content fits the page
        $(window).resize(function(){
            var h = ($("#total-header").height());
            var win = ($(document).height());
            $("#maincontent").height(500);
          //  $("#maincontent").css("min-height",(win-h)+"px");
            //$("#maincontent").css("max-height",(win-h)+"px");
        });     
        $(window).trigger('resize'); 
        
    });  
</script> 
{% endblock %}


</html>