{% extends "bsl_base.html" %}
{% block head %}
{{super()}}
  <!-- MetisMenu CSS -->
    <link href="/static/css/bower/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/static/css/bower/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/bower/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/css/bower/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<link rel="stylesheet" href={{url_for('static',filename='css/forms/basic.css')}}>
<style>
#database {
list-style-type:none; 
    padding:10px; 
}
#database label{
     font-weight: normal;
     float:none;
         text-align: left;
     
}



#usergroups {
    list-style-type:none; 
    padding:1px; 
    text-align: left;
}

#usergroups label{
     font-weight: normal;
     float:none;
         text-align: left;

}

</style>

{% endblock %}



  
{% block maincontent %}
{{ super() }}

    <p align="center">
        <div   class="email">
          <h3>Mass email userbase</h3>
                  <i>A Sample message will also be sent to you. </i><br>

          <form class="form-hrizontal" method="POST" id="email-form" action="{{ url_for('enteroadmin.email_users', species = species) }}">
           {{ form.hidden_tag() }}           
           <b>Select User groups</b><br>
           {{ form.usergroups }}
            <b>Databases</b><br>
           {{ form.database }}
           <b>Extra email recipients</b>. You can additional email addresses (comma delimited or whitespace)<br>
           {{ form.extra_recip(cols="80", rows="2") }}<br><br>
           <b>Black list (addresses to ignore)</b>. You can additional email addresses (comma delimited or whitespace) to ignore<br>
           {{ form.blacklist(cols="80", rows="2") }}<br><br>           
           <b>Message subject</b><br>
           {{ form.subject(size=180) }}<br>
           <b>Message body</b><br>
           {{ form.body(cols="80", rows="20") }}<br>
           Please confirm your message. Email will be sent immediately on submission.<br>
           
           {{ form.dryrun }} <b>Do NOT send email to recipients (testing purposes)</b><br><br>
              <div  class= "button">{{ form.submit() }} </div> 
          </form>
      </div>
    </p>


{% endblock %}
    <!-- jQuery -->
{% block scripts %}
{{super()}}
    <!-- Bootstrap Core JavaScript -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.0.1/ckeditor.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/js/bower/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/static/js/bower//raphael-min.js"></script>
    <script src="/static/js/bower/morris.js"></script>
   

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/bower/sb-admin-2.js"></script>
    
    {% endblock %}


