{% extends "base.html" %}
{% import 'admin/layout.html' as layout with context -%}

{% block head %}
{{super()}}
<link href="{{beta_url}}/static/css/bower/metisMenu.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="{{beta_url}}/static/css/bower/sb-admin-2.css" rel="stylesheet">
{% endblock %}

{% block sidebar %}
 <div class="navbar-default sidebar" role="navigation">
<div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">

    {% include 'admin/ad_side_bar.html' %}

</ul>
</div>  
</div>

{% endblock %}

{% block body %}
{{super()}}
{% endblock %}


{% block scripts %}

    {{ super() }}
    <script src="{{beta_url}}/static/js/bower/metisMenu.min.js"></script>
    <script src="{{beta_url}}/static/js/bower/sb-admin-2.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-67321220-1', 'auto');
        ga('send', 'pageview');
        $(window).load(function () {
            //causes enter to input data in text box
            $("input").on("keyup",function(event){
                if(event.keyCode===13){
                    $(this).blur();
                }
            });
        
            //stops navigating away from page when backspace is pressed
            $(document).on("keydown", function (e) {
                if (e.which === 8 && !$(e.target).is("input, textarea")) {
                e.preventDefault();
                }
            });
            //ensures that the main content fits the page
            $(window).resize(function(){
                var h = ($("#total-header").height());
                var win = ($(document).height());
                $("#maincontent").height(500);
              //  $("#maincontent").css("min-height",(win-h)+"px");
                //$("#maincontent").css("max-height",(win-h)+"px");
            });     
            $(window).trigger('resize'); 
            
        });  
    </script> 
    

{% endblock %}

