{% extends "jql_base.html" %}
{% block head%}
{{ super() }}
<link rel ='stylesheet'href="{{url_for('static',filename='css/table/validation_grid.css')}}">
<link rel ='stylesheet'href="{{url_for('static',filename='css/main/jjsonviewer.css')}}">
{% endblock %}

{% block title %}Manage Jobs {{species}}{% endblock %}




{% block tablecontent %}

    <!-- Title -->
    <div style="font-size: 1.3em;  font-weight: bolder; color: #31708f;margin-bottom: 10px;margin-left: 5px">
        My Jobs <a href="#"onclick="window.open('https://enterobase.readthedocs.io/en/latest/features/jobs.html?highlight=my%20jobs#monitoring-jobs', 'width=200,height=150');"><img
                                src="/static/img/upload/new_info_s.svg"
                                style="cursor: pointer; vertical-align: super"></a>
    </div>


	<!--The actual table and paginator-->
    <div style='float:left;display:inline'>
		<button style="margin-left:4px" onclick="javascript:submitQuery('all')">All</button>
		<button style="margin-left:4px" onclick="javascript:submitQuery('running')">Running</button>
		<button style="margin-left:4px" onclick="javascript:submitQuery('failed')">Failed</button>
		<button style="margin-left:4px" onclick="javascript:submitQuery('stale')">Stale</button>
		<label style= "margin-left:4px;margin-right:2px">Limit:</label>
		<input id = "limit-spinner" style="width:50px;" type='text' value="200">
		<b>Rows Total:</b><span id="rowcount">0</span>
		<b>Filtered</b><span id="filtercount">0</span>
		<img id ="loadingImage" align ='right' alt="waiting" src ="{{url_for('static',filename='img/upload/waiting.gif')}}">

	</div>

	<div style='float:right;dsisplay:inline'>
        {% if current_user.administrator == 1 %}
		<label> View Job </label>
		<input id = "view-job-id" style="width:80px;" type='text' placeholder="Job ID">
		<button id = "view-job-button">Go</button>
		{% endif %}
	</div>

	<div id = "tablelayout" style='width:100%;height:90%;overflow:scroll'>
		<div id="tablecontent" class = 'ui-layout-center'></div>
		<div id ="righttab" class = "ui-layout-east">
			<h3 id ='job-detail-title'>Job Details</h3>
			<div id="details-content" style = 'white-space: nowrap' class = 'jjson '></div>
		</div>
	</div>
	<div id='table-footer'>
		<div style='float:left'>
			<label for="pagesize">Page Size: </label>
			<select id="pagesize" name="pagesize">
				<option value="10">10</option>
				<option value="15">15</option>
				<option value="20">20</option>
				<option selected value="25">25</option>
				<option value="30">30</option>
				<option value="40">40</option>
				<option value="50">50</option>
			</select>
		</div>
		<div id="paginator" style="'height:2%'"></div>
	</div>

{% endblock %}

{% block scripts %}
{{super()}}
 <!--All the required scripts-->
<script src="{{url_for('static',filename='js/table/editablegrid-2.0.1.js')}}"></script>
<script src="{{url_for('static',filename='js/main/contextMenu.min.js')}}"></script>
<script src="{{url_for('static',filename='js/main/jjsonviewer.js')}}"></script>
<script src="{{url_for('static',filename='js/table/ddsmoothmenu.js')}}"></script>
<script src="{{url_for('static',filename='js/table/validation_grid.js')}}"></script>
<script src="{{url_for('static',filename='js/table/jobs_grid.js')}}"></script>

<script>

	var speciesName = "{{species}}";
	var startup_data = "{{data}}"
	var user_jobs_only = false;
	var validationGrid = new JobsGrid(
	"SpeciesGrid",
	{
		enableSort: true,
		editmode: "static",
		editorzoneid: "edition",
		allowSimultaneousEdition: false,
		pageSize:50
	},
	speciesName
	);

	validationGrid.imgFolder="{{url_for('static',filename='img/upload/')}}"
	validationGrid.addMenuBar("tablemenu");

	var loadingImage;


	//function called after set up has completed
	function finishedSetup(msg){

	with (validationGrid){
		setPaginator('paginator');
		//second argument is the name of the table class in the css
		addToPage("tablecontent","testgrid");
		setRowNumberListener(function (rowCount,filterCount){
		$("#rowcount").html(rowCount);
			if (filterCount || filterCount ===0){
				$("#filtercount").html(filterCount);
			}
		});


	}

	loadingImage.hide();
	};

	function callFailed(msg){
		Enterobase.modalAlert("Call to server failed:"+msg);
	}

	function submitQuery(predefined){
		var limit = $("#limit-spinner").val();
		if (!limit){
			limit=200;
		}
		to_send = {
			limit:limit,
			user_jobs_only:user_jobs_only

		}
		if (predefined){
			to_send.query=predefined;
		}
		Enterobase.call_restful_json("/species/"+speciesName+"/get_job_details","POST",to_send,callFailed).done(function(data){
			validationGrid.loadNewData(data,false,true);
			if (validationGrid.getRowCount()>0){
				var c=validationGrid.getColumnIndex("id");
				var first_id= validationGrid.getValueAt(0,c);
				validationGrid.showJobDetails(first_id);
			}
			validationGrid.refreshGrid();
		});

	}




window.onload = function() {

	validationGrid.detailsCallback = function(data,jobID){
		$("#job-detail-title").html("Job Details:"+jobID);
		$("#details-content").jJsonViewer(data);
	}
	$("#limit-spinner").spinner({
		min:100,
		max:10000,
		step:100,
		incremental:true

	});
	$("#view-job-button").click(function(e){
		var job_id = $("#view-job-id").val();
		if (!isNaN(job_id)){
			validationGrid.showJobDetails(job_id);

		}


	});

	var layout = $('#tablelayout').layout({ applyDefaultStyles: true});
	layout.sizePane("east",400);
	loadingImage = $("#loadingImage");
	validationGrid.setMetaData();
	finishedSetup();


	var to_send = {
		query:"my_jobs",
		database:speciesName
	}
	if (startup_data === 'my_jobs'){
		user_jobs_only=true;
		validationGrid.hiddenColumns['user_id'] = true;
	}
	submitQuery("all");



};
</script>

{% endblock %}
