<!--H.F. 07/12/2020-->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block head %}
{{super()}}
<link rel="stylesheet" href={{url_for('static',filename='css/forms/basic.css')}}>
<style>
.half-column {
  float: left;
  width: 600px;
}

.centered-div {
  display: table;
  margin: 0 auto;
  text-align: center;
}
#description {
  padding-left:8px;
  padding-top:5px;
  padding-right:8px;
  padding-bottom:5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display:inline-block;
  *display: inline;
  zoom:1;
  vertical-align:middle !important; 
  margin-right:70px !important;
  width:180px;
  resize:none;
}
#half-width-button {
  width:50%;
  margin-left:25%;
}

</style>
{% endblock %}
{% block title %}Enterobase - Local Enterobase Client Dashboard{% endblock %}

{% block maincontent %}
<div class = "centered-div">
  <h1 class="page-header">{{local_enterobase_client_form.client_name.data}} Dashboard</h1><br>
<div class="half-column">
  <div   class="register">
    <h3>Local Enterobase Client Details</h3>
    The fields below contain the details of the request.
    <br>
    <form class="form-hrizontal" method="POST" id="reg-form">
      {{ local_enterobase_client_form.hidden_tag() }}
      {{ macros.render_field(local_enterobase_client_form.client_name) }}
      {{macros.render_field(local_enterobase_client_form.client_uri)}}
      {{macros.render_field(local_enterobase_client_form.description)}}
      {{macros.render_field(local_enterobase_client_form.username)}}
      {{macros.render_field(local_enterobase_client_form.current_status)}}
      {% if local_enterobase_client_form.test_status.data %}
        {{ macros.render_field(local_enterobase_client_form.test_status) }}
      {% endif %}
      {% if local_enterobase_client_form.average_test_upload_time.data %}
        {{ macros.render_field(local_enterobase_client_form.average_test_upload_time) }}
      {% endif %}
      {% if local_enterobase_client_form.average_test_assembly_time.data %}
        {{ macros.render_field(local_enterobase_client_form.average_test_assembly_time) }}
      {% endif %}
      <br>
      {% if local_enterobase_client_form.current_status.data == "Requested" %}
        {% if local_enterobase_client_form.test_status.data == "Completed" %}
          <div  class= "button" id="half-width-button">{{ local_enterobase_client_form.approve(class_="btn btn-success btn-block") }}</div>
          <label></label>
        {% else %}
          <div  class= "button" id="half-width-button">{{ local_enterobase_client_form.approve(class_="btn btn-success btn-block", disabled="disabled") }}</div>
          <label></label>
        {% endif %}
        <div  class= "button" id="half-width-button">{{ local_enterobase_client_form.deny(class_="btn btn-warning btn-block") }}</div>
        <label></label>
      {% elif local_enterobase_client_form.current_status.data == "Denied" %}
        {% if local_enterobase_client_form.test_status.data == "Completed" %}
          <div  class= "button" id="half-width-button">{{ local_enterobase_client_form.approve(class_="btn btn-success btn-block") }}</div>
          <label></label>
        {% else %}
          <div  class= "button" id="half-width-button">{{ local_enterobase_client_form.approve(class_="btn btn-success btn-block", disabled="disabled") }}</div>
          <label></label>
        {% endif %}
          <div  class= "button" id="half-width-button">{{ local_enterobase_client_form.deny(class_="btn btn-warning btn-block", disabled="disabled") }}</div>
          <label></label>
      {% elif local_enterobase_client_form.current_status.data == "Approved" %}
        <div  class= "button" id="half-width-button">{{ local_enterobase_client_form.reinstate(class_="btn btn-success btn-block", disabled="disabled") }}</div>
        <label></label>
        <div  class= "button" id="half-width-button">{{ local_enterobase_client_form.revoke(class_="btn btn-warning btn-block") }}</div>
        <label></label>
      {% elif local_enterobase_client_form.current_status.data == "Revoked" %}
        <div  class= "button" id="half-width-button">{{ local_enterobase_client_form.reinstate(class_="btn btn-success btn-block") }}</div>
        <label></label>
        <div  class= "button" id="half-width-button">{{ local_enterobase_client_form.revoke(class_="btn btn-warning btn-block", disabled="disabled") }}</div>
        <label></label>
      {% elif local_enterobase_client_form.current_status.data == "Reinstated" %}
        <div  class= "button" id="half-width-button">{{ local_enterobase_client_form.reinstate(class_="btn btn-success btn-block", disabled="disabled") }}</div>
        <label></label>
        <div  class= "button" id="half-width-button">{{ local_enterobase_client_form.revoke(class_="btn btn-warning btn-block") }}</div>
        <label></label>
      {% endif %}
      <br>
    </form>
  </div>
</div>
<div class="half-column">
  <div   class="register">
    <h3>Local Enterobase Admin Details</h3>
    The following fields contain the Enterobase details about the user who has installed the Local Enterobase instance and is the acting administrator.
    <br>
    <form class="form-hrizontal" method="POST" id="reg-form">
      {{macros.render_field(lead_admin.username, disabled="disabled") }} 
      {{macros.render_field(lead_admin.firstname, disabled="disabled") }} 
      {{macros.render_field(lead_admin.lastname, disabled="disabled") }} 
      {{macros.render_field(lead_admin.email, disabled="disabled") }} 
      {{macros.render_field(lead_admin.department, disabled="disabled") }} 
      {{macros.render_field(lead_admin.institution, disabled="disabled") }} 
      {{macros.render_field(lead_admin.city, disabled="disabled") }} 
      {{macros.render_field(lead_admin.country, disabled="disabled") }}
      <br>
    </form>
  </div>
</div></div>
{% endblock %}
