<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bubble Plot</title>
    <link rel="stylesheet" href="static/css/bubble.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="static/js/main/bubble_script.js"></script>

</head>

<body>

<div id="buttoncontainer">
    <form id="categoryForm"  method="POST">
        <select id="categorySelect" name="category">
            {% for category in categorieslist %}
                <option value="{{ category }}" {% if catlabel == category %}selected{% endif %}>{{ category }}</option>
            {% endfor %}
        </select>
    </form>
    <input type="text" id="searchInput" placeholder="Search Category">
    <button class="custom-file-input" id="searchButton">Search</button>
    <button class="custom-file-input" id="resetSearch">Reset Search</button>
    <button class="custom-file-input" id="resetButton">Reset Zoom</button>
    <button class="custom-file-input" id="displaytext">Display Text</button>
    <button class="custom-file-input" id="import">Import Fields</button>

    <div id="popup" class="popup">
        <form id="submitForm" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="form_submitted" value="True">
            <label for="dropdown">Experiment</label>
            <select id="dropdown" name="selected_value">
                {% for f in field %}
                     <option value="{{ f }}" {% if selected_field == f %} selected {% endif %}>{{ f }}</option> <!-- Set selected option based on selected_category -->
                {% endfor %}
            </select>
            <div id="secondDropdownContainer" >
                <label for="dropdown">Column</label>
                <select id="secondDropdown" name="selected_sub_value">
                    {% for value in subfield %}
                        <option value="{{ value }}" {% if value == selected_subfield %}selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="external">
                <label for="fileInput">External</label>
                <input type="file" id="fileInput" name="fileInput" accept=".csv">
            </div>
            <button type="submit">Submit</button>
        </form>
        <span class="close">&times;</span>
    </div>

    <button class="custom-file-input" id="downloadButton">Download</button>
</div>


<div id="swatches-container"></div>
<div id="chart-container"></div>


<script>
    document.getElementById('categorySelect').addEventListener('change', function() {
    document.getElementById('categoryForm').submit();
    });

    let data;
    const width = 975;
    const height = 975;
    const format = d3.format(",d");
    const pie = d3.pie().sort(null).value((d) => d.v);
    let pie_color = '';
    let fileData;
    const catorder = {{catorder | safe}};

    PlotData()

    // Function to handle file selection
    function PlotData() {
                fileData = {{ df.to_dict(orient='records') | safe }}
                data = processData(fileData);

                console.log('data');
                console.log(data);

                const dat = _pack(d3, width, height, data);
                const d2 = dat.filter(d => d.data.val);

                const chartContainer = document.getElementById("chart-container");
                chartContainer.innerHTML = '';
                const chart = _chart(d3, width, height, dat, d2, pie, pie_color, format);
                chartContainer.append(chart)
                drawSwatches();
                downloadButton.addEventListener("click", function () {
                downloadChartAsSVG(chart, "chart.svg");
                });

    }


    function processData(fileData) {
        // Process the data using the loaded files
        let data = {name: 'flare', children: []};
        const columns = Object.keys(fileData[0])
        const HCnums = columns.slice(0, -2);

        const CategoryLabels = fileData.flatMap(d => {
        const lastColumn = Object.keys(d).pop();
        const lastCategory = d[lastColumn];
        return Object.keys(JSON.parse(lastCategory));
        });


<!--        const CategoryLabels = fileData.map(d => d.category).flatMap(d => Object.keys(JSON.parse(d)));-->
        const UniqueCategories = catorder;
        const colorScale = d3.scaleOrdinal(customColors);
        const Colors = [];
        UniqueCategories.forEach((category, index) => {
            if (category === "Missing") {
                Colors.push("#ffffff");
            } else {
                Colors.push(colorScale(category));
            }
        });

        pie_color = d3.scaleOrdinal(UniqueCategories, Colors);

        for (let d of fileData) {
            let parent = data;
            let existingChild;
            for (let i = 0; i < HCnums.length; i++) {
                let key = d[HCnums[i]];
                existingChild = parent.children.find(child => child.name === key);
                if (!existingChild) {
                    existingChild = {name: key, children: []};
                    parent.children.push(existingChild);
                }
                parent = existingChild;
            }

            if (parseInt(d.count) >= 0) {
                const keys = Object.keys(d);
                const lastKey = keys[keys.length - 1];
                const importedData = JSON.parse(d[lastKey]);

                const formattedData = []
                Object.keys(importedData).forEach((key) => {
                    formattedData.push({k: key, v: importedData[key]});
                });
                existingChild.name = d[HCnums[HCnums.length - 1]]; // Assign name directly
                existingChild.value = parseInt(d.count); // Assign value directly
                existingChild.val = formattedData; // Assign val directly
                delete existingChild.children; // Remove children array
            }
        }

        return data;
    }


</script>


<script>

    function downloadChartAsSVG(svgNode, filename) {
        const svgContent = new XMLSerializer().serializeToString(svgNode);
        const blob = new Blob([svgContent], {type: "image/svg+xml"});

        const link = document.createElement("a");
        link.href = URL.createObjectURL(blob);
        link.download = filename;

        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }

    const downloadButton = document.getElementById("downloadButton");
    const buttonContainer = document.getElementById("buttoncontainer");
    buttonContainer.appendChild(downloadButton);

document.getElementById('import').addEventListener('click', function() {
document.getElementById('popup').style.display = 'block'; // Show the pop-up
});


const firstDropdown = document.getElementById('dropdown');
const secondDropdown = document.getElementById('secondDropdown');
const subfieldsData = {{ subfields_data | tojson }};

firstDropdown.addEventListener('change', function() {
    const selectedValue = firstDropdown.value;
    const subfields = subfieldsData[selectedValue] || [];
    secondDropdown.innerHTML = '';

      subfields.forEach(value => {
            const option = document.createElement('option');
            option.text = value;
            option.value = value;
            secondDropdown.appendChild(option);
        });
    });


document.addEventListener('DOMContentLoaded', function() {
    const popup = document.getElementById('popup');
    const openPopupButton = document.getElementById('import');
    const closeBtn = document.querySelector('.close');
    let offsetX, offsetY;

    popup.addEventListener('mousedown', function(event) {
        offsetX = event.clientX - popup.getBoundingClientRect().left;
        offsetY = event.clientY - popup.getBoundingClientRect().top;
        document.addEventListener('mousemove', onMouseMove);
    });

    document.addEventListener('mouseup', function() {
        document.removeEventListener('mousemove', onMouseMove);
    });

    function onMouseMove(event) {
        const x = event.clientX - offsetX;
        const y = event.clientY - offsetY;
        popup.style.left = `${x}px`;
        popup.style.top = `${y}px`;
    }

    openPopupButton.addEventListener('click', function() {
        popup.style.display = 'flex';
    });

    closeBtn.addEventListener('click', function() {
        popup.style.display = 'none';
    });

});


</script>

</body>
</html>
