<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bubble</title>
</head>
<body>
<h1>This is a test template for the Bubble Plot</h1>

<p>
    {{data}}
</p>

</body>
</html>