@charset "UTF-8";
/*
 * jQuery File Upload Plugin CSS Example 8.8.2
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */
.ui-progressbar.ui-widget-content {
   background: #4eb0477d;
}

.ui-progressbar.value {
     color: purple;
     
  }