
{% extends "jql_base.html" %}
{% block head%}
{{ super() }}
<link rel ='stylesheet'href="{{url_for('static',filename='css/table/validation_grid.css')}}">
<link rel="stylesheet" href="/static/css/upload/style.css">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="/static/css/upload/jquery.fileupload.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">

{% endblock %}

{% block title %}{{appname}} - Upload {{species}}{% endblock %}

{% block tablecontent %}
      <!-- Title -->
    <div style="font-size: 1.3em;  font-weight: bolder; color: #31708f;margin-bottom: 10px;margin-left: 5px">
        Upload Reads <a href="#"onclick="window.open('https://enterobase.readthedocs.io/en/latest/features/add-upload-reads.html', 'width=200,height=150');"><img
                                src="/static/img/upload/new_info_s.svg"
                                style="cursor: pointer; vertical-align: super"></a>
    </div>

    <!--The actual table and paginator-->
	<div id = "tabs23" >
		<ul style="border-bottom-right-radius:0px!important;border-bottom-left-radius:0px!important;">
			<li><a href="#tabs-metadata">Add Metadata</a></li>
			<li><a href="#tabs-inforeads">Uploaded Reads </a></li>
			
		</ul>
		<div id = "tabs-metadata" style="padding-bottom:2em">
			<div id ="tablemenu-metadata" ></div>
			<div style = "margin-bottom:4px">
				<div style='display:inline'>
                    <div style='float:left;display:inline;margin-left:5px;margin-top:5px' >
						<b>Rows Total:</b><span id="rowcount-metadata">0</span>
						<b>Errors:</b><span id="errorcount-metadata">0</span>
						<img id ="loadingImage-metadata" align ='right' alt="waiting" src ="{{url_for('static',filename='img/upload/waiting_wbg.gif')}}">
					</div>
                    <div style="float:right;margin-right:5px">
                        <label style="margin-left:4px">Contact Email</label>
                        <input id="sra-email" disabled='disabled' type='email'>
                        <label style="margin-left:4px">Release Period (Months)</label>
                        <input id="release-date-spinner" type='text' value='{{def_rel_period}}' style="width:30px" readonly="readonly">
                        <button id='submit'
                                style="margin-left:4px;background:#31708f;font-weight: bold;color:#ffffff;border-radius: .2em">
                            Submit Data
                        </button>
                    </div>
				</div>
			</div>

			<div id="tablecontent-metadata" style='min-width:100%!important;height:90%;overflow:scroll;padding-bottom:5px;padding-top:5px;font-family: :sans-serif!important;'></div>
			<div style='float:left'>
				<label for="pagesize">Page Size: </label>
				<select id="pagesize-metadata" name="pagesize">
				<option selected value="25">25</option>
				<option value="50">50</option>
				<option value="100">100</option>
				<option value="250">250</option>
				<option value="500">500</option>
				<option value="1000">1000</option>
				</select>
			</div>
			<div id="paginator-metadata" style='height:2%'></div> 
		</div>
	
		<div id = "tabs-inforeads">
		<div id ="second-container" class="row">
		<div id = "tabs-readsummary" class="col-md-6" style="margin-right:0px" >
			<h3>Uploading Summary</h3>
			<div id = 'upload-info-panel'></div>
			<div id ="tablemenu-reads" ></div>
			<div>
				<button alt="Specify the location of read files in a local directory" id = 'add-directory' style ="margin-left:4px;margin-bottom:5px;">Add Directory</button>
				<span id = "directory-list"></span>
			</div>
			<div style='text-align:right'>
				
			</div>
			<div id="tablecontent-reads" style='width:100%;height:90%;overflow:scroll'></div>
			<div style='float:left'>
				<label for="pagesize-reads">Page Size: </label>
				<select id="pagesize-reads" name="pagesize-reads">
				<option selected value="25">25</option>
				<option value="50">50</option>
				<option value="100">100</option>
				<option value="250">250</option>
				<option value="500">500</option>
				<option value="1000">1000</option>
				</select>
			</div>
			<div align = "center" id="paginator-reads" style='height:2%'></div> 
		</div>	
	
	 <div id = "tabs-upload" class="col-md-6">
	<h3>Local Uploads</h3>

	<div id = 'local-info-panel'></div>	

	<!-- Redirect browsers with JavaScript disabled to the origin page -->
	<noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
	<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
	<div class="row fileupload-buttonbar">
		<div>
			<!-- The fileinput-button span is used to style the file input field as button -->
			<button id = "addbutton" class="btn btn-success fileinput-button">
				 
				<span class="glyphicon glyphicon-plus"></span>
				 <input id ="fileupload" type="file" accept='.gz' name="files[]" multiple>
			
				 
				 Add Files...
				</button>
			   
			</span>
			<button id ="startbutton" class="btn btn-primary start">
				<i class="glyphicon glyphicon-upload"></i>
				<span>Start upload</span>
			</button>
			<button id = "cancelbutton" type="reset" class="btn btn-warning cancel">
				<i class="glyphicon glyphicon-ban-circle"></i>
				<span>Cancel upload</span>
			</button>
		<!-- 
			<button type="button" class="btn btn-danger delete">
				<i class="glyphicon glyphicon-trash"></i>
				<span>Delete</span>
			</button>
		-->
			<!-- The global file processing state -->
			<span class="fileupload-process"></span>
		</div>
		<br/>
		<!-- The global progress state -->
		<div>

		&nbsp;	Time Left:<span id ='eta-label'></span>

			<!-- The global progress bar -->
			<div class="progress" style='background-color:#4eb0477d;margin-left:10px;width:90%'>
				<div id ="globalbar" class="progress-bar" role="progressbar" aria-valuenow="0"
						aria-valuemin="0" aria-valuemax="100" style="width:0%">
			</div>
			</div>
		</div>
	</div>
	<!-- The table listing the files available for upload/download -->
	<div id='files'>
		<table role="presentation" style ="font-size:14px" class="table table-striped">
			<thead style="background-color: #d9edf7" >
				<b><td>File</td><td>Size</td><td>State</td><td>Progress</td><td>Remove</td></b>
			<thead>
			<tbody id = "fileinput"></tbody>
		</table>
	</div>
	</div>
	</div>
	</div>
	</div>

{% endblock %}

{% block scripts %}
{{super()}}
 <!--All the required scripts-->
<script src="{{beta_url}}/static/js/table/editablegrid-2.0.1.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{url_for('static',filename='js/main/contextMenu.min.js')}}"></script>

<script src="{{beta_url}}/static/js/table/ddsmoothmenu.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/table/validation_grid.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/table/jeoquery.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/main/leaflet/leaflet.js"></script>
<script src="{{url_for('static',filename='js/main/leaflet/leaflet.js')}}"></script>
<script src="{{beta_url}}/static/js/table/strain_validation_grid.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/table/up_load_reads_validation_grid.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<!--script src="https://maps.google.com/maps/api/js?sensor=true"></script>
<script src="{{url_for('static',filename='js/main/gmaps.min.js')}}"></script -->
<script src="{{beta_url}}/static/js/table/reads_grid.js?version={{config['JAVASCRIPT_VERSION']}}"></script>

<!--allow reading of .gz files  -->
<script src="{{beta_url}}/static/js/upload/pako.min.js"></script>
<script src="{{beta_url}}/static/js/upload/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="{{beta_url}}/static/js/upload/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="{{beta_url}}/static/js/upload/jquery.fileupload-process.js"></script>
<!-- The File Upload validation plugin -->
<script src="{{beta_url}}/static/js/upload/jquery.fileupload-validate.js"></script>
<script src="{{beta_url}}/static/js/upload/main.js"></script>
<script>   
    var speciesName = "{{species}}";
    
    //set geo account
    jeoquery.defaultData.userName = 'enterobase';
    
    var validationGrid = new UploadReadsValidationGrid(
	"SpeciesGrid",
	{
	    enableSort: true,  
	    editmode: "static", 
	    editorzoneid: "edition", 
	    allowSimultaneousEdition: false,
	    pageSize:25
	},
	speciesName,"{{reads_allowed}}"              
    );
	var readsGrid = new ReadsGrid(
	"ReadsGrid",
	{
		enableSort: true,  
		editmode: "static", 
		editorzoneid: "edition", 
		allowSimultaneousEdition: false,
		pageSize:25
	},
	speciesName                  
	);
	
	
	
    
    validationGrid.imgFolder="{{url_for('static',filename='img/upload/')}}"
	 readsGrid.imgFolder="{{url_for('static',filename='img/upload/')}}"
    validationGrid.addMenuBar("tablemenu-metadata");
    
    var loadingImage;

    var accordian;
    
	//upload variables    
    var globalData= [];
	var jhq = [];
	var fileNumber=0;
	var species = '{{species}}'
	
	var already_uploaded = {};
	var uploadNumber=0;
	var name_to_number = {};
	var upload_in_progress = false;
	var start_time = 0;
       var fileupload = null;
	var total_errors=0;
	var readsFailed = false;
	
    
    
    //function called after set up has completed    
    function finishedSetup(msg){
	
		with (validationGrid){	  
			//second argument is the name of the table class in the css
			addToPage("tablecontent-metadata","testgrid");
			setErrorListener(function (errors,rows){	
				$("#errorcount-metadata").html(errors);	
				
				if (errors === 0 ){  //&& $("#sra-email").val()
				       
					$("#submit").removeAttr("disabled");
				}
				else{
					$("#submit").attr("disabled","disabled");
				}
		
				
			});
			setRowNumberListener(function (rowCount,filterCount){
				$("#rowcount-metadata").html(rowCount);
			});
	   
			uploadURI=Enterobase.put_url;
			finishedUploadCallback = finishedSubmission;
			loadingImage.hide();
			insertRowAfter(0,default_values);
			showErrors = true;
			validateStrains();
			refreshGrid();
			
			
		}
		
		
		readsGrid.setMetaData();
		getUserReadInfo();
		
		readsGrid.addToPage("tablecontent-reads","testgrid")
		
		
    };
	
	function checkAllReadStatus(){
		if (readsGrid.hasReadWithStatus("Awaiting Upload")){
			$("#upload-info-panel").html("You have reads which need uploading- You can upload local reads by specifying their local folder using the Add Directory button. "+
			" In Firefox and IE, you cannot  select the entire folder, but instead have to select multiple files."+
			" Alternatively you can <b>drag and drop files </b>from a local directory to the right hand panel"+
			" If you are having problems uploading reads please contact us")
		}
		if (readsGrid.hasReadWithStatus("Local Upload")){
			$("#local-info-panel").html("You have local reads which are ready to upload, please press the start button")
		}
		
		
	}
	
	function getUserReadInfo(){
		Enterobase.call_restful_json("/get_user_read_info?species="+speciesName,"GET","",showError).done(function(data){	
				if (data && data.length>0){
				
					//original
					/*
					for (index in data){
						var item = data[index];						
						validationGrid.serverReadStatus[item['read_1']]=item['read_1_status'];
						validationGrid.serverReadStatus[item['read_2']]=item['read_2_status'];
					}
					*/
					
					for(var i=0;i<data.length;i++){
						var item = data[i];
						validationGrid.serverReadStatus[item['read_1']]=item['read_1_status'];
						validationGrid.serverReadStatus[item['read_2']]=item['read_2_status'];
						
						if(item['read_1_status'] == 'Assembled' || item['read_2_status'] == 'Assembled' ){
							data.splice(i,1);
							i=i-1;
							continue;
						}

					}
					
					
					readsGrid.resetGrid();
					readsGrid.loadNewData(data,false,false);
					readsGrid.updateLocalReads(validationGrid.files);
					checkAllReadStatus();
				}
				
			});
	};
	
	function add_file_to_uploader(file){
		
		
	
	}
    
    function fileLoaded(msg){
	if (msg != "OK"){	
	    Enterobase.modalAlert("The file could not be loaded. "+
	    "Are you sure it is tab dilineated text?");
	}
	else{
	    validationGrid.setReadDefaults();
	    validationGrid.validateStrains();
	    validationGrid.refreshGrid();
	
	}
	loadingImage.hide();
    
    }
	
	
      
    //call back after all records submitted
    function finishedSubmission(msg){
	$("#status").html("Editing"); 
		validationGrid.refreshGrid(); 	
		Enterobase.modalAlert(msg,"Information",false);
		setTimeout(updateUserJobs,10000);
	}
    
window.onload = function() {
	//$('#second-container').layout({ applyDefaultStyles: true});
    $( "#tabs23" ).tabs();
	 $('#release-date-spinner').spinner({
		min:0,
		max:12
		}
		);
    with (validationGrid){
	addMenuTopItem("data","Data");
	addMenuTopItem("edit","Edit");
	addMenuTopItem("view","View");
	validationGrid.setPaginator("paginator-metadata");
	readsGrid.setPaginator("paginator-reads");
	var i = Enterobase.makeCustomFileInput("fileupload",function(file){  
	     validationGrid.loadFile(file,false,fileLoaded);
	  
	});
	
	addMenuSubItem("data","load","Load Local File",function(e){
	    loadingImage.show();
	    i.val("");
	    i.trigger("click");
	});
	
	addMenuSubItem("data","save","Save To Local File",function(e){
	    var para = {label_headers:true};
	    var data = validationGrid.getGridAsText(para);
	    Enterobase.showSaveDialog(data.join("\n"));
	});
	addMenuSubItem("edit","undo","Undo (ctrl+Z)",function(){
	    validationGrid.undo();
	});
	addMenuSubItem("edit","add_row","Add Blank Row",function(){
	   var endRow = validationGrid.getCompleteRowCount()-1
	    	validationGrid.insertRowAfter(endRow,validationGrid.default_values);
			validationGrid.refreshGrid();
	});	
	addMenuSubItem("edit","remove_selected","Remove Seleted Rows",function(){
	    validationGrid.removeSelectedRows();
	});	
	addMenuSubItem("edit","search_and_replace","Search and Replace",function(){
	    //don't want to check all the countries at once
	    validationGrid.checkLocation = false;
	    validationGrid.showSearchAndReplacePopup(function(){
		for (var location in validationGrid.allLocations){
		    validationGrid.checkAllLocations(location);		
		}
		validationGrid.checkLocation = true;
	    });
	});	
		
	addMenuSubItem("view","change_display_settings","Display Settings",function(e){
		validationGrid.showChangeDisplayPopup();
	});   
	
	addMenuSubItem("view","show_hide_columns","Show/Hide Columns",function(e){
		validationGrid.showHideColumnsPopup();
	});
	addMenuSubItem("view","filter","Filter Data",function(e){
		validationGrid.showFilterPopup();
	});
    }    
    $("#submit").attr("disabled","disabled")
    .click(function(){
		var info = validationGrid.updateReadInfo($("#sra-email").val(),$("#release-date-spinner").val());
		if (info['local_files'].length >0){
			$("#startbutton").show();
		}
		
		for (var index in info['read_info']){
			readsGrid.insertRowAfter(0,info['read_info'][index]);
		}
		readsGrid.refreshGrid();
		//add any reads to the upload tab
		$('#fileupload').fileupload("add",{files:info['local_files']});
		
		validationGrid.resetGrid()
		validationGrid.refreshGrid();
		validationGrid.insertRowAfter(0,validationGrid.default_values);
		$("#sra-email").val("");
		checkAllReadStatus();
		
		
		$("#tabs23").tabs("option", "active", 1);
		
    });
   
	$("#add-directory")//.attr("disabled","disabled")
	.click(function(){
		
		
		var fb = new Enterobase.FileBrowser(function(files){
		for (index in files){
			var  file = files[index];
		
			$('#fileupload').fileupload("add",{files:file});
				
					
		}
		
		
		
		
		},"",true,true);
		fb.getFiles();	
	});
	
    
    loadingImage = $("#loadingImage-metadata");
    validationGrid.setMetaData("/api/v1.0/uploadfields",finishedSetup);
	readsGrid.readsRemovedListener = function(name_list){
		for (var index in name_list){
			delete validationGrid.serverReadStatus[name_list[index]];
		}
	
	};
      
};

//all the upload stuff

function finished_test(file,is_fq){
	var info =$("#info-upload-"+file.uploadNumber);
	var list = globalData[file.uploadNumber];
	list[1]= is_fq;
	if (!is_fq){
		info.html("Not a fastq file");
	}

}

function showError(msg){
	Enterobase.modalAlert(msg);
}

function allFilesLoaded(){
	$("#cancelbutton").hide();
	var msg =  "Some files have not been uploaded - You can try again by returning to this page or use the stand alone uploader";
	var type  ='Warning'
	if (!readsFailed){
		msg= "Your files have been uploaded - You can follow the progress of the assembly on My Jobs";
		type = "Successful Upload"
	}
	Enterobase.modalAlert(msg,type);
		upload_in_progress = false;
}


 $(function(){
	  
	$("#pagesize-metadata").change(function(e){
		validationGrid.setPageSize($(this).val());
	});
	$("#pagesize-reads").change(function(e){
		readsGrid.setPageSize($(this).val());
		
	});
	
	
	$("#addbutton").hide();
	
	var send_data = {
	species:species,
	}
	 $(window).bind('beforeunload', function(){
	if(upload_in_progress){
	return "The are files in the process of being uploaded - Do you really want to navigate away from this page?";
	}
	});
	
	
	$('#cancelbutton').hide();
	$("#sra-email").blur(function(e){
		if ($(this).val() && total_errors===0){
		   $("#submit").removeAttr("disabled");
		}
	}).keyup(function(event){
		if(event.keyCode===13){
			$(this).blur();
		}
	});
 
	$("#startbutton").click(function(e){
		fileNumber=0;
		$('#cancelbutton').show();
		var files_to_upload= [];
		for (i in globalData){
			if (globalData[i][1]){
				jhq.push(globalData[i][0].submit());
				fileNumber++;
					$("#remove-upload-"+i).unbind("click").html("");
				}
				else{	
					$("#upload-row-"+i).remove();		
			}
		}
		
		$('#cancelbutton').show();
		upload_in_progress = true;
		start_time = Date.now();
	}).hide();
	
	
	$("#cancelbutton").click(function(e){
	for (i in jhq){
		jhq[i].abort();
	}
	upload_in_progress = false;
	Enterobase.modalAlert("Uploading of your files has been cancelled. Press OK to reload the page and retry or use the stand alone uploader.",
				"Warning",false,function(){
					location.reload();
				});
	

	
	})
	fileupload = $('#fileupload').fileupload({
		url: "/upload/upload_reads?species="+species,
		dataType: 'json',
		autoUpload: false,
		dropZone:$("#maindiv"),
		timout:1000000
	   
	}).on('fileuploadadd', function (e, data) {
		var file_to_check = data.files[0];
		var list =readsGrid.getFilesForUpload();
		if (list.indexOf(file_to_check.name)===-1){
			return;
		}
		var seq_platform = readsGrid.getReadPlatform(file_to_check.name);
		validationGrid.validateReadFile(file_to_check,seq_platform, function(file,reason){
					if (reason){
						readsGrid.setReadStatus(file.name,reason);
					}
					else{
						readsGrid.setReadStatus(file.name,"Local Upload");
						var submit = true;


						var name = file.name;
						//already exists
						if (name_to_number[name] || name_to_number[name]===0){
							return;
						}

						file.uploadNumber= uploadNumber;
						name_to_number[name]=uploadNumber;
						var status = "Pending";
					
						var row = $('<tr/>').attr("id","upload-row-"+uploadNumber).appendTo('#fileinput');
						//name of the file
						var node1 = $('<td/>').append($('<span/>').text(file.name));
						node1.appendTo(row);
						//size of the file
						var node2  = $('<td/>').append($('<span/>').text(file.size));
						node2.appendTo(row);
						//state of the file
						var tag_name = "upload-"+uploadNumber;
						var node3  = $("<td id ='info-"+tag_name+"'>"+status+"</td>");
						node3.appendTo(row);
						var node4  = $("<td/>");
						var pbar = $("<div style = 'height:13px' id='bar-"+tag_name+"'></div>");
						pbar.appendTo(node4);
						pbar.progressbar({
							value: 0
						});
					   
						node4.appendTo(row);
						var node4  = $("<td/>");
						if (submit){
							already_uploaded[name] = "Added";
						}
						var node5 = $("<td>").data("number",uploadNumber).css("cursor","pointer").attr("id","remove-"+tag_name);
						node5.html("<span style = 'color:red' class = 'glyphicon glyphicon-remove'></span>")
						node5.click(function(e){
							var num = $(this).data('number')
							$("#upload-row-"+num).remove();
							delete globalData[num];
							delete already_uploaded[name];	 
						});
						row.append(node5);
						uploadNumber++;		
						globalData.push([data,submit]);     
						$("#startbutton").show();
						$("#local-info-panel").html("You have local reads ready to upload. Please click the Start button.")
		
					}
				});
	
		
		
	}).
	
	
	on('fileuploadprocessalways', function (e, data) {
	   
		var index = data.index
		var file = data.files[index];
		var node = $("#"+file.name);  
		if (file.error) {
			node.html('<span class="text-danger"/>'+file.error+'</span>')
			   
			   
		}
		else{
			node.html("Uploading");
			
		
		}
	
	 }).on('fileuploadprogressall', function (e, data) {
		
	   
	
		var progress = parseInt(data.loaded / data.total * 100, 10);
	var time_taken =  (Date.now() - start_time);
	var time_left =  time_taken*(100/progress);
	
	var eta=(time_left-time_taken)/1000
	$('#eta-label').html(eta.toString().toHHMMSS());
		$('#globalbar').css(
			'width',
			progress + '%'
		);    
	}).on('fileuploadprogress', function (e, data) {
		var name = data.files[0].name.split(".")[0];
	var file = data.files[0];
	
		var progress = parseInt(data.loaded / data.total * 100, 10);
		$("#bar-upload-"+file.uploadNumber).progressbar( "value", progress);
		
		$("#info-upload-"+file.uploadNumber).html("uploading");
	if (data.loaded === data.total){
		 $("#info-upload-"+file.uploadNumber).html("Processing");
	}
	}).bind('fileuploadstart', function (e, data) {
		   $("#addbutton").hide();
	   $("#startbutton").hide();
	   //readsGrid.setReadStatus(data.files[0].name,"Uploading");
	   upload_in_progress = true;
		})
	
	
	.on('fileuploaddone', function (e, data) {
	   
		$.each(data.result.files, function (index, file) {
			var node = $("#info-upload-"+name_to_number[file.name]);  
		   
			node.html("Success");
		fileNumber--;
		if (fileNumber === 0){
			allFilesLoaded();
		}
		
	});
	}).on('fileuploadfail', function (e, data) {
		$.each(data.files, function (index,file) {
			var node = $("#info-upload-"+name_to_number[file.name]); 
			node.html("Failed Upload");
			fileNumber--;
			readsFailed =true;
		if (fileNumber === 0){
			allFilesLoaded()
		}
		
		   
	});
	}).prop('disabled', !$.support.fileInput)
		.parent().addClass($.support.fileInput ? undefined : 'disabled');
	});
	
	validationGrid.fileUpload = $("#fileupload");
	
	String.prototype.toHHMMSS = function () {
	var sec_num = parseInt(this, 10); // don't forget the second param
	var hours   = Math.floor(sec_num / 3600);
	var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
	var seconds = sec_num - (hours * 3600) - (minutes * 60);

	if (hours   < 10) {hours   = "0"+hours;}
	if (minutes < 10) {minutes = "0"+minutes;}
	if (seconds < 10) {seconds = "0"+seconds;}
	var time    = hours+':'+minutes+':'+seconds;
	return time;
}

</script>
	

{% endblock %}








