<!-- H.F. 20/10/2020 -->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block head %}
{{super()}}
<link rel="stylesheet" href={{url_for('static',filename='css/forms/basic.css')}}>

{% endblock %}
{% block title %}Enterobase - NGINX Server Configuration{% endblock %}

{% block maincontent %}


    <p align="center">
        <div   class="register">
          <h3>Initial Settings for Front-End</h3>
          <p><b>Please read the <a target ="_blank" 
          href="http://enterobase.readthedocs.io/en/latest/enterobase-terms-of-use.html">
          EnteroBase terms and conditions</a>.</b></p>
          <form class="form-hrizontal" method="POST" id="reg-form">
           {{ form.hidden_tag() }}
                <h5><b>Load Balancer (NGINX)</b></h5>
                {{macros.render_field(form.server_url_ip, hover="URL or IP address for the NGINX server hosting your local Enterobase instance.") }}
                <h6><b>Advanced Configuration:</b></h6>
                {{macros.render_field(form.http_port, hover="Port number for http access to your local Enterobase instance (default=80).") }}
                {{macros.render_field(form.https_port, hover="Port number for https access to your local Enterobase instance (default=443).") }}
                {{macros.render_field(form.worker_connections, hover="The maximum number of parallel connections the local Enterobase instance can handle (default=1024).")}}
                {{macros.render_field(form.sendfile_max_chunk, hover="The maximum amount of data that can be sent with a single send_file() call in kilobytes (default=1024).") }} 
                {{macros.render_field(form.client_max_body_size, hover="The maximum upload file size the local Enterobase instance can handle in megabytes (default=4000).") }}
                {{macros.render_field(form.keepalive_timeout, hover="How long the TCP connection between the client and the server stays open after an HTTP transaction has been completed in seconds (default=65).") }}
                <h5><b>Gateway Interface (Gunicorn):</b></h5>
                {{macros.render_field(form.local_enterobase_uri, hover="The URL or IP of the server facilitating the assembly of short reads.") }} 
                <br/>
                {{macros.render_field(form.local_enterobase_port, hover="The port of the server facilitating the assembly of short reads.")}}
                <div>
                
              <label></label>
              <div  class= "button">{{ form.submit(class_="btn btn-primary") }} </div> 
            </div>
          </form>
        </div>
    </p>
 
{% endblock %}
