<!-- H.F. 20/10/2020 -->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block head %}
{{super()}}
<link rel="stylesheet" href={{url_for('static',filename='css/forms/basic.css')}}>

{% endblock %}
{% block title %}Enterobase - NGINX Server Configuration Download{% endblock %}

{% block maincontent %}


    <p align="center">
        <br/>
        <a class="button" href={{download_link}}>Click here to download nginx.conf</a>
    </p>
 
{% endblock %}
