.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important; color: #dddddd !important}
.navbar-nav > li > a:hover {color:#ffffff !important;}
.navbar-brand {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:15px !important; margin-bottom:0px !important; background-color: #333; border-radius: 0px!important;}


.navbar-nav > li.open > a,
.navbar-nav > li.active > a {
    color: #000000 !important;
    background-color: #ffffff !important;
}

.navbar-nav > li.dropdown.open > a {
    color: #000000 !important;
    background-color: #ffffff !important;
    border: none!important;
}

.dropdown-menu {
    border-top: none!important;
}
html, body{
  height: 100%;
    fonr-size:15px;
}


#headerdiv{
	position: relative;
	white-space:nowrap;
	overflow: hidden;
}

#headerdiv a{
	color:black !important;

}
#headerdiv a:hover{
	text-decoration:none !important;
}

.sub-title {
    font-size:14px;
    color:black;
    font-weight:500;
    display:inline-block;
    white-space:normal;
}

#strain-count-lbl {
    margin-top:12px;
    margin-bottom:12px;
    font-size:24px;
}

.legacy-link{
	background-color:#cfcfcf;
	font-weight:bold;
	color:black;
	padding-top:4px;
	padding-bottom:4px;
	font-size:14px;
	margin:0px;
	
}
.legacy-link:hover{
	background-color:white;
	cursor:pointer;
	text-decoration:none;
}


#headerdiv::after{
  content: "";
  background: url(/static/img/general/salmonella_new.jpg);
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  filter: hue-rotate(140deg);
 transform: scaleX(-1);
 -webkit-filter: hue-rotate(140deg);
 -moz-filter: hue-rotate(140deg);
 -o-filter: hue-rotate(140deg);
 -ms-filter: hue-rotate(140deg);

}

.headerlink {
        font-size: 26px;
        visibility: hidden;
    }
    h1:hover > .headerlink, h2:hover > .headerlink {
        visibility: visible;
    }

.vakata-context{
	z-index:200;
}

.ui-datepicker-month{
	color:black;
}

.ui-datepicker-year{
	color:black;
}


.main-database-info {
	 padding:30px

}

.main-database-info td {
	 padding-right:5px

}


.jobs-accordion-header{
	font-size:12px !important
}

.jobs-accordion-content{
	font-size:12px !important;
	overflow:visible !important;
	padding: 3px 3px 3px 3px !important;
}


#headerdiv {padding-top:5px;padding-bottom:5px !imortant ;font-size:40px}
.headerdiv a  {text-decoration:none; color:black}

.panel-body {
  padding-top:5px;padding-bottom:0px 
  &:extend(.clearfix all);
}

.panel-heading {
  padding-top:5px;padding-bottom:0px 
  &:extend(.clearfix all);
}
#maindiv {
	padding:3px !important;
	background-color:#ffffff !important;
}

#page-wrapper {
    background-color: #ffffff !important;
}

.species-header-image-panel {

    margin-top:8px;
    margin-bottom:8px;
}

.header-icon-holder img {
    height:80px;
}

.footer-row {
    background-color:white;
    padding:12px;
}

.query_button{
	margin-right:5px;
	margin-bottom:5px;
}

#compound_dialog {
  font-size:10px !important;
}

#dialog_table{
  border:none
}
.info-table td{
	border: 1px solid black;
}


hr{
    display:block;
    margin-top: 4px;
    margin-bottom: 4px;
    height:1px;
    border-width:1px;
    border-style:inset

}

a[disabled] {
    pointer-events: none;
    color:gray !important;
}

.myicon .ui-icon
{
    display: block-inline;
}





/*
 *contextMenu.js v 1.1.2
 *Author: Sudhanshu Yadav
 *s-yadav.github.com
 *Copyright (c) 2013 Sudhanshu Yadav.
 *Dual licensed under the MIT and GPL licenses
 */
/*Context menu css */
.iw-contextMenu {
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	border:1px solid #E6E6E6;
	display:none;
	z-index:1000;
	overflow:auto;
}
.iw-cm-menu{
	background:#F4F4F4;
	color:#333;
	margin:0px;
	padding:0px;
	}

.iw-cm-menu li {
	list-style:none;
	padding:3px;
	padding-left:30px;
	padding-right:20px;
	border-bottom:1px solid #CCC;
	cursor:pointer;
	position:relative;
}
.iw-mOverlay{
	position:absolute; width:100%; height:100%; top:0px; left:0px;
	background:#FFF;
	opacity:.5;
	}
.iw-contextMenu li.iw-mDisable {
	opacity:.3;
}
.iw-mSelected {
	background-color:#aadce7;
	color:#F2F2F2;
}
.iw-cm-arrow-right {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent; 
	border-left:5px solid #333333; 
	position:absolute;
	right:3px;
	top:50%;
	margin-top:-3px;
}

.iw-mIcon{
	width:20px;
	height:20px;
	left:0px;
	top:3px;
	position:absolute;
	}
	
/*context menu css end */

.species-box {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 4px 5px 5px 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 4px 5px 5px 6px rgba(0, 0, 0, 0.6);
  box-shadow: 2px  3px 3px 3px rgba(0, 0, 0, 0.6);
    height:220px;
    width:220px;
  background-image:url('/static/img/general/bac_box.png');
  
  margin:auto;
  

}
.species-box:hover{
   
     -webkit-box-shadow: 4px 5px 5px 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 4px 5px 5px 6px rgba(0, 0, 0, 0.6);
  box-shadow: 4px  4px 4px 4px rgba(0, 0, 0, 0.6);
  cursor:pointer;

}
.species-header{
    font-style: italic;
    font-weight:bold;
   /* text-align:center; */
    padding: 4px;
    font-size:20px;

}
.total-strains{
     /* font-weight:bold;
      text-align:center; */
       padding: 2px 8px 2px 8px;
       font-size:14px;
       background-color:#aadce7;
       border-radius:12px;
       display:inline-block;
       margin:4px;
       color:black;
}

.assemblies-in-progress{
     padding: 2px 8px 2px 8px;
     font-size:14px;
     background-color:#aadce7;
     border-radius:12px;
     display:inline-block;
     margin:4px;
     color:black;
}

.num-schemes{
    padding: 2px 8px 2px 8px;
    font-size:14px;
    background-color:#aadce7;
    border-radius:12px;
    display:inline-block;
    margin:4px;
    color:black;
}

.mlst-information {
     padding: 4px;

}

.tabbed-list {
	/*display:block;*/
	white-space:nowrap;
	list-style:none;
	padding-left:1px;
	/*z-index:2;*/
	display:table;
	margin-bottom:-2px!important;
    border-collapse: collapse;
}

.tabbed-list li {
    float: left;
}

.tabbed-list li a {
    color: #222;
    display: block;
    padding: 6px 15px;
    text-decoration: none;
}

.tabbed-list span {
    color: #222;
    display: block;
    padding: 6px 15px;
    text-decoration: none
}

.tab-selected {
    background: #EEEEEE;
}

.table-text-right{
	text-align:right;
	white-space:nowrap;
}
.table-input{
	width:150px
}

.panel-with-image{
    background-size:cover;
    background-repeat:no-repeat;
    border-style:none;
}

.panel-with-link {

    cursor:pointer;
}

.image-panel-footer{
    border-style:none;
    background-color: #333;
    color: #fff;
}

.search-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
    /*background-color: #f0f0f0; !* Background color for the entire header *!*/
    padding: 2px; /* Padding added to the entire header */
}

/*keeping the query division for strain and experimental data in a container for better control and alignment*/
.search-container {
    margin: 0px; /* Adjust margin as needed */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position:relative;
}

/*toggle minimizer*/
.search-panel-minimize-button{
    border-radius: 8px;
    padding: 0.5em;
    border: 2px #31708f;
    color: #31708f;
    position: relative;
}

.search-panel-minimize-button:hover {
    border: 2px #aadce7;
    background-color: #31708f;
    color: #ffffff;
}

.btn-right {
    /*bottom:0;*/
    float:right!important;
    margin-right:5px;
    /*position: absolute;*/
}

#search-container.minimized {
    height: 20px;
    overflow: hidden;
}


.ui-layout-resizer.ui-layout-resizer-east{
    background-color: #dbdbdb;
    opacity: 1; /* Fully opaque */
    z-index: 3;
    position: absolute;
    width: 6px;
    cursor: e-resize;
    border: 1px solid #a9a9a9;
}


.ui-layout-toggler {
    background-color: #a9a9a9;
    z-index: 4;
}


/* home page autoscroll */

.welcome {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}

.welcome-cont {
    font-size: 14px;
    margin: 10px 20px;
    text-align: center;
}

.features-container {
    display: flex;
    align-items: center;
    position: relative;
}

.scroll-arrow {
    cursor: pointer;
    font-size: 2rem;
    color: #444545;
    padding: 10px;
    z-index: 1;
}

.scroll-arrow.left {
    position: absolute;
    left: 0;
}

.scroll-arrow.right {
    position: absolute;
    right: 0;
}

.features {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    margin: 0 40px;
}

.feature {
    flex: 0 0 auto;
    width: 150px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    /*background-color: #aadce7;*/
    /*border: 1px solid #ccc;*/
    text-align: center;
    position: relative;
    transition: transform 0.3s, height 0.3s, width 0.3s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px #777;
    border-radius: 15px;
}

.feature-title {
    font-weight: bold;
    margin: 0;
    padding: 10px 0;
    flex-shrink: 0;
    color: #444545;
}

.feature-description {
    display: none;
    font-size: 12px;
    margin-top: 2px!important;
    padding: 5px;
    flex-grow: 1;
    text-align: center;
}

.feature:hover {
    transform: scale(1.2);
    /*width: 150px;*/
    height: 200px;
}

.feature:hover .feature-description {
    display: block;
    margin-top: 10px;
}

#strain-count-lbl {
    text-align: center;
    padding: 10px;
}

.panel-db-primary {
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.panel-db-heading {
    border-radius: 15px 15px 0 0;
}

.panel-db-with-image {
    padding: 0;
    max-height: 130px;
    position: relative;
    overflow: hidden;
}

.panel-db-image {
    /*width: 100%;
    height: auto;*/
    object-fit: contain!important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 400px;
}

.warwick-logo {
    position: absolute;
    bottom: 10px;
    right: 10px;
    max-height: 100px;
    max-width: 100px;
}

.panel-db-body {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;
}

.panel-db-body .species-info h3 {
    margin-top: 0;
}

.panel-db-footer {
    background: #eee;
    padding: 5px 20px;
    text-align: right;
    cursor: pointer;
    border-radius: 0 0 15px 15px;
}

.panel-db-footer .fa-arrow-circle-right {
    font-size: 18px;
    color: black;
}
.panel-db-footer:hover {
    background-color: #434343;
    color: white;
}
.panel-db-footer:hover .fa-arrow-circle-right {
    color: white;
}
.database-container {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 15px 6px #d9d9d9;
    border: 1px solid #d9d9d9;
    /*border-radius: 15px;*/
}

.no-padding {
    padding: 0;
}

.species-info p{
    margin-bottom: 5px!important;
}

#custom-tooltip {
    position: absolute;
    display: none;
}