{% extends "bsl_base.html" %}
{% block head %}
{{super()}}

<!-- WVN 14/8/17 - borrowed style sheets from species index template
  since I decided I want it to have a broadly similar style to those pages -->
    <!-- Timeline CSS -->
    <link href="/static/css/bower/timeline.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/css/bower/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->

      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/js_tree/style.min.css" />

<style>
.makeBW {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.wvnVBigFont {
  font-size: 20pt;
}

.wvnBigFont {
  font-size: 16pt;
}
</style>

{% endblock %}
  
{% block maincontent %}
{{ super() }}

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Old Warwick MLST Website</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">

            <div class="row">
                            <div class="col-lg-12">
                <div class="panel panel-default">
                        <span class="wvnVBigFont">
                        <!-- <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Important Information
                        </div> -->
                        <!-- /.panel-heading -->

                        <div class="panel-body">
                        <p><b>THIS SITE IS UNDER CONSTRUCTION!</b></p>
                        </div>
                        </span>

                </div>

            </div>

{% endblock %}
    <!-- jQuery -->
{% block scripts %}
{{super()}}
  
{% endblock %}
