{% extends "bsl_base.html" %}
{% block head %}
{{super()}}
  <!-- MetisMenu CSS -->
  

    <!-- Timeline CSS -->
    <link href="/static/css/bower/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
 

 
    <!-- Custom Fonts -->
   
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/js_tree/style.min.css" />
    <style>
        .snp-parameters td {
            padding:3px; 
        }
         .snp-view-link{
            cursor:pointer;
        }
        
        .download-sub-div{
            margin-left:20px;
            font-size:11px;
        }
    
    </style>


{% endblock %}



  
{% block maincontent %}
{{ super() }}
 <!-- Navigation -->
       

           
            <!-- /.navbar-static-side -->
        
      
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">SNP Project: {{project_name}}</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-list fa-fw"></i> Summary
                        </div>
                       
                        <div class="panel-body">
                            <table class='snp-parameters'>
                                {% for label in summary['parameters'] %}
                                    <tr>
                                    <td><b>{{label}}</b></td><td>{{summary['parameters'][label]}}</td>
                                    </tr>
                                {% endfor %}
                                    
                            </table>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-eye fa-fw"></i> View
                           
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <a  class= 'snp-view-link' onclick="window.open('/ms_tree?tree_id={{project_id}}', 'grape_tree_window','width=1000, height=600')"><img  src ='/static/img/icons/ms_tree.png'>Grape Tree </a><br>
                            <a class = 'snp-view-link' onclick="window.open('/phylo_tree?tree_id={{project_id}}','phylo_tree_window' ,'width=1000, height=600')"><img src ="/static/img/icons/snp_tree.png">Dendrogram </a><br>
                            {% if jbrowse_uri %}
                             <a class ='snp-view-link' onclick="window.open('{{jbrowse_uri}}','jbrowse_tree_window' ,'width=1000, height=600')">   <img src="/static/img/icons/locus_search.gif">JBrowse </a> <br>
                            {% endif %}
                            <a class = 'snp-view-link' onclick="window.open('/species/{{species}}/accessory_genome/{{project_id}}','accessory_window' ,'width=1000, height=600')"><img src ="/static/img/icons/accessory_genome_icon.gif">Accessory Genome </a><br>
                            <a class = 'snp-view-link' onclick="createOrViewMicroReact()"><img src ="/static/img/icons/microreact.png">Microreact Project </a><br>

                        </div>
                        
                    </div>
                
                </div>   
            </div>
            
            <div class="row" id="downloads_div" style="display: none;>
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading" ">
                            <i class="fa fa-download fa-fw"></i> Downloads
                            
                            
                           
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                           <a  class= 'snp-view-link' onclick="downloadSNPFile('nwk')">nwk file </a><br>
                            <div class='download-sub-div'> 
                             <span style='font-size:14px'>identifier</span> <br>
                            <input type="radio" name="nwk-identifier" value="strain" checked> Strain Name<br>
                            <input type="radio" name="nwk-identifier" value=""> Strain Barcode<br>
                            <input type="radio" name="nwk-identifier" value="other"> Default (Assembly Barcode)
                            </div>
                              <a  class= 'snp-view-link' onclick="downloadSNPFile('matrix')">matrix </a><br>
                              <a  class= 'snp-view-link' onclick="downloadSNPFile('vcf')">vcf File </a><br>
                              <a  class= 'snp-view-link' onclick="downloadSNPFile('mapping')">mapping File </a><br>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                   
                    <!-- /.panel -->
                </div>   
                <!-- /.col-lg-8 -->
           
            </div>
           
     
{% endblock %}
    <!-- jQuery -->
{% block scripts %}
{{super()}}
<script charset="utf-8" src="/static/js/main/d3.min.js"></script>
<script charset="utf-8" src="/static/js/tree/microreact.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<!--script src="https://maps.google.com/maps/api/js?key=AIzaSyDNgPBHVSHb9DZS8pRr6gK_Hah3q0KERkU"></script -->
<script src="{{url_for('static',filename='js/main/leaflet/leaflet.js')}}"></script>
<!-- script src="{{url_for('static',filename='js/main/gmaps.min.js')}}"></script -->
    <script>
    var species = "{{species}}"
    var project_id = {{project_id}}
    var status = "{{status}}"
    var microreact_url = "{{microreact_url}}"
    var permission="{{permission}}"    
    if (permission=="True")
    {
     $('#downloads_div').show();   
    }
     else
    {
    //this one is not needed as the panel is hidden but it maybe activated to inform  the user about his permission  
      $("#downloads_div *").attr("disabled", "disabled").off('click');
    }
    
    //downloads_div
    
    function downloadSNPFile(type){
        
        var url = "/upload/download_snp_file?type="+type+"&snp_id="+project_id;
        if (type=='nwk'){
            var field = $("input[name='nwk-identifier']:checked").val();
            url+="&field="+field;
        
        } 
        Enterobase.downloadURL(url);
    
    }

    function displayErrorMessage(msg){
        Enterobase.modalAlert(msg);
    }

    function createOrViewMicroReact(){
        if (microreact_url){
            window.open(microreact_url, 'microreact_window','width=1000, height=600');
            return;
        }
         var wd = new Enterobase.ModalWaitingDialog("Getting Data",null,"default");
        Enterobase.call_restful_json("/get_tree_data?tree_type=phylo&id="+project_id,"GET","",displayErrorMessage).done(function(data){
           
            var mr = new MicroReactParser(data['metadata'],data['metadata_options'],data['nwk'],data['name'],project_id);
            mr.start(function(data){
                if (data['status']==="running"){
                    wd.setMessage(data['msg'])
                }
                else if (data['status']==='complete'){
                    wd.close();
                    microreact_url = data['msg'];
                    window.open(microreact_url, 'microreact_window','width=1000, height=600');
                }
                else{
                    wd.close()
                    Enterobase.modalAlert(data['msg']);
                }
                
            },true);


        });
    
    }


    $(function(){
        var msg = "OK"
        if (status === "running"){
            msg = "The SNP anlaysis is still running. <br>Please come back later. <br>An email will be sent to you once it is complete,<br> if you chose this option.";
        }
        else if (status === "failed"){
            msg = "Your SNP project has failed. <br>Please contact an administrator."
        }
        if (msg !== "OK"){
            var waiting_dialog = new Enterobase.ModalWaitingDialog(msg,
                                                                                                    null,
                                                                        "/static/img/upload/waiting_wbg.gif");
        }
    })
  
       
    </script>
{% endblock %}
