{% extends "bsl_base.html" %}
{% block head %}
{{super()}}
  <!-- MetisMenu CSS -->
  

    <!-- Timeline CSS -->
    <link href="/static/css/bower/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
 

    <!-- Morris Charts CSS -->
    <link href="/static/css/bower/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
   
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/js_tree/style.min.css" />

{#    font-awesome#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

{% endblock %}

{% block maincontent %}
{{ super() }}
 <!-- Navigation -->

            <!-- /.navbar-static-side -->

            <div class="row">
{#                <div class = "col-lg-1 pull-left" style="padding:10px;">
                    <span class = "header-icon-holder"><img style="height:80px" src="/static/img/species/icons/{{species}}.png"/></span>
                </div>#}
                <div class="col-lg-11" style="padding-left:24px;">

                        <h1 class="page-header" style="border:none;top:-10px;position:relative;">{{config['ACTIVE_DATABASES'].get(species)[0]}}</h1>

                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">

                <!--Total Strains-->
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-home">
                        <div class="panel-home-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src='/static/img/general/bacteria.png'>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ general_info['total_strains'] }}</div>
                                    <div>Total Strains</div>
                                </div>
                            </div>
                        </div>

                       <a href="{{ beta_url }}/species/{{ species }}/search_strains">
                        {#                                    |<a href="{{beta_url}}/species/{{species}}/search_strains?query=st_search">Find ST(s)</a>#}
                        {#                                    |<a href="{{beta_url}}/species/{{species}}/upload_reads">Upload Reads</a></span>#}
                        <div class="panel-home-footer" style="height:60px">
                             <span class="pull-left">Search Strains</span>

                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>

                <!--Running Jobs-->
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-home">
                        <div class="panel-home-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{general_info['jobs_running']}}</div>
                                    <div>Jobs Running</div>
                                </div>
                            </div>
                        </div>
                      {% if current_user.is_authenticated() %}
                        <a href="{{beta_url}}/species/{{species}}/my_jobs">
                        {% else %}
                        <a href="{{beta_url}}/auth/login?next=/species/{{species}}/my_jobs">
                        {% endif %}
                            <div class="panel-home-footer" style="height:60px">
                                {% if current_user.is_authenticated() %}
                                <span class="pull-left">View Jobs</span>
                                {% else %}
                                 <span class="pull-left">Login Required</span>
                                {% endif %}
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--My Strains-->
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-home">
                        <div class="panel-home-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src='/static/img/general/my_bacteria.png'>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{general_info['my_strains']}}</div>
                                    <div>My Strains</div>
                                </div>
                            </div>
                        </div>
                        {% if current_user.is_authenticated() %}
                        <a href="{{beta_url}}/species/{{species}}/search_strains?query=my_strains">
                        {% else %} 
                            <a href="{{beta_url}}/auth/login?next={{beta_url}}/species/{{species}}/search_strains?query=my_strains">
                        {% endif %}
                            <div class="panel-home-footer" style="height:60px">
                                 {% if current_user.is_authenticated() %}
                                <span class="pull-left">Curate Strains</span>
                                {% else %}
                                   <span class="pull-left">Login Required</span>
                                  {%endif%} 
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--My Work groups-->
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-home">
                        <div class="panel-home-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-list-alt fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                   
{#                                   <div style ='margin-left:18px' class = 'pull-left'>#}
{#                                  <div >Mine:{{general_info['workspaces'][0]}}</div>#}
{#                                  <div >Shared:{{general_info['workspaces'][1]}}</div>#}
{#                                  <div>Public:{{general_info['workspaces'][2]}}</div>#}
{#                                  </div>#}
                                  <div class="huge">{{general_info['workspaces'][3]}}</div> 
                                    <div class ='pull-right'>Work Spaces</div>
                                </div>
                            </div>
                        </div>
                         <a href="javascript:showWorkspaceFolders()">
                            <div class="panel-home-footer" style="height:60px">
                                <span class="pull-left">Load Workspace</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>


                    </div>
                </div>
            </div>
            <!-- /.row -->

    {% if general_info['scheme_for_display']|length > 0 %}
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Schemes
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                        <p>
                        <ul>
                            {% for scheme, cnt in general_info['scheme_for_display']|dictsort %}
                                <li>{{ scheme }}</li>
                            {% endfor %}

                        </ul>
                        </p>
                    </div>

                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
    {% endif %}

            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-line-chart fa-fw"></i> Number of Short Reads (Release Date)

                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Notifications Panel
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id = 'daily-add_list' class="list-group">
                            {%for item in general_info['daily_add_list']%}
                                <a href="{{beta_url}}/species/{{species}}/search_strains?query=default" class="list-group-item">
                                    <i class="fa fa-plus-circle fa-fw"></i> {{item[2]}} Strains Added by {{item[1]}}
                                    <span class="pull-right text-muted small"><em>{{item[0]}}</em>
                                    </span>
                                </a>
                             {% endfor %}


                            </div>
                            <!-- /.list-group -->

                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
              <div class="row">
                <div class="col-lg-6">
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-pie-chart fa-fw"></i> Break Down By <b id = "pie-chart-title">Country</b>
                             <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Change
                                        <span class="caret"></span>
                                    </button>
                                    <ul id = 'donut-drop-down' class="dropdown-menu pull-right" role="menu">


                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div id="morris-donut-chart"></div>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->


                </div>
                 <div class="col-lg-6">
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-pie-chart fa-fw"></i> Break Down By <b id = "scheme-pie-chart-title">Assembly Stats</b>
                             <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Change
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                     <li><a href = "javascript:changeSchemePieChart('assembly_stats:status')">Assemblies</a></li>
                                         {% for item in general_info['schemes'] %}
                                      <li><a href = "javascript:changeSchemePieChart('{{item[0]}}:{{item[2]}}:{{item[1]}}')">{{item[1]}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div id="morris-scheme-donut-chart"></div>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->


                </div>


                <!-- /.col-lg-4 -->
              </div>
    {% if general_info['curators']|length > 0 %}
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Database curators
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <p>
                        <ul>
                            {% for curator in general_info['curators'] %}
                                <li>{{ curator['name'] }}, {{ curator['affiliation'] }}</li>
                            {% endfor %}

                        </ul>
                        </p>
                    </div>

                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Important Information
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <p>Thank you for using EnteroBase. By using our services you accept our <a href="{{server_base_address}}terms">Terms and Conditions.</a></p>
                    <p>
                        <b>Any Questions or comments?</b>
                    <ul>
                        <li>Please <a href='http://enterobase.readthedocs.io/en/latest/'>read the Documentation</a></li>
                        <li>Or post to our <a
                                href='https://bitbucket.org/enterobase/enterobase-web/issues?status=new&status=open'>Issue
                            tracker (BitBucket)</a></li>

                    </ul>
                    </p>
                    </li>
                </div>
                {% if species == 'senterica' %}
                    <div class="panel-body">

                    </div>
                {% endif %}

                {% if api_token %}

                    <div class="panel-body">
                        <p>You have been given API access for this database, simply copy

                            <i id="copyIcon" style="font-size:12px; cursor:pointer;" class="fa">&#xf0c5;</i>
                            <span id="apiTokenPlaceholder"
                                  style="font-family: monospace; word-wrap: break-word; display: none;">{{ api_token }}</span>
                        </p>
                        <p>You can access the API at <a href='{{server_base_address}}api/v2.0'>{{server_base_address}}api/v2.0</a><br>
                            You must authenticate all requests using Basic Authentication, with your API token as your
                            'username'.
                        </p>
                    </div>

                    <script>
                        document.getElementById('copyIcon').addEventListener('click', function () {
                            var token = document.getElementById('apiTokenPlaceholder').innerText.trim();

                            // Create a temporary textarea element
                            var textarea = document.createElement('textarea');
                            textarea.value = token;

                            // Append the textarea to the body
                            document.body.appendChild(textarea);

                            // Select the contents of the textarea
                            textarea.select();

                            // Execute the copy command
                            document.execCommand('copy');

                            // Remove the textarea from the body
                            document.body.removeChild(textarea);

                            console.log('API Token copied to clipboard');
                        });
                    </script>



                {% endif %}
                <!-- /.panel-body -->
            </div>
        </div>
    </div>

            <!-- /.row -->
     
{% endblock %}
    <!-- jQuery -->
{% block scripts %}
{{super()}}
    <!-- Bootstrap Core JavaScript -->
    

    <!-- Metis Menu Plugin JavaScript -->
  

    <!-- Morris Charts JavaScript -->
    <script src="/static/js/bower//raphael-min.js"></script>
    <script src="/static/js/bower/morris.js"></script>
   

    <!-- Custom Theme JavaScript -->
    
    <script src="{{beta_url}}/static/js/main/jstree.min.js"></script>
    <script src="{{beta_url}}/static/js/dialogs/workspace.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
    
    <script>
    var species = "{{species}}";
    var folder_name = "{{folder_name|safe}}"
    var folder_type = "{{folder_type}}";  
    var pieChartField = "";
    var entero_ws_dialog = new EnteroWorkspaceDialog(species, null, null, folder_type, folder_name);
    //entero_ws_dialog.showManageDialog();
    function errorCallback(msg){
        console.log(msg);
    }
    
    
    function showWorkspaceFolders(){
        entero_ws_dialog.getSelectedIDs(function(ids,wspaces){
            if (wspaces[0][4]==='main_workspace'){
                document.location.href= beta_url() + "/species/"+species+"/search_strains?query=workspace:"+ids[0];
            }
            else if (wspaces[0][4]==='ms_sa_tree'){
                document.location.href=beta_url() + "/ms_tree?tree_id="+ids[0];
            }
            else if (wspaces[0][4]==='snp_sa_project'){
                var url  = beta_url() + "/species/"+species+"/snp_project/"+ids[0];
                document.location.href=url;
            }
        },"Load",{main_search_page:true})
    }
    
    function changeSchemePieChart(info){

        var arr = info.split(":");
        var scheme =  arr[0]
        var field= arr[1]
        $('#morris-scheme-donut-chart').empty();
        $("#scheme-pie-chart-title").html(arr[2]);
        var sendData={
            database:species,
            scheme:scheme,
            field:field
            
        };
     
        Enterobase.call_restful_json("/species/get_scheme_pie_chart","POST",sendData,errorCallback).done(function(all_data){
            var doughnut_data =[];
            var data = all_data['list'];
            
            for (index in data){
                var dat = data[index];
                var point = {
                   label:(all_data['field_name']+":"+dat[0]),
                   value:dat[1]
                };
                doughnut_data.push(point);
            }
    
            Morris.Donut({
                element: 'morris-scheme-donut-chart',
                data: doughnut_data,
                resize: true
            }).on('click',function(i,row){          
                window.location="/species/"+species+"/search_strains?query=scheme:"+scheme+":"+row.label;
            });
        }); 
    
    }
    
    function changePieChart(info){
        arr = info.split(":");
        pieChartField =  arr[0]
        $('#morris-donut-chart').empty();
        $("#pie-chart-title").html(arr[1]);
        var sendData={
            database:species,
            field:pieChartField
        }; 
        Enterobase.call_restful_json("/species/get_strain_pie_chart","POST",sendData,errorCallback).done(function(data){
            var doughnut_data =[];
            for (index in data){
                var dat = data[index];
                var point = {
                   label:dat.indexLabel,
                   value:dat.y
                };
                doughnut_data.push(point);
            }
    
            Morris.Donut({
                element: 'morris-donut-chart',
                data: doughnut_data,
                resize: true
            }).on('click',function(i,row){
                var query = pieChartField+":"+row.label
                window.location="/species/"+species+"/search_strains?query=strains:"+query;
            });
        }); 
    }
    
    $(function(){
  
          
    
       changePieChart('country');
       changeSchemePieChart('assembly_stats:Assembly');
       var sendData={
         database:species
       };
       Enterobase.call_restful_json("/species/get_database_info","POST",sendData,errorCallback).done(function(data){

        for (index in data['fields']){
            var dat =  data['fields'][index];
            var info = dat['name']+":"+dat['label'];
            var action ="javascript:changePieChart('"+info+"')";
            var item = $("<li><a href=\""+action+"\">"+dat['label']+"</a></li>");                              
            $("#donut-drop-down").append(item);
        
        }         
         
         
         
         var morris_data = [];
         for (index in data['cum_totals']){
            var dat = data['cum_totals'][index];
            var point = {
                period:"20"+dat[0],
                total:dat[1]
            
            };
            morris_data.push(point);
            
         
         }
        Morris.Area({
        element: 'morris-area-chart',
        data: morris_data,
        xkey: 'period',
        ykeys: ['total'],
        labels: ['total'],
        pointSize: 1,
        hideHover: 'auto',
        resize: true
    });
       });
    });
if (folder_type!='null' && folder_type!='undefined' && folder_type!='None')
{
     showWorkspaceFolders();
 }
    </script>
{% endblock %}


