{% extends "species/species.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}Source Curation{%endblock %}

{% block maincontent %}
<div align="center" class="row">
   <button id ="get-info" type="button" class="button">Get Raw Info</button>
   <input type="text" id="info-text">
   <button id ="send-info" type="button" class="button">Send</button>
   <button id ="run-classifier" type="button" class="button">Run Classifier</button>
   <span id ="classifier-success"></span>
</div>

<div id ="middle-row" class="row">
    <h1  id ="raw-info" align="center"><h1>
</div>
<div class="row">
  <div id ="niche" class="col-md-4">
    <h3>Niche</h3>
    <input type="text" id ="niche-text">
    <table id="niche-table"></table>
  </div>
  <div id ="type"class="col-md-4">
     <h3>Type</h3>
     <input type="text" id ="type-text">
     <table id="type-table"></table>
  </div>
  <div id ="details"class="col-md-4">
     <h3>Details</h3>
     <input type="text" id ="details-text">
     <h4>Example</h4>
      <table id="details-table"></table>
      
  </div>
</div>

{% endblock %}

{% block scripts %}
{{super()}}
   <script>
    var raw_info = "";
    var uri = "http://147.188.173.117/meta/api/host_curation";
    var classifier_uri = "http://147.188.173.117/meta/reload?func=classifier";
    function error(msg){
        alert("Error in Restful:"+msg)
    };
    
    
    function setUpTables(data){
	//set up text boxes
	raw_info=data['raw_info'];
	$("#raw-info").html("Raw Info: "+data['raw_info']);
	$("#niche-text").val(data["Source Niche"][0][0]);
	$("#type-text").val(data["Source Type"][0][0]);
	$("#details-text").val(raw_info);
	setUpColumn(data["Source Niche"],"niche");
	setUpColumn(data["Source Type"],"type");	
	var table =$("#details-table").empty();
	var result = data["Example"][0]["result"];		
	var row = $("<tr>");	
	$("<td>").html("<b>biosample</b>").appendTo(row)
	$("<td>").html(data["Example"][0]['biosample']).appendTo(row);
	row.appendTo(table);
	for (key in result){
	   var row = $("<tr>");
	   $("<td>").html("<b>"+key+"</b>").appendTo(row)
	   $("<td>").html(result[key]).appendTo(row);
	   row.appendTo(table)
   
	}  
    
    };    
    
    function setUpColumn(list,type){
        var table=$("#"+type+"-table").empty();
       
        for (var index in list){
	    //create the buuton
	    var row = $("<tr>");
	    table.append(row);
	    var cell = $("<td>");
	    var button = $("<button>").attr("type","button").attr("class","button");
	    //add the text to it
	    button.html(list[index][0]);
	    // add click event to button
	    button.bind("click",function(event){
	      //update text box with the buttons value
	      $("#"+type+"-text").val($(this).html());
	    });
	    cell.append(button);
	    row.append(cell);
	    //create progress bar showing %
	    var val =(list[index][1]*100)
	    var bar = $(" <div style = 'height:15px'></div>");
	    bar.progressbar({
	     value: val
	     }).children('.ui-progressbar-value')
	     .html(val.toPrecision(3) + '%')
	     .css("display", "block")
	     .css("font-size","10px")
	     .css("color","black");
	 
	    cell= $("<td>").width(100).append(bar);
	    row.append(cell);      
	}
    }
    //called when window loaded
    window.onload = function(){
	
	$("#send-info").click(function(event){
	    var data={};
	    data["raw"]=raw_info;
	    data["source_niche"]=$("#niche-text").val();
	    data["source_type"]=$("#type-text").val();
	    data["source_detail"]=$("#details-text").val();
	    var promise = Enterobase.call_restful_json(uri,"POST",data,error);
	    promise.done(function(ret){
		setUpTables(ret);
	    });
	});
	$("#run-classifier").click(function(event){
	   
	    var promise = Enterobase.call_restful(classifier_uri,"GET","",error);
	    $("#classifier-success").html("Running");
	    promise.done(function(ret){
		$("#classifier-success").html(ret);
	    });
	});
	
    
	$("#get-info").click(function(event){
	    var info = $("#info-text").val();
	    var send_uri = uri;
	    if (info){
		send_uri+="?raw="+info
	    }
	    var promise = Enterobase.call_restful_json(send_uri,"GET","",error);
		promise.done(function(data){
		setUpTables(data);
	    });
	});
	var promise = Enterobase.call_restful_json(uri,"GET","",error);
	promise.done(function(data){
	    setUpTables(data);
	});
    };
</script>
{% endblock %}

