{% extends "base.html" %}

{% block title %}About Us - {{appname}}{% endblock %}

{% block maincontent %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>About Us</h1>
            <h2>{{appname}} Credits</h2>
            {% if 'dsmz' in server_base_address %}
            <h3>EnteroBase Team at DSMZ (<a href="mailto:enterobase@dsmz.de">enterobase@dsmz.de</a>)</h3>
            <ul>
                <li>Birgitta Päuker</li>
                <li>Anshul Gupta</li>
                <li>Boyke Bunk</li>
                <li>Jörg Overmann</li>
                <li>Ulrich Nübel</li>
            </ul>
            {% endif %}
            <h3>{{appname}} Team at The University of Warwick (<a href="https://enterobase.warwick.ac.uk/" target="_blank">www.enterobase.warwick.ac.uk</a>)</h3>
            <ul>
                <li>Nigel Dyer</li>
                <li>Richard Stark</li>
                <li>Laura Baxter</li>
                <li>Paul Brown</li>
                <li>Ash Sendell-Price</li>
                <li>Zhemin Zhou</li>
                <li>Sascha Ott</li>
            </ul>
            {% if 'dsmz' not in server_base_address %}
            <h3>EnteroBase Team at DSMZ (<a href="mailto:enterobase@dsmz.de">enterobase@dsmz.de</a>)</h3>
            <ul>
                <li>Birgitta Päuker</li>
                <li>Anshul Gupta</li>
                <li>Boyke Bunk</li>
                <li>Jörg Overmann</li>
                <li>Ulrich Nübel</li>
            </ul>
            {% endif %}

            <h3>Former Team Members</h3>
            <ul>
                <li>Khaled Mohamed</li>
                <li>Nabil-Fareed Alikhan</li>
                <li>Martin Sergeant</li>
                <li>William Nicholson</li>
                <li>Yulei Fan</li>
                <li>Mark Achtman</li>
            </ul>
            <h3>Founder</h3>
            <ul>
                <li>Mark Achtman</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
