{% extends "base.html" %}
{% block head %}
{{super()}}
<link href="/static/css/bower/metisMenu.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/bower/sb-admin-2.css" rel="stylesheet">
{% endblock %}

{% block sidebar %}
    {% if template != "imprint.html" and template != "GDPR.html" and template != "terms_and_conditions.html"%}
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    {% include 'side_bar.html' %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}

    {{ super() }}
    <script src="/static/js/bower/metisMenu.min.js"></script>
    <script src="/static/js/bower/sb-admin-2.js"></script>
    
      
    

{% endblock %}

