{% extends "base.html" %}

{% block title %}Citing Information - {{appname}}{% endblock %}

{% block maincontent %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <div>
                <h1>How to Cite {{appname}}?</h1>
                <p>If you use data or metadata from {{appname}}, or perform analyses based on these data, please cite the following:</p>

                <h3>AMR Genotyping, Bubbleplots, and Novel Databases</h3>
                <ul>
                    <li>Dyer NP, Päuker B, Baxter L, Gupta A, Bunk B, Overmann J, Diricks M, Dreyer V, Niemann S, Holt KE, Rahman M, Brown PE, Stark R, Zhou Z, Ott S, Nübel U (2024). EnteroBase in 2025: exploring the genomic epidemiology of bacterial pathogens, <a href="https://doi.org/10.1093/nar/gkae902" target="_blank">Nucleic Acids Research</a>.</li>
                </ul>

                <h3>Hierarchical Clustering (HierCC)</h3>
                <ul>
                    <li>Zhou Z, Charlesworth J, Achtman M (2021). HierCC: A multi-level clustering scheme for population assignments based on core genome MLST, <a href="https://academic.oup.com/bioinformatics/article/37/20/3645/6212647" target="_blank">Bioinformatics, 37(20):3645–3646</a>.</li>
                </ul>

                <h3>EnteroBase User's Guide</h3>
                <ul>
                    <li>Zhou Z, Alikhan NF, Mohamed K, the Agama Study Group, Achtman M (2020). The EnteroBase user's guide, with case studies on <i>Salmonella</i> transmissions, <i>Yersinia pestis</i> phylogeny, and <i>Escherichia</i> core genomic diversity, <a href="https://genome.cshlp.org/content/30/1/138.long" target="_blank">Genome Research, 30:138-152</a>.</li>
                </ul>

                <h3>GrapeTree</h3>
                <ul>
                    <li>Zhou Z, Alikhan NF, et al. (2018). GrapeTree: visualization of core genomic relationships among 100,000 bacterial pathogens, <a href="https://genome.cshlp.org/content/28/9/1395.full" target="_blank">Genome Research, 28:1395-1404</a>.</li>
                </ul>


                <h1>Publications Using EnteroBase</h1>
                <ul>
                    <li>Kolte B, Nübel U.(2024) Genetic determinants of resistance to antimicrobial therapeutics are rare in publicly available <i>Clostridioides difficile</i> genome sequences, <a href="https://doi.org/10.1093/jac/dkae101" target="_blank">Journal of Antimicrobial Chemotherapy, Volume 79, Issue 6, June 2024, Pages 1320–1328</a>.</li>
                    <li>Frentrup M, Zhou Z, et al. (2020). A publicly accessible database for <i>Clostridioides difficile</i> genome sequences supports tracing of transmission chains and epidemics, <a href="https://doi.org/10.1099/mgen.0.000410" target="_blank">Microbial Genomics, 6: e000410</a>.</li>
                    <li>Achtman M, Zhou Z, Alikhan NF, et al. (2020). Genomic diversity of <i>Salmonella enterica</i> - The UoWUCC 10K genomes project, <a href="https://doi.org/10.12688/wellcomeopenres.16291.1" target="_blank">Wellcome Open Research, 5:223</a>.</li>
                    <li>Alikhan NF, Zhou Z, Sergeant MJ, Achtman M (2018). A genomic overview of the population structure of <i>Salmonella</i>, <a href="https://doi.org/10.1371/journal.pgen.1007261" target="_blank">PLoS Genetics, 14(4): e1007261</a>.</li>
                </ul>
            </div>
            <h1>Image credits</h1>
                <ul>
                    <li><i>Mycobacterium </i><a href="https://commons.wikimedia.org/wiki/File:Mycobacterium_tuberculosis_Bacteria_(16843981465).jpg">NIAID</a>, <a href="https://creativecommons.org/licenses/by/2.0">CC BY 2.0</a>, via Wikimedia Commons</li>
                    <li><i>Moraxella </i><a href="https://commons.wikimedia.org/wiki/File:Moraxella_Catarrhalis.png">CDC/Dr. W.A. Clark </a>, CC0, via Wikimedia Commons</li>
                    <li><i>Yersinia</i> <a href="https://commons.wikimedia.org/wiki/File:3D_computer_generated_image_of_Yersinia_enterocolita.jpg">Jennifer Oosthuizen</a>, Public domain, via Wikimedia Commons</li>
                    {% if 'enterococcus' in active_db_names %}
                    #<li><i>Enterococcus</i> <a href="https://commons.wikimedia.org/wiki/File:Enterococcus_faecalis20023-300.jpg">United States Department of Agriculture</a>, Public domain, via Wikimedia Commons</li>
                    <li><i>Enterococcus</i> <a href="https://commons.wikimedia.org/wiki/File:Entercoccus_sp2_lores.jpg">Photo Credit: Janice Haney CarrContent Providers(s): CDC/ Janice Carr</a>, Public domain, via Wikimedia Commons</li>
                    #<li><i>Enterococcus</i> <a href="https://commons.wikimedia.org/wiki/File:16882_lores.jpg">Dan Higgins - Medical Illustrator</a>, Public domain, via Wikimedia Commons</li>
                    {% endif %}
                </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
