{% extends "base.html" %}
{% block head %}
    {{ super() }}

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


{% endblock %}

{% block maincontent %}

    <div class="section container" id="how-enterobase-uses-your-personal-data-gdpr">
        <h1>How EnteroBase uses your personal data (GDPR)<a class="headerlink"
                                                            href="#how-enterobase-uses-your-personal-data-gdpr"
                                                            title="Permalink to this headline"><i
                class="fa fa-link"></i></a></h1>
        <p>The General Data Protection Regulation is an EU regulation that was set up
            in 2016 and came into force on 25th May 2018. These rules give people the
            explicit right to know what websites and companies are doing with their personal
            information (e.g. how it is stored, how it is processed, or shared with third
            parties). These regulations also explicitly give people a say in how their
            information is used.</p>
        <p>We feel these are important issues and wish to clarify what happens within
            EnteroBase in relation to the GDPR. A full description of the EnteroBase terms
            and conditions can be found in <a class="reference external"
                                                href="{{server_base_address}}terms#enterobase-terms-and-conditions"
                                                target="_blank">Terms and Conditions</a>.</p>
        <div class="section" id="what-data-do-we-store">
            <h2>What data do we store?<a class="headerlink" href="#what-data-do-we-store"
                                        title="Permalink to this headline"><i class="fa fa-link"></i></a></h2>
            <p>On registration we ask for the following:</p>
            <ul class="simple">
                <li>Your username and email</li>
                <li>Your password</li>
                <li>Your first and last name</li>
                <li>Your department and institution</li>
                <li>The city and country of the institution</li>
            </ul>
            <p>This is to allow us to contact you if there are any problems. We will be
                emailing you from time to time. Some emails will be automated messages
                informing you that long running analyses, such as SNP analyses, have been
                completed. Other emails will be informing you about
                changes to EnteroBase. These emails are an integral part of EnteroBase. If
                this is problematic, you may delete your account at any time.</p>
            <p>We also store any sequence read data that you upload for processing. We keep
                it so we can troubleshoot any unexpected downstream results, and so we can
                apply your data to new analyses after you have uploaded it. Your sequence
                read data is only available to EnteroBase developers and is not made public.
                We would eventually like to transfer sequence read data to services such as
                <a class="reference external" href="https://www.ebi.ac.uk/ena/browser/home" target="_blank">ENA</a>/<a class="reference external" href="https://www.ncbi.nlm.nih.gov/" target="_blank">NCBI</a>/<a class="reference external" href="https://www.ddbj.nig.ac.jp/index-e.html" target="_blank">DDBJ</a>,
                but we will contact you directly for your permission when this occurs.
            </p>
            <p>We also use cookies, track your IP and webpages that you access on EnteroBase.
                We can also track any data you generate and share through EnteroBase, such as
                workspaces or trees.
                This is so we can analyse the performance of EnteroBase and make improvements. We
                also use this information to detect abuse.</p>
            <p>We do not sell your information to any third party, but we may need to share it
                in exceptional cases. Please see the<a class="reference external" href="{{server_base_address}}terms#when-we-share-your-information"
                  target="_blank"> Terms and Conditions </a>for more details.</p>
        </div>
        <div class="section" id="how-is-data-stored">
            <h2>How is data stored?<a class="headerlink" href="#how-is-data-stored"
                                      title="Permalink to this headline"><i class="fa fa-link"></i></a></h2>
            <p>Your user account data is stored in a relational database with strict access only
                {% if 'dsmz' in server_base_address %}
                to EnteroBase developers and system administrators at the Leibniz Institute
                DSMZ-German Collection of Microorganisms and Cell Cultures GmbH.
                These data are not readily accessible outside of the Institute.
                {% else %}
                to EnteroBase developers and system administrators in the Bioinformatics Research Technology Platform (RTP)
                in the University of Warwick.
                These data are not readily accessible outside of the Bioinformatics RTP.
                {% endif %}
                </p>
            <p>All passwords are hashed and encrypted. We have no way to read your original password.</p>
        </div>
        <div class="section" id="transferring-enterobase">
            <h2>Transferring EnteroBase<a class="headerlink" href="#transferring-enterobase"
                                          title="Permalink to this headline"><i class="fa fa-link"></i></a></h2>
            <p>In future, we may transfer the administration of EnteroBase to another
                organisation. We will always tell you by email if this happens and we will
                ensure that the transfer maintains your rights.</p>
        </div>
        <div class="section" id="deletion-from-enterobase">
            <h2>Deletion from EnteroBase<a class="headerlink" href="#deletion-from-enterobase"
                                           title="Permalink to this headline"><i class="fa fa-link"></i></a></h2>
            <p>You can delete your EnteroBase account, which will remove all your personal
                information immediately by visiting <a class="reference external" href="{{server_base_address}}auth/delete-account" target="_blank">Delete Account</a>.
            </p>
            <p>You will need to log in to delete your account.</p>
        </div>
        <div class="section" id="requests-from-you">
            <h2>Requests from you<a class="headerlink" href="#requests-from-you" title="Permalink to this headline"><i
                    class="fa fa-link"></i></a></h2>
            <ul class="simple">
                <li>We will send you a copy of all your stored personal data, on request</li>
                <li>We will delete your account and all your personal data, on request</li>
                <li>We will clarify any specifics, on request</li>
            </ul>
            <p>Please send requests to <a class="reference external" href="mailto:{{email_address}}">{{email_address}}</a>.
            </p>
        </div>
    </div>

{% endblock %}