{% extends "base.html" %}
{% block head %}
    {{ super() }}

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


{% endblock %}

{% block maincontent %}
    {% if 'dsmz' in server_base_address %}
         <div class="section container card" id="imprint">
        <h1>Imprint</h1>
        <b>Leibniz-Institut DSMZ-Deutsche Sammlung von <br>
        Mikroorganismen und Zellkulturen GmbH</b><br>
        <br>
        Inhoffenstraße 7 B<br>
        38124 Braunschweig<br>
        GERMANY<br>
        <br>
        Phone:+49 (0) 531-2616-0<br>
        Fax:+49 (0) 531-2616-418<br>
        E-mail: <a class="reference external" href="mailto:{{email_address}}">{{email_address}}</a><br>
        <br>
        Registered at: Amtsgericht Braunschweig, HRB 2570<br>
        <br>
        Directors: Prof. Dr. Jörg Overmann; Bettina Fischer<br>
        EU VAT Registration Number: DE 114815269<br>
        <br>
        </div>
    {% else %}
{#        Please add your imprint here#}
    {% endif %}

{% endblock %}