{% extends "base.html" %}

{% block head %}
{{super()}}
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
{% endblock %}


{% block title %}{{appname}}{% endblock %}
{% block maincontent %}

<!-- Features -->
<div class="row">
    {% if 'phytobac' in server_base_address %}
    <p class="welcome">Welcome to PhytoBacExplorer</p>
    <p class="welcome-cont">A powerful, user-friendly online resource for analysing and visualising genomic variation within plant-pathogenic bacteria</p>
    {% else %}
    <p class="welcome">Welcome to EnteroBase</p>
    <p class="welcome-cont">Your advanced tool for exploring the genomic epidemiology of pathogens.<br>EnteroBase assembles, analyses, and interprets bacterial genomes to provide insights for researchers, epidemiologists, and healthcare professionals. </p>
    {% endif %}

    <div class="features-container">

    <div class="scroll-arrow left"><i class="fa fa-chevron-left" style="padding-left: 10px"></i></div>

    <div class="features" style=" padding:30px">
        <div class="feature" style="position: relative;">
            <div class="feature-title">Genomic <br> Assembly</div>
            <div class="feature-description">Transform raw reads into standardized, quality controlled genomic sequences</div>
        </div>
        <div class="feature">
            <div class="feature-title">Genotyping & Hierarchical Clustering</div>
            <div class="feature-description">Classify genomes into groups based on genetic similarity to facilitate detailed analyses</div>
        </div>
        <div class="feature">
            <div class="feature-title">Epidemiological Integration</div>
            <div class="feature-description">Link genomic data with epidemiological context to trace pathogen origins and transmission pathways</div>
        </div>
        <div class="feature">
            <div class="feature-title">Continuous Data Updates</div>
            <div class="feature-description">Access the latest genomic data, ensuring you are working with the most current information available</div>
        </div>
        <div class="feature">
            <div class="feature-title">Comparative Genomics</div>
            <div class="feature-description">Identify and compare related genomes across a vast database of published sequences</div>
        </div>
        <div class="feature">
            <div class="feature-title">Phylogenetic Analysis</div>
            <div class="feature-description">Conduct large-scale phylogenetic studies to understand evolutionary relationships</div>
        </div>
        <div class="feature" style="z-index: 2!important;">
            <div class="feature-title">Collaborative <br> Tools</div>
            <div class="feature-description">Share your findings easily with collaborators to foster teamwork and accelerate research progress</div>
        </div>

        {% if 'phytobac' in server_base_address %}
        <!-- phytobacexplorer-specific feature content here  -->
        {% else %}
        <!-- enterobase-specific feature content here -->
        <div class="feature">
            <div class="feature-title">Epidemiological Integration</div>
            <div class="feature-description">Link genomic data with epidemiological context to trace pathogen origins and transmission pathways</div>
        </div>
        <div class="feature">
            <div class="feature-title">Antimicrobial Resistance Prediction</div>
            <div class="feature-description">Assess resistance pathways to support treatment decisions</div>
        </div>
        <div class="feature">
            <div class="feature-title">Transmission Chain Investigation</div>
            <div class="feature-description">Explore the spread of pathogens with tools designed for tracking transmission chains and pinpointing infection sources</div>
        </div>
        {% endif %}

         <div>
            <span style="top: 45px!important; vertical-align: middle!important;z-index: 1!important;" class="glyphicon glyphicon-asterisk"></span>
        </div>
    </div>
    <div class="scroll-arrow right"><i class="fa fa-chevron-right" style="padding-right: 10px"></i></div>
</div>
</div>

<!-- Databases -->
<div class='container database-container'>
    <div class="row">
        <div class="col-lg-12">
            <div id="strain-count-lbl" class="text-center">{{appname}} currently contains <strong><span id="strain-count">{{total_strains}}</span></strong> bacterial strains</div>
        </div>
    </div>

    <div class="row">
        {% for rec in db_info %}
        <div class="col-lg-4 col-md-4">
            {% set is_excluded = rec['name'] in config['EXCLUDED_DATABASES'] %}
            {% set is_dsmz = 'dsmz' in server_base_address %}
            {# Determine the base URL, logo, and tooltip title #}
            {% if is_excluded %}
                {% if is_dsmz %}
                    {% set base_url = 'https://enterobase.warwick.ac.uk/species/index/' %}
                    {% set tooltip_title = 'This database is hosted by The University of Warwick (UK).' %}
                    {% set logo_url = 'upload/warwick_logo.png' %}
                {% else %}
                    {% set base_url = 'https://enterobase.dsmz.de/species/index/' %}
                    {% set tooltip_title = 'This database is hosted by DSMZ - German Collection of Microorganisms and Cell Cultures GmbH.' %}
                    {% set logo_url = 'general/DSMZ_Logo_wo_text.jpg' %}
                {% endif %}
            {% else %}
                    {% set base_url = beta_url ~ '/species/index/' %}
            {% endif %}

            <a href="{{ base_url }}{{ rec['name'] }}" {% if is_excluded %}target="_blank"{% endif %} style="text-decoration: none; color: inherit;">

                <div class="panel-db panel-db-primary db-pan custom-tooltip"
                     {% if tooltip_title %} data-toggle="tooltip" title="{{ tooltip_title }}" {% endif %}>
                    <div class="panel-db-heading panel-db-with-image">
                        <img src="{{ beta_url }}/static/img/species/{{ rec['name'] }}.jpeg" alt="{{ rec['name'] }} Image" class="panel-db-image">
                        {% if logo_url %}
                            <img src="{{ beta_url }}/static/img/{{ logo_url }}" alt="Logo" class="warwick-logo">
                        {% endif %}
                    </div>
                    <div class="panel-db-body">
                        <div class="species-info">
                            <h3><i>{{ rec['label'] }}</i></h3>
                            <p>Total strains: {{ rec['total_strains'] }}</p>
                            {% if not is_excluded %}
                                <p>Assemblies in progress: {{ rec['queued'] }}</p>
                            {% endif %}
                            {% if rec['scheme_info']|length > 0 %}
                                <p>Schemes: {{ rec['schemes_list'] }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="panel-db-footer image-panel-db-footer">
                        <span class="pull-left"></span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
</div>

 <footer style="background-color: rgba(0, 0, 0, .075); padding: 20px 0;">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-2 col-md-2 mb-3"></div>
            <div style="color: #31708f; font-size: 12px" class="col-lg-3 col-md-3 mb-3 text-left">
                <p><a href="https://enterobase.readthedocs.io/en/latest/" target="_blank">User Guide</a></p>
                <p><a href="mailto:{{email_address}}">Contact Us</a></p>
                {% if 'dsmz' in server_base_address %}
                <p><a href="{{server_base_address}}imprint">Imprint</a></p>
                {% endif %}
                <p><a href="{{server_base_address}}terms">Terms and Conditions</a></p>
                <p><a href="{{server_base_address}}about" target="_blank">Acknowledgments</a></p>
            </div>
            <div class="col-lg-3 col-md-3 mb-3 text-right">
                {% if 'dsmz' in server_base_address %}
                <a href="https://www.dsmz.de/" target="_blank">
                    <img style="max-height: 60px;" src="{{beta_url}}/static/img/general/DSMZLogo_en.svg" alt="DSMZ Logo">
                </a> <br>
                {% endif %}
                <a href="http://www.bbsrc.ac.uk" target="_blank">
                    <img style="max-height: 60px;" src="{{beta_url}}/static/img/upload/bbsrc-logo-wbg.png" alt="BBSRC Logo">
                </a>
                {% if 'dsmz' not in server_base_address and appname != 'PhytoBacExplorer' %}
                <br> <a href="https://www.dsmz.de/" target="_blank">
                    <img style="max-height: 60px;" src="{{beta_url}}/static/img/general/DSMZLogo_en.svg" alt="DSMZ Logo">
                </a>
                {% endif %}

            </div>
            <div class="col-lg-3 col-md-3 mb-3 text-left">
                {% if 'dsmz' in server_base_address %}
                <a href="https://www.dzif.de/de" target="_blank">
                    <img style="max-height: 60px;" src="{{beta_url}}/static/img/general/DZIF_logo.svg" alt="DZIF Logo">
                </a> <br>
                {% endif %}
                <a href="http://www2.warwick.ac.uk/fac/med/" target="_blank">
                    <img style="max-height: 60px; padding: 1px" src="{{beta_url}}/static/img/upload/warwick_logo_b_wb.png" alt="Warwick Medical School Logo">
                </a>
                {% if 'dsmz' not in server_base_address %}
                <br> <a href="https://www.dzif.de/de" target="_blank">
                    <img style="max-height: 60px;" src="{{beta_url}}/static/img/general/DZIF_logo.svg" alt="DZIF Logo">
                </a>
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-3 mb-3"></div>
        </div>
    </div>
</footer>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>

$(document).ready(function () {
    var scrollHandler = null;
    var scrollSpeed = 20; // Adjust scroll speed as needed
    var scrollDistance = 1; // Adjust scroll distance as needed
    var containerWidth = $('.features-container').width();
    var featuresContainer = $('.features');
    var featuresWidth = featuresContainer.width();

    // Clone and append feature items to create a continuous loop
    var clonedFeatures = featuresContainer.html(); // Save the original content
    var numClones = 100;//Math.ceil(containerWidth / featuresWidth); // Calculate the number of clones needed
    for (var i = 0; i < numClones; i++) {
        featuresContainer.append(clonedFeatures); // Append the cloned content
    }

    // Function to auto-scroll the features
    function autoScroll() {
        clearInterval(scrollHandler);
        scrollHandler = setInterval(function () {
            var currentScroll = featuresContainer.scrollLeft();
            var nextScroll = currentScroll + scrollDistance; // Increment scroll position
            featuresContainer.scrollLeft(nextScroll);

            // Reset scroll position to the beginning when it reaches the end of the cloned content
            if (nextScroll >= featuresContainer.get(0).scrollWidth / 2) {
                featuresContainer.scrollLeft(0);
            }
        }, 1000 / scrollSpeed); // Adjust interval for smoother scrolling
    }

    function pauseScroll() {
        clearInterval(scrollHandler);
    }

    function resumeScroll() {
        autoScroll();
    }

    // Event listeners for mouseenter and mouseleave on features
    $('.feature').on('mouseenter', function () {
        pauseScroll(); // Pause auto-scroll
    });

    $('.feature').on('mouseleave', function () {
        resumeScroll(); // Resume auto-scroll
    });

    // Event listeners for scroll arrows
    $('.scroll-arrow.left').on('click', function () {
        featuresContainer.stop().animate({ scrollLeft: '-=150' }, 200, 'swing', function() {
            var currentScroll = featuresContainer.scrollLeft();
            if (currentScroll <= 0) {
                featuresContainer.scrollLeft(featuresContainer.get(0).scrollWidth / 2 - containerWidth);
            }
        });
    });

    $('.scroll-arrow.right').on('click', function () {
        featuresContainer.stop().animate({ scrollLeft: '+=150' }, 200, 'swing', function() {
            var currentScroll = featuresContainer.scrollLeft();
            if (currentScroll >= featuresContainer.get(0).scrollWidth / 2) {
                featuresContainer.scrollLeft(0);
            }
        });
    });

    // Start auto-scroll initially
    autoScroll();

    // Creating a custom tooltip element and appending it to the body as deafult setup is not working
    var $tooltip = $('<div id="custom-tooltip"></div>').css({
        'position': 'absolute',
        'padding': '8px',
        'background-color': '#333',
        'color': '#fff',
        'border-radius': '4px',
        'font-size': '12px',
        'display': 'none',
        'z-index': '1000'
    }).appendTo('body');

    $('.custom-tooltip').on('mouseenter', function(e) {
        var tooltipText = $(this).data('tooltip');
        if (tooltipText) {
            $tooltip.text(tooltipText).show();
        }
    });

    $('.custom-tooltip').on('mousemove', function(e) {
        $tooltip.css({
            top: e.pageY + 10 + 'px',
            left: e.pageX + 10 + 'px'
        });
    });

    $('.custom-tooltip').on('mouseleave', function() {
        $tooltip.hide();
    });
});
</script>
{% endblock %}



  


