<html>
<head>
   	<script type="text/javascript">
     function beta_url() {
     return "{{beta_url}}";
     }
	</script>
    <style>
       div{
         height:100px;
         width::100px;
         position:fixed;
         top:50%;
         left:50%;
         margin-left:-100px;
         margin-top:-100px;
      
         }
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src ="{{beta_url}}/static/js/main/enterobase.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
</head>
<body>
<div><img id="waiting-image" src = '/static/img/icons/large_wait.gif'></img>
<p id ="main-message" align = 'center'>Formatting Genome</p>
</div>
</body>
<script>
    var jbrowse_uri= "{{jbrowse_uri}}"
    var number_of_tries=0
    var assembly_barcode = "{{barcode}}"
    var database="{{database}}"
    window.onload=function(){
        checkForAnnotations()
    }
    function checkForAnnotations(){
        Enterobase.call_restful_json("/check_for_jbrowse_annotation/"+assembly_barcode+"?database="+database,"GET","",showErrorMessage).done(function(data){
            if (data['success']){
                window.location=jbrowse_uri.replace("#","&").replace("#","&").replace("#","&")
            }
            else{
                number_of_tries++
                if (number_of_tries>12){
                    $("#main-message").html("There is a problem processing")
                    $("#waiting-image").attr("src","/static/js/img/ms_failed_1.png")
                    return;
                }
                setTimeout(checkForAnnotations,10000)
            }
        });
    }
    function showErrorMessage(){
    }
</script>
</html>
