{% extends "base.html" %}

{% block title %}EnteroBase{% endblock %}
{% block head %}
{{super()}}
  
<link href="{{beta_url}}/static/css/bower/metisMenu.min.css" rel="stylesheet">
<link href="{{beta_url}}/static/css/main/slicknav.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	

{% endblock %}

{% block maincontent %}

    <div id = "containerdiv" >
	<!--The container for methods-->
		<div id ="methodsdiv" style= "padding:0px;height:100%" class="ui-layout-west navbar-collapse">
			
			<ul style = 'display:block' id="side-menu" class="nav">
			{% block sidepanel %}
				{% include 'side_bar.html' %}
			{% endblock %}
			</ul>
			{% block extrasidepanel %}
			{% endblock %}
		</div>
	<!-- The main container - the central panel-->
		<div id ="maindiv"  style = "height:100%;width:100%" class="ui-layout-center">
			{%block tablecontent %}
			{% endblock %}
		</div>
	</div>
    
   

{% endblock %}

{% block scripts %}
{{ super() }}

  <script src="{{beta_url}}/static/js/main/jquery.slicknav.min.js"></script>
  <script src="{{beta_url}}/static/js/bower/metisMenu.min.js"></script>
  
 <script>
    var containerDiv;
    //$('#menu-side').metisMenu();
    
    $(window).load(function () {
    /*
	$('#menu').slicknav(
	{prependTo:'#methodsdiv',
	label:''}
	).slicknav('open');
	*/
	
	
	containerDiv = $("#containerdiv").layout({
	applyDefaultStyles: true,
	 spacing_open:2,
	spacing_closed:2,
	
	
	});
	containerDiv.sizePane("west", 220);
	$('#methodsdiv').css('padding','0px');
	
	$(window).resize(function(){
            var h = ($("#total-header").height());
            var win = ($(window).height())-10;
            $("#containerdiv").height(win-h);
            $("#containerdiv").css("min-height",(win-h)+"px");
	    $("#containerdiv").css("max-height",(win-h)+"px");
    

	});

        $(window).trigger('resize');
	
	
	
	$('#side-menu').metisMenu();

	
    });

</script>


{% endblock %}
