{% extends "bootstrap/base.html" %}

{% block title %}{{appname}}{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{beta_url}}/static/{{favicon}}" type="image/x-icon">
    <link rel="icon" href="{{beta_url}}/static/{{favicon}}" type="image/x-icon">
    <link rel="stylesheet" href={{url_for('static',filename='js/jquery-ui-1.11.4/jquery-ui.min.css')}}>
    <link rel="stylesheet" href={{url_for('static',filename='css/main/main.css', v='2.1')}}>

{% endblock %}

{% block navbar %}
<div id = "total-header">
<div id="headerdiv" style= "background-image: url({{url_for('static',filename="img/salmonella.jpg")}})">
<b> EnteroBase</b>
</div>
</div>


{% endblock %}

{% block content %}

{% endblock %}
   

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
