<style>
    /* Style for the active submenu item */
    li.active > a {
        background-color: #f5f5f5;
    }
</style>

<li style='border-bottom: 1px solid #e7e7e7;'>
    <a href='{{ beta_url }}/species/index/{{ species }}' style='background-color: #eee;'>
        <i class="fa fa-home fa-fw"></i>
        {{ config['ACTIVE_DATABASES'].get(species)[0] }}
    </a>
</li>

{% if current_user.is_authenticated() and current_user.administrator == 1 %}
    <li>
        <a href="#"> <span class="fa arrow"></span>
            <i class="fa fa-male fa-fw"></i>
            Admin Tasks
        </a>
        <ul class="nav nav-second-level collapse in">
            {% set url_parts = request.path.split('/') %}
            {% set last_part = url_parts.pop() %}
            <li class="{% if last_part == 'jobs_monitor' %}active{% endif %}">
                <a href='{{ beta_url }}/admin/{{ species }}/jobs_monitor'>
                    <i class="fa fa-list-alt fa-fw"></i>
                    Job Monitor
                </a>
            </li>
            <li class="{% if last_part == 'admin' %}active{% endif %}">
                <a href='{{ beta_url }}/admin'>
                    <i class="fa fa-database fa-fw"></i>
                    Admin Page
                </a>
            </li>
            <li class="{% if last_part == 'email_users' %}active{% endif %}">
                <a href='{{ beta_url }}/admin/{{ species }}/email_users'>
                    <i class="fa fa-envelope fa-fw"></i>
                    Email Users
                </a>
            </li>
        </ul>
    </li>
{% endif %}

<li>
    <a href="#"> <span class="fa arrow"></span>
        <i class="fa fa-wrench fa-fw"></i>
        Tasks
    </a>
    <ul class="nav nav-second-level collapse in">
        {% set url_parts = request.path.split('/') %}
        {% set last_part = url_parts.pop() %}
        {% set query_part = request.query_string.decode('utf-8') %}

        <li class="{% if last_part == 'search_strains' and not query_part %}active{% endif %}">
            <a href='{{ beta_url }}/species/{{ species }}/search_strains'>
                <img src='/static/img/icons/bacteria.png'>
                Search Strains
            </a>
        </li>
        <li class="{% if last_part == 'search_strains' and 'query=st_search' in query_part %}active{% endif %}">
            <a href='{{ beta_url }}/species/{{ species }}/search_strains?query=st_search'>
                <i class="fa fa-search"></i>
                Find ST(s)
            </a>
        </li>
        <li class="{% if last_part == 'download_data' %}active{% endif %}">
            <a href='{{ beta_url }}/species/{{ species }}/download_data'>
                <i class="fa fa-download fa-fw"></i>
                Download Schemes
            </a>
        </li>
        <li class="{% if last_part == 'upload_reads' %}active{% endif %}">
            <a href='{{ beta_url }}/species/{{ species }}/upload_reads'>
                <i class="fa fa-upload fa-fw"></i>
                Upload Reads
                {% if not current_user.is_authenticated() %}
                    <i class='fa fa-lock'></i>
                {% endif %}
            </a>
        </li>
        <li class="{% if last_part == 'my_strains' %}active{% endif %}">
            <a href='{{ beta_url }}/species/{{ species }}/my_strains'>
                <img src='/static/img/icons/my_bacteria.png'>
                Curate Strains
                {% if not current_user.is_authenticated() %}
                    <i class='fa fa-lock'></i>
                {% endif %}
            </a>
        </li>
        <li class="{% if last_part == 'my_jobs' %}active{% endif %}">
            <a href='{{ beta_url }}/species/{{ species }}/my_jobs'>
                <i class="fa fa-list-alt fa-fw"></i>
                My Jobs
                {% if not current_user.is_authenticated() %}
                    <i class='fa fa-lock'></i>
                {% endif %}
            </a>
        </li>
        <li class="{% if last_part == 'locus_search' %}active{% endif %}">
            <a href='{{ beta_url }}/species/{{ species }}/locus_search'>
                <img src='/static/img/icons/locus_search_icon.gif'>
                Locus Search
                {% if not current_user.is_authenticated() %}
                    <i class='fa fa-lock'></i>
                {% endif %}
            </a>
        </li>
        <li class="{% if last_part == 'my_buddies' %}active{% endif %}">
            <a href='{{ beta_url }}/species/{{ species }}/my_buddies'>
                <i class="fa fa-users fa-fw"></i>
                My Buddies
                {% if not current_user.is_authenticated() %}
                    <i class='fa fa-lock'></i>
                {% endif %}
            </a>
        </li>
    </ul>
</li>

{% if config['ACTIVE_DATABASES'].get(species)[0] in ["Salmonella", "Escherichia/Shigella", "Yersinia", "Clostridioides"] %}
    <li>
        <a href="https://enterobase.readthedocs.io/en/latest/HierCC_lookup.html" target="_blank">
            <i class="fa fa-external-link"></i>
            HierCC equivalents
        </a>
    </li>
{% endif %}
