{% extends "jql_base.html" %}
{% block head%}
{{ super() }}

<link rel ='stylesheet'href="{{url_for('static',filename='css/table/validation_grid.css')}}">
<link rel ='stylesheet'href="{{url_for('static',filename='css/table/leaflet.css')}}">

{% endblock %}

{% block title %}{{appname}} - Search {{species}}{% endblock %}

{% block tablecontent %}

    {% block extracontent %}
    {% endblock %}


    <div id ="mainmenu" ></div>
	<div style='float:left;display:inline;margin-left:15px;margin-top: 5px'id = 'main-grid-icons'></div>


    <div style='margin-left:15px;margin-top: 5px'>
		&nbsp; <b>Rows Total:</b><span id="rowcount">0</span>
		<b>Filtered:</b><span id="filtercount">0</span>
	<div style="margin-top: 5px" id="editing-stats-div">
		<b>Errors:</b><span id="errorcount">0</span>
		<b>Edited:</b><span id="editcount">0</span>
	</div>

        {%block extramenu %}
    {% endblock %}

    <img id ="loadingImage" align ='right' alt="waiting" src ="{{url_for('static',filename='img/upload/waiting_wbg.gif')}}">
    </div>

    <div id="tablelayout" style='width:100%;height:90vh;padding-bottom: 0px;'>
        <div id="maintab" class='ui-layout-center'>
            <div class="ui-layout-north" id='maintableheader'></div>
            <div class="ui-layout-center" id='maintablecontent'>
            </div>
        </div>
        <div id="righttab" style='white-space: nowrap;' class='ui-layout-east'>
            <div class="ui-layout-north" id='righttableheader'></div>
            <div class="ui-layout-center" id='righttablecontent'></div>
        </div>
    </div>

    <div id ='table-footer' style= 'position: sticky; bottom: 0; background-color: white; z-index: 1000; box-shadow: 0px -2px 5px rgba(0,0,0,0.1); padding: 10px 0; border-top: 1px solid #ccc;'>
    <div style='display:inline;float:left;z-index:100;Padding-left:5px'>
    <label for="pagesize">Page size: </label>
	    <select id="pagesize" name="pagesize">
		<option value="10">10</option>
		<option value="15">15</option>
		<option value="20">20</option>
		<option value="25">25</option>
		<option value="30">30</option>
		<option value="40">40</option>
		<option selected value="50">50</option>
		<option value="100">100</option>
		<option value="250">250</option>
		<option value="500">500</option>
	    </select>
    </div>
    <div id="paginator1" class="paginator"></div>
        <div style='display:inline-block;float:right;margin-right: 5px;'>
            <label>GoTo:</label>
            <select id='goto-select'>
                <option>Record</option>
                <option>Page</option>

            </select>
            <input id='goto-input' style='width: 60px;font-size:12px'>
            <button id='goto-button'>Go</button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{super()}}
 <!--All the required scripts-->
<script src="{{url_for('static',filename='js/main/contextMenu.min.js')}}"></script>
<script src="{{beta_url}}/static/js/table/ddsmoothmenu.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/table/editablegrid-2.0.1.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/table/validation_grid.js?version={{config['JAVASCRIPT_VERSION']}}"></script>

{% block extraincludes%}
{% endblock %}


<script>

    {% block gridsetup %}
    {% endblock %}
  
	mainGrid.imgFolder="{{url_for('static',filename='img/upload/')}}";
	rightGrid.imgFolder="{{url_for('static',filename='img/upload/')}}";

    var loadingImage;
    var sortParameters = []

	function setGridParams(gridParams){
		with (mainGrid){	             
			//need to set column order berfore adding to page				
			setColumnOrder(gridParams.column_order);		
			for (key in gridParams.column_widths){
				columnWidths[key] =gridParams.column_widths[key] ;
			}
			for (key in gridParams.hidden_columns){
				hiddenColumns[key]= gridParams.hidden_columns[key];
			}
			setPageSize(gridParams.page_size);
			$("#pagesize").val(gridParams.page_size);
			setDisplayValues(gridParams.display_settings);						       	
		}
		rightGrid.setDisplayValues(mainGrid.getDisplayValues());
		
	}
    
	//function called after set up has completed    
	function addTablesToPage(rightOnly){
		mainGrid.imgFolder="{{url_for('static',filename='img/upload/')}}";
		rightGrid.imgFolder="{{url_for('static',filename='img/upload/')}}";


		if (! rightOnly){
			with (mainGrid){	             
				//need to set column order berfore adding to page				
				addToPage("maintablecontent","testgrid","maintableheader");		
				setPaginator("paginator1");			
				setErrorListener(function (errors){
					$("#errorcount").html(errors)
				});
				setRowNumberListener(function (rowCount,filterCount){
					$("#rowcount").html(rowCount);
					$("#filtercount").html(filterCount);
				});					       	
			}
		}
		rightGrid.addToPage("righttablecontent","testgrid","righttableheader");
		rightGrid.setPageSize(mainGrid.pageSize);
		rightGrid.setPageIndex(mainGrid.currentPageIndex)
		rightGrid.setStrainGrid(mainGrid);
		rightGrid.setDisplayValues(mainGrid.getDisplayValues());
		 //synchronize page size and index
		 mainGrid.setPageSize = function(pageSize){
			rightGrid.setPageSize(pageSize)
			ValidationGrid.prototype.setPageSize.call(this,pageSize);
		}

		mainGrid.setPageIndex = function(pageIndex){
			rightGrid.setPageIndex(pageIndex,true);
			ValidationGrid.prototype.setPageIndex.call(this,pageIndex);
			$('#maintablecontent').scrollTop(0);
			$('#righttablecontent').scrollTop(0);   
		};

	    mainGrid.sort=function(c, d, b){
		ValidationGrid.prototype.sort.call(this,c,d,b,true);
		}
		rightGrid.sort=function(c, d, b){
			ValidationGrid.prototype.sort.call(this,c,d,b,true);
		}

		

		mainGrid.tableFiltered= function(keepOnPage){
			__syncTable(mainGrid,rightGrid,keepOnPage)
			rightGrid.refreshGrid();
		}

		rightGrid.tableFiltered= function(){
			__syncTable(rightGrid,mainGrid);
			mainGrid.rowNumberListener(mainGrid.getCompleteRowCount(),mainGrid.getRowCount());
		}
	 
		rightGrid.getRowClass = function(rowID){
			return mainGrid.getRowClass(rowID);
		}
	 
		//synchronize the sorting
		rightGrid.tableSorted = function(columnIndex, descending){
			__sortTable(rightGrid,mainGrid);
			mainGrid.setPageIndex(0);
			//mainGrid.refreshGrid();
		}
		mainGrid.tableSorted = function(columnIndex, descending){
			__sortTable(mainGrid,rightGrid);
			mainGrid.setPageIndex(0)
			//mainGrid.refreshGrid();
	   
		}
		
		for (var rowID in mainGrid.nonEditableRows){
			rightGrid.nonEditableRows[rowID]=true; 
		}
		for (var rowID in mainGrid.isDownloadable){
			rightGrid.isDownloadable[rowID]=true; 
		}
		rightGrid.editMode = mainGrid.editMode;
    };
    
    function __sortTable(tableSorted,tableToSort){
	 var filterActive = tableSorted.dataUnfiltered != null;
	 var data = tableSorted.data;
	 var otherData = tableToSort.dataUnfiltered?tableToSort.dataUnfiltered:tableToSort.data;
	 if (otherData.length===0){
		return;	 
	 }
	 temp_data= []
	 for (var index in data){
		var id = data[index].id;
		var otherRecord = tableToSort.IDIndex[id]
		/*for (var index2 in otherData){
			if (id===parseInt(otherData[index2].id)){
				otherRecord=otherData[index2];
				break;
			}			
		}*/
		temp_data[index] = otherRecord     
	    }
	 tableToSort.data =[];
	 tableToSort.data = temp_data;
	 if (tableToSort.dataUnfiltered) {
             tableToSort.dataUnfiltered = temp_data;
         }
    }
    
    function __syncTable(tableSorted,tableToSort,keepOnPage){
	 var filterActive = tableSorted.dataUnfiltered != null;
	 var data = tableSorted.data;
	 var other_data = tableToSort.dataUnfiltered?tableToSort.dataUnfiltered:tableToSort.data;
	 tableToSort.dataUnfiltered=other_data;
	 for (var r = 0; r < other_data.length; r++) {
		other_data[r].visible=false;
	 }
	 temp_data= []
	 for (var index in data){
		var id = data[index].id;
		var otherRecord = tableToSort.IDIndex[id];	
		otherRecord.visible=true;		
		temp_data[index] = otherRecord;  
	    }
	 tableToSort.data =[];
	 tableToSort.data = temp_data;
	 
	if (!keepOnPage){
		tableToSort.setPageIndex(0);
	} 
    }

    function __filterTable(taf,ttf,keepOnPage){
	if (ttf.dataUnfiltered != null){
	    ttf.data = ttf.dataUnfiltered;
	}
	if (ttf.data.length===0){
		return
	}
		
	var other_data = taf.dataUnfiltered?taf.dataUnfiltered:taf.data
	if (ttf.data.length != other_data.length){
		return;
	}
	var temp_data = [];
	for (var r = 0; r < other_data.length; r++) {
		ttf.data[r].visible = other_data[r].visible
		if (other_data[r].visible){
		    temp_data.push(ttf.data[r]);
		}
		
	}
	ttf.dataUnfiltered = ttf.data;
	ttf.data = temp_data;
	if (!keepOnPage){
		ttf.setPageIndex(0);
	}
    }
	
	//****Sorting Functions*******
	
	function makeIntSortFunction(table,colIndex){
		return function(v1,v2){
			var val1 =  parseInt(v1[table][colIndex]);
			var val2 =	parseInt(v2[table][colIndex]);
			val1 = isNaN(val1)?-3:val1;
			val2 = isNaN(val2)?-3:val2
			return val1-val2;
		}
	}
	
	function makeStringSortFunction(table,colIndex){
		return function(v){
			var val = v[table][colIndex];
			if (!val){
				val ="aaa";
			}
			return val;
		}
	}
	
	function makeDateSortFunction(table,colIndex){
		return function(v){
			var val = v[table][colIndex];
			if (!val){
				return 0;
			}
			return parseInt(val.replace("-",""));
			
		}
	}

SortDialog.prototype = Object.create(null);

function SortDialog(){	
	var self =  this;
	//each contains [0] main or name of right grid [1] name of column [2] 0 or -1
	this.sortColumns=[]
	$(".ui-dialog").css('overflow',"visible");
	this.div = $("<div>");
	this.table = $("<table>").appendTo(this.div);
	for (var n=1;n<6;n++){
		this.sortColumns[n]=["None","None","1"];
		var row = $("<tr>");
		var select = $("<select>").attr("id","sort-select-"+n);
		select.data("number",n).bind("change",function(){
			var num = $(this).data("number");
			var info = $(this).val()
			if (info === 'None'){
				self.sortColumns[num][0]="None";
				self.sortColumns[num][1]="None";
			}
			else{
				var arr= info.split("|")
				self.sortColumns[num][0]=arr[0];
				self.sortColumns[num][1]=arr[1];	
			}
				
		});
		$("<td>").append(select).appendTo(row);
		
		select =$("<select>").attr("id","sort-order-"+n);
		select.append($("<option>").val(1).text("ASC"));
		select.append($("<option>").val(-1).text("DESC"));
		select.data("number",n).bind("change",function(){
			var num = $(this).data("number");
			self.sortColumns[num][2]=$(this).val();	
		});
		$("<td>").append(select).appendTo(row);
		row.appendTo(this.table);
	}
	
	this.div.dialog({
		autoOpen: false,
		modal: false,
		title: "Sort Data",
	width: 'auto',
	height:'auto',
	buttons: {
	"Cancel": function () {			   
		$(this).dialog("close");
	},
	 "Sort": function () {
		self.sort();
		$(this).dialog("close");
			}	
		},
		
	});
	
	
}

SortDialog.prototype.open = function(){
	this.div.dialog("open");
}
SortDialog.prototype.save = function(){
	return this.sortColumns;
}

SortDialog.prototype.load = function(columns){
	this.sortColumns =  columns;
	this.setColumns();
}

/** 
Called when right grid
*/
SortDialog.prototype.setColumns= function(){
	var self = this;
	for (var n=1;n<6;n++){
		var sel = $("#sort-select-"+n);
		sel.empty();
		sel.append($("<option>").val("None").text("None"));
		var group = $("<optgroup>").attr("label","Strain Metadata");
		sel.append(group);
		for (var index in mainGrid.col_list){
			var col = mainGrid.col_list[index];
			if (col['not_write']){
				continue;
			}
			group.append($("<option>").val("main|"+col['name']).text(col['label']).bind("change"));	
		}
		
		group = $("<optgroup>").attr("label",all_experiments[associated_data]['label']);
		sel.append(group);
		for (var index in rightGrid.col_list){
			var col = rightGrid.col_list[index];
			if (col['not_write']){
				continue;
			}
			group.append($("<option>").val(associated_data+"|"+col['name']).text(col['label']));	
		}
		sel = $("#sort-order-"+n);
		sel.val(1);
		
	}
	for (var index in this.sortColumns){
		var type = this.sortColumns[index][0];
		if (type === "main" || type === associated_data){
			var sel = $("#sort-select-"+index);
			sel.val(this.sortColumns[index][0]+"|"+this.sortColumns[index][1]);
			sel = $("#sort-order-"+index);
			sel.val(this.sortColumns[index][2]);
		}
	}
}

SortDialog.prototype.sort = function(){
	var columns= []

	
	for (var n=1;n<5;n++){
		if (this.sortColumns[n][1]!== "None"){
			this.sortColumns[n][2] = parseInt(this.sortColumns[n][2]);
			columns.push(this.sortColumns[n]);	
		}
	}
	
	if (columns.length !==0){
		sortBy(columns);
	}
}

	function sortBy(columns){
		var sortFunctions=[];
		var removeColumns = false;
		
		for (var index in columns){
			var grid = columns[index][0];
			var col = columns[index][1];
			var colIndex=0;
			var type = "";
			var table = "columns"
			
			if (grid !== 'main'){
				colIndex = rightGrid.getColumnIndex(col);
				type = rightGrid.columns[colIndex]['datatype'];
				
				for (var i=0;i<mainGrid.getRowCount();i++){
					if (!removeColumns){
						mainGrid.data[i]['right']=[]
					}
					mainGrid.data[i]['right'][colIndex]=rightGrid.getValueAt(i,colIndex);
	
				}
				table = 'right';
				removeColumns=true;
					
			}
			else{
				colIndex = mainGrid.getColumnIndex(col);
				type = mainGrid.columns[colIndex]['datatype'];
			
			}
			
			if (type === "integer" || type ==='double'){
				sortFunctions[index]=makeIntSortFunction(table,colIndex);				
			}
			else if (col==="Collection Date" || type ==='date'){
				sortFunctions[index]= makeDateSortFunction(table,colIndex);	
			}
			else{
				sortFunctions[index]= makeStringSortFunction(table,colIndex);		
			}
			
		}
		var len = sortFunctions.length;
			
		switch (len){
			case 1:mainGrid.data.sort(firstBy(sortFunctions[0],columns[0][2]));
			break;
			case 2:mainGrid.data.sort(firstBy(sortFunctions[0],columns[0][2]).thenBy(sortFunctions[1],columns[1][2]));
			break;
			case 3:mainGrid.data.sort(firstBy(sortFunctions[0],columns[0][2]).thenBy(sortFunctions[1],columns[1][2]).thenBy(sortFunctions[2],columns[2][2]));
			break;
			case 4:mainGrid.data.sort(firstBy(sortFunctions[0],columns[0][2]).thenBy(sortFunctions[1],columns[1][2]).thenBy(sortFunctions[2],columns[2][2]).thenBy(sortFunctions[3],columns[3][2]));
			break;
			case 5:mainGrid.data.sort(firstBy(sortFunctions[0],columns[0][2]).thenBy(sortFunctions[1],columns[1][2]).thenBy(sortFunctions[2],columns[2][2]).thenBy(sortFunctions[3],columns[3][2]).thenBy(sortFunctions[4],columns[4][2]));
			break;
		
		}	
		if (removeColumns){
			for (var i=0;i<mainGrid.getRowCount();i++){
				delete mainGrid.data[i]['right'];
			}
		}
		mainGrid.tableSorted();
		//mainGrid.refreshGrid();
	}

window.onload = function() {

    $('#goto-button').click(function (e) {
        var type = $('#goto-select').val();
        mainGrid.gotoRecord($('#goto-input').val(), type);

    });

    var lat = $('#tablelayout').layout({applyDefaultStyles: true});
    var maintab = $('#maintab').layout({
            spacing_open: 0,
            spacing_closed: 0
        }
    );
    $('#maintab').css('padding', '0px');
    var righttab = $('#righttab').layout({
        spacing_open: 0,
        spacing_closed: 0
    });

    $("#maintab").css("padding", "0px");

    $("#righttab").css("padding", "0px");

    var main = $('#maintablecontent');
    var right = $('#righttablecontent');
    var mainheader = $('#maintableheader');
    var rightheader = $('#righttableheader');

    main.css({
        'overflow-x': 'scroll',
        'overflow-y': 'hidden',
        'scrollbar-width': 'thin',
        'visibility': 'visible'
    })

    right.css({
        'overflow': 'scroll',
        'scrollbar-width': 'thin'
    })

    rightheader.css({
        'padding': '0px',
        'overflow': 'hidden',
        'left': '0px',
        'right': "5px",
        'top': '0px'
    })

    mainheader.css({
        'padding': '0px',
        'overflow': 'hidden',
        'left': '0px',
        'top': '0px',
        'right': "0px"
    });

    //make sure scrolling is synchronized
    main.scroll(function (e) {
        $("#maintableheader").scrollLeft($(this).scrollLeft());

    });
    right.scroll(function (e) {
        $("#righttableheader").scrollLeft($(this).scrollLeft());
        $("#maintablecontent").scrollTop($(this).scrollTop());
    });

    var sb_width = right[0].offsetWidth - right[0].clientWidth;
    mainGrid.addMenuBar("mainmenu");

    //extra initialization goes here 
    {% block windowready %}
    {% endblock  %}

    loadingImage = $("#loadingImage");

    $("#editing-stats-div").hide();

    $("#pagesize").change(function (e) {
        mainGrid.setPageSize($(this).val());
    });
};

</script>

{% endblock %}
