{% extends "base.html" %}
{% block head %}
    {{ super() }}

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


{% endblock %}

{% block maincontent %}
 <div class="section container card" id="enterobase-terms-and-conditions">

        <h1>{{appname}} Terms and Conditions<a class="headerlink" href="#enterobase-terms-and-conditions"
                                              title="Permalink to this headline"><i class="fa fa-link"></i></a></h1>
         <p><strong>PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE USING THIS SERVICE.</p>
         <p>PLEASE READ <a class="reference internal" href="#appendix-a">Appendix A</a>.</strong></p>
         <p><strong>PLEASE READ OUR GDPR UPDATE</strong> <a class="reference internal" href="GDPR" target="_blank"><span
                    class="doc">How {{appname}} uses your personal data (GDPR)</span></a>.</p>
        <div class="section" id="what-s-in-these-terms">
            <h2>What’s in These Terms?<a class="headerlink" href="#what-s-in-these-terms"
                                         title="Permalink to this headline"><i class="fa fa-link"></i></a></h2>
            <p>These terms tell you the rules for using our web service {{appname}} <a class="reference external"
                                                                                      href="{{server_base_address}}"
                                                                                      target="_blank">{{server_base_address}}</a>.
            </p>
        </div>
        <div class="section" id="who-we-are-and-how-to-contact-us">
            <h2>Who We Are and How to Contact Us?<a class="headerlink" href="#who-we-are-and-how-to-contact-us"
                                                   title="Permalink to this headline"><i class="fa fa-link"></i></a>
            </h2>
            <p><a class="reference external" href="{{server_base_address}}" target="_blank">{{appname}}</a>
                {% if 'dsmz' in server_base_address %}
                is a service operated by the Leibniz Institute
                DSMZ-German Collection of Microorganisms and Cell Cultures GmbH (“We”).
                {% else %}
                is a service operated by the Bioinformatics RTP of the University of Warwick(“We”).
                {% endif %}
                </p>
            <p>To contact us, please email <a class="reference external"
                                              href="mailto:{{email_address}}">{{email_address}}</a>.
            </p>
            <p>{{appname}} aims to establish a user-friendly genome database,
                together with a set of web-based tools,
                to enable bacteriologists to identify, analyze, quantify and visualize genomic variation.</p>
        </div>
        <div class="section" id="by-using-our-service-you-accept-these-terms">
            <h2>By Using Our Service You Accept These Terms<a class="headerlink"
                                                              href="#by-using-our-service-you-accept-these-terms"
                                                              title="Permalink to this headline"><i
                    class="fa fa-link"></i></a></h2>
            <p>By using our service, you confirm that you accept these terms of use and that you
                agree to comply with them. If you do not agree to these terms, you must not use
                our service.</p>
            <p>THERE ARE OTHER TERMS THAT MAY APPLY TO YOU.
                These terms of use refer to the following additional terms, which also apply to
                your use of our service:</p>
            <p>See <a class="reference internal" href="#appendix-a">Appendix A</a></p>
        </div>
        <div class="section" id="we-may-make-changes-to-these-terms">
            <h2>We May Make Changes to These Terms<a class="headerlink" href="#we-may-make-changes-to-these-terms"
                                                     title="Permalink to this headline"><i class="fa fa-link"></i></a>
            </h2>
            <p>We amend these terms from time to time. Every time you wish to use our service,
                please check these terms to ensure you understand the terms that apply at that
                time.</p>
        </div>
        <div class="section" id="we-may-change-suspend-or-withdraw-our-service">
            <h2>We May Change, Suspend, or Withdraw Our Service<a class="headerlink"
                                                                 href="#we-may-change-suspend-or-withdraw-our-service"
                                                                 title="Permalink to this headline"><i
                    class="fa fa-link"></i></a></h2>
            <p>We may update and change our service from time to time.</p>
            <p>We do not guarantee that our service, or any content on it, will always be
                available or be uninterrupted. We may suspend or withdraw or restrict the
                availability of all or any part of our service for business and operational
                reasons. We will try to give you reasonable notice of any suspension or withdrawal.</p>
            <p>You are also responsible for ensuring that all persons who access our service
                through your internet connection are aware of these terms of use and other
                applicable terms and conditions, and that they comply with them.</p>
        </div>
        <div class="section" id="you-must-keep-your-account-details-safe">
            <h2>You Must Keep Your Account Details Safe<a class="headerlink"
                                                          href="#you-must-keep-your-account-details-safe"
                                                          title="Permalink to this headline"><i class="fa fa-link"></i></a>
            </h2>
            <p>If you choose, or you are provided with, a user identification code, password or
                any other piece of information as part of our security procedures, you must treat
                such information as confidential. You must not disclose it to any third party.</p>
            <p>We have the right to disable any user identification code or password, whether
                chosen by you or allocated by us, at any time, if in our reasonable opinion you
                have failed to comply with any of the provisions of these terms of use.
                If you know or suspect that anyone other than you knows your user identification
                code or password, or if you become aware of any apparent breaches of security
                such as loss, theft or unauthorised disclosure, you must promptly notify us at
                <a class="reference external"
                   href="mailto:{{email_address}}">{{email_address}}</a>.</p>
        </div>
        <div class="section" id="how-you-may-use-material-on-our-service">
            <h2>How You May Use Material on Our Service?<a class="headerlink"
                                                          href="#how-you-may-use-material-on-our-service"
                                                          title="Permalink to this headline"><i class="fa fa-link"></i></a>
            </h2>
            <p>See <a class="reference internal" href="#appendix-a">Appendix A</a></p>
            <p>You will use this service in a manner consistent with all applicable laws,
                legislation, rules and regulations.
                We are the owner or the licensee of all intellectual property rights in our
                service, and in the material published on it. Those works are protected by
                copyright laws and treaties around the world. All such rights are reserved.
                Our status (and that of any identified contributors) as the authors of content
                on our service must always be acknowledged.</p>
            <p>You must not use any part of the content on our service for commercial purposes
                without obtaining a licence to do so from us and/or our licensors.</p>
        </div>
        <div class="section" id="do-not-rely-on-information-on-this-service">
            <h2>Do Not Rely on Information on This Service<a class="headerlink"
                                                             href="#do-not-rely-on-information-on-this-service"
                                                             title="Permalink to this headline"><i
                    class="fa fa-link"></i></a></h2>
            <p>The content on our service is provided for general information only. It is not
                intended to amount to advice on which you should rely. You must obtain
                professional or specialist advice before taking, or refraining from, any action
                on the basis of the content on our service.</p>
            <p>Although we make reasonable efforts to update the information on our service,
                we make no representations, warranties or guarantees, whether express or implied,
                that the content on our service is accurate, complete or up to date. We are not
                responsible for the results of reliance on any such information.</p>
        </div>
        <div class="section" id="we-are-not-responsible-for-web-services-we-link-to">
            <h2>We Are Not Responsible for Web Services We Link To<a class="headerlink"
                                                                     href="#we-are-not-responsible-for-web-services-we-link-to"
                                                                     title="Permalink to this headline"><i
                    class="fa fa-link"></i></a></h2>
            <p>The terms and conditions of any other web services that you link to through this
                service will also apply to the exclusion of all other terms and conditions
                including the present ones.</p>
        </div>
        <div class="section" id="our-responsibility-for-loss-or-damage-suffered-by-you">
            <h2>Our Responsibility for Loss or Damage Suffered by You<a class="headerlink"
                                                                        href="#our-responsibility-for-loss-or-damage-suffered-by-you"
                                                                        title="Permalink to this headline"><i
                    class="fa fa-link"></i></a></h2>
            <p>Whether you are a consumer or a business user:</p>
            <ul class="simple">
                <li>We do not exclude or limit in any way our liability to you where it would be
                    unlawful to do so. This includes liability for death or personal injury caused
                    by our negligence or the negligence of our employees, agents or subcontractors
                    and for fraud or fraudulent misrepresentation.
                </li>
                <li>To the extent permitted by law, we do not warrant that use of this service will
                    not infringe the rights of any other person or organisation, and we accept no
                    responsibility or liability for any material communicated by you or any third
                    parties via our service.
                </li>
                <li>Without limitation to any other of our terms, we will in no case be liable for
                    damage to any device or digital content belonging to you that you could have
                    avoided by following our advice to apply an update offered to you free of charge
                    or for damage that was caused by you failing to correctly follow installation
                    instructions or to have in place the minimum system requirements advised by us.
                </li>
            </ul>
            <p>If you are a business user:</p>
            <ul>
                <li>We exclude all implied conditions, warranties, representations or other terms
                    that may apply to our service or any content on it.
                </li>
                <li>We will not be liable to you for any loss or damage, whether in contract, tort
                    (including negligence), breach of statutory duty, or otherwise, even if
                    foreseeable, arising under or in connection with:
                    <ul class="simple">
                        <li>use of, or inability to use, our service; or</li>
                        <li>use of or reliance on any content displayed on our service.</li>
                    </ul>
                </li>
                <li><b>In particular, we will not be liable for:</b>
                    <ul class="simple">
                        <li>loss of profits, sales, business, or revenue;</li>
                        <li>business interruption;</li>
                        <li>loss of anticipated savings;</li>
                        <li>loss of business opportunity, goodwill or reputation; or</li>
                        <li>any indirect or consequential loss or damage.</li>
                    </ul>
                </li>
            </ul>


            <p>Attention all users:</p>
            <ul class="simple">
                <li>This service is provided for academic use only. You agree not to use our
                    service for any commercial or business purposes whatsoever, and we have no
                    liability to you for any loss of profit, loss of business, business
                    interruption, or loss of business opportunity.
                </li>
            </ul>
        </div>
        <div class="section" id="posting-material-on-our-service">
            <h2>Posting Material on Our Service<a class="headerlink" href="#posting-material-on-our-service"
                                                  title="Permalink to this headline"><i class="fa fa-link"></i></a></h2>
            <p>We do not intend to regularly monitor the use of our service or data transmitted
                to it. However, if we become aware that you are misusing our service, we reserve
                the right to take appropriate action, which may include excluding you and your
                affiliates from accessing our service and removing all data and materials that
                you may have transmitted.</p>
        </div>
        <div class="section" id="we-are-not-responsible-for-viruses-and-you-must-not-introduce-them">
            <h2>We are Not Responsible for Viruses and You Must Not Introduce Them<a class="headerlink"
                                                                                     href="#we-are-not-responsible-for-viruses-and-you-must-not-introduce-them"
                                                                                     title="Permalink to this headline"><i
                    class="fa fa-link"></i></a></h2>
            <p>We do not guarantee that our service will be secure or free from bugs or viruses.
                You are responsible for configuring your information technology, computer
                programmes and platform to access our service. You should use your own virus
                protection software.</p>
            <p>You must not misuse our service by knowingly introducing viruses, trojans, worms,
                logic bombs or other material that is malicious or technologically harmful.
                You must not attempt to gain unauthorised access to our service, the server
                on which our service is stored or any server, computer or database connected to
                our service. You must not attack our service via a denial-of-service attack or
                a distributed denial-of service attack. By breaching this provision, you would
                commit a criminal offence under the Computer Misuse Act 1990. We will report any
                such breach to the relevant law enforcement authorities and we will co-operate
                with those authorities by disclosing your identity to them. In the event of such
                a breach, your right to use our service will cease immediately.</p>
        </div>
        <div class="section" id="indemnity">
            <h2>Indemnity<a class="headerlink" href="#indemnity" title="Permalink to this headline"><i
                    class="fa fa-link"></i></a></h2>
            <p>If you breach any of these terms, you agree to indemnify us for any losses,
                costs, expenses, fines or damages, including reasonable legal fees, incurred by
                or imposed upon us in relation to, or arising out of, such a breach.</p>
        </div>
        <div class="section" id="validity-of-these-terms">
            <h2>Validity of These Terms<a class="headerlink" href="#validity-of-these-terms"
                                          title="Permalink to this headline"><i class="fa fa-link"></i></a></h2>
            <p>If any part of these terms is declared invalid for any reason by a court of
                competent jurisdiction, this will not affect the validity of any remaining part
                of the terms. Any such remaining part will remain in full force and effect as if
                the invalid part of the terms had been eliminated.</p>
        </div>
        <div class="section" id="other-important-terms">
            <h2>Other Important Terms<a class="headerlink" href="#other-important-terms"
                                        title="Permalink to this headline"><i class="fa fa-link"></i></a></h2>
            <p>We may transfer this agreement to someone else. We may transfer our rights and
                obligations under these terms to another organisation. We will always tell you
                by email if this happens and we will ensure that the transfer will not affect
                your rights under the contract.</p>
            <p>If a court finds part of this contract illegal, the rest will continue in force.
                Each of the paragraphs of these terms operates separately. If any court or
                relevant authority decides that any of them are unlawful, the remaining paragraphs
                will remain in full force and effect.</p>
            {% if 'dsmz' in server_base_address %}
            <p>These terms of use, their subject matter and their formation (and any
                non-contractual disputes or claims) are governed by German law. We both agree to the exclusive
                jurisdiction of the courts of Germany.</p>
            {% else %}
            <p>These terms of use, their subject matter and their formation (and any
                non-contractual disputes or claims) are governed by English law. We both agree to the exclusive
                jurisdiction of the courts of England and Wales.</p>
            {% endif %}
        </div>
        <div class="section" id="privacy-policy">
            <h2>Privacy Policy<a class="headerlink" href="#privacy-policy" title="Permalink to this headline"><i
                    class="fa fa-link"></i></a></h2>
            <p>We want to protect the privacy of all visitors to our webs services and of all of our customers, and this
                policy will help you to understand how we use your personal data.</p>
            <p>This policy and (any other documents referred to on it) sets out the basis on
                which any personal data we collect from you, or that you provide to us, will be
                processed by us. Please read the following carefully to understand our views and
                practices regarding your personal data and how we will treat it.</p>
            <p>By visiting <a class="reference external" href="{{server_base_address}}" target="_blank">{{server_base_address}}</a>
                and/or by giving us any personal
                data, you are accepting and consenting to the practices described in this policy,
                including our use of <span class="highlighted">cookie</span>s as explained below.
            </p>
        </div>
        <div class="section" id="information-we-collect">
            <h2>Information We Collect<a class="headerlink" href="#information-we-collect"
                                         title="Permalink to this headline"><i class="fa fa-link"></i></a></h2>
            <p>Information you give us. You may provide us with personal information such as
                your name and contact details when you fill in a form on our service or when
                you correspond with us by phone, e-mail or otherwise. This is done to enable us
                to provide our products and services to you, for example in order for you to
                create an account, purchase credits, place an order, make an enquiry, or report
                a problem.</p>
            <p>Information automatically collected when visiting the web service. We may also
                collect information about your computer, including where available your IP
                address, operating system and browser type, and information about your visit
                (such as clickstream to and from our service and pages viewed) for system
                administration and to report aggregate information to our webmasters. This
                is statistical data about our users’ browsing actions and patterns which does
                not identify any individual and allows us to ensure that content from our service
                is presented in the most effective manner for you and for your computer.</p>
        </div>
        <div class="section" id="cookies">
            <h2><span class="highlighted">Cookies</span><a class="headerlink" href="#cookies"
                                                           title="Permalink to this headline"><i class="fa fa-link"></i></a>
            </h2>
            <p>Our web service uses <span class="highlighted">cookie</span>s to distinguish you from other users of our
                web
                service. In particular, we use Google Analytics cookies for the purposes of
                managing the performance and design of the service. This helps us to provide
                you with a good experience when you browse our web service and also allows us to
                improve our service. By continuing to browse our service, you are agreeing to
                our use of cookies.</p>
            <p>A <span class="highlighted">cookie</span> is a small piece of data or message that is sent from a web
                server
                to your browser and stored on the hard drive of your computer. Cookies may
                make it easier for you to log on to and use this web service in future. They
                allow us to monitor web service traffic and to personalise the content of
                this service for our visitors.</p>
            <p>We use the following <span class="highlighted">cookie</span>s:</p>
            <ul class="simple">
                <li>Strictly necessary <span class="highlighted">cookie</span>s. These are cookies that are essential in
                    order to
                    enable you to move around the web service and use its features, such as
                    accessing secure areas of the web service.
                </li>
                <li>Analytical/performance <span class="highlighted">cookie</span>s. They allow us to recognise and
                    count the number
                    of visitors and to see how visitors move around our web service when they are
                    using it. All information these cookies collect is aggregated and therefore
                    anonymous. This helps us to improve the way our web service works, for
                    example, by ensuring that users are finding what they are looking for easily.
                </li>
                <li>Functionality <span class="highlighted">cookie</span>s. These are used to recognise you when you
                    return to our
                    web service and to remember choices you make and provide enhanced, more
                    personal features.
                </li>
            </ul>
            <p>Most web browsers allow some control of most <span class="highlighted">cookie</span>s through the browser
                settings. To find out more about <span class="highlighted">cookie</span>s, including how to see what
                cookies
                have been set and how to manage and delete them. To opt out of being tracked by Google Analytics
                across all web services visit <a class="reference external"
                                                 href="https://tools.google.com/dlpage/gaoptout" target="_blank">https://tools.google.com/dlpage/gaoptout</a>.
                However, if you disable or decline cookies, some features will not be
                available to you or function properly and you may not be able to access some
                parts of the web service.</p>
        </div>
        <div class="section" id="uses-made-of-the-information">
            <h2>Uses Made of the Information<a class="headerlink" href="#uses-made-of-the-information"
                                               title="Permalink to this headline"><i class="fa fa-link"></i></a></h2>
            <p>We use and analyse information held about you in the following ways:</p>
            <ul class="simple">
                <li>to provide you with access to relevant parts of our web service;</li>
                <li>to supply you with the information, products and services that you request from us;</li>
                <li>as part of our efforts to keep our service safe and secure;</li>
                <li>to administer, support, improve and develop our service, products and services; in particular, we
                    may use your personal data to contact you for your views on our products and services and to notify
                    you occasionally about changes or developments to our web service, products or services;
                </li>
            </ul>
            <p>We may contact you by e-mail or by post to ask for feedback on how you use
                our service, but you may stop receiving these types of communications from us
                at any time by contacting us at <a class="reference external" href="mailto:{{email_address}}">{{email_address}}</a>
            </p>
        </div>
        <div class="section" id="when-we-share-your-information">
            <h2>When We Share Your Information<a class="headerlink" href="#when-we-share-your-information"
                                                 title="Permalink to this headline"><i class="fa fa-link"></i></a></h2>
            <p>We do not sell your personal information to third parties.</p><p>
            We share your information within the {{organisation}}, and to a limited extent with
                other users (<a class="reference internal" href="#appendix-a">Appendix A</a>).
            </p><p>We may also share
                your information with our affiliates, our business partners, our agents, our
                distributors, our suppliers, and our sub-contractors that assist us in making
                our web service and/or the products and services on our web service available to
                you. This includes, without limitation, analytics and search engine providers
                that assist us in the improvement and optimisation of our service.</p>
            <p>If we believe that your use of our web service is unlawful or damaging to others,
                we reserve the right to disclose the information we have obtained through our
                web service about you to third parties to the extent that it is reasonably
                necessary in our opinion to prevent, remedy or take action in relation to such conduct.</p>
            <p>We may also disclose or share your personal data in order to comply with any
                legal obligation; in order to enforce or apply any agreements or licences with
                you; or to protect the rights, property, or safety of the {{organisation}},
                our employees, affiliates, agents, distributors, licensors, suppliers, business
                partners, sub-contractors, and/or our customers. This includes exchanging
                information with other companies and organisations for the purposes of fraud
                protection and credit risk reduction.</p>
            <p>If any part of our business (including those of our affiliates) is sold or
                integrated with another business, your details may be disclosed to our advisers
                and any prospective purchasers and their advisers.</p>
        </div>
        <div class="section" id="where-we-store-your-personal-data">
            <h2>Where We Store Your Personal Data<a class="headerlink" href="#where-we-store-your-personal-data"
                                                    title="Permalink to this headline"><i class="fa fa-link"></i></a>
            </h2>
            <p>Information which you provide to us will ordinarily be stored on our secure
                servers. However, we do work with third party contractors, some of whom host and
                operate certain features of the web service. Accordingly, information that we
                collect from you may be collected in or transferred to a destination outside
                the European Economic Area (“EEA”).</p>
            <p>That information may be processed by staff operating outside the EEA who work
                for us or for one of our contractors. Bear in mind that countries outside the
                EEA do not always have strong data protection laws. By submitting your personal
                data, you agree to this transfer, storing and processing. We will take all steps
                reasonably necessary to ensure that your data is treated securely and in accordance
                with the Data Protection Act 1998 and this policy.</p>
            <p>We may disclose your personal information to third parties if we are under a
                duty to disclose or share such information in order to comply with any legal
                obligation or to protect the rights, property or safety of the {{organisation}}, its members or others.</p>
            <p>Unfortunately, no data transmission over the internet is completely secure.
                We therefore cannot guarantee the security of your data transmitted to our
                service, and any transmission is at your own risk. However, once we have
                received your information, we will use strict procedures and security
                features to try to prevent unauthorised access, unlawful processing,
                accidental loss, destruction and damage.</p>
            <p>Where we have given you (or where you have chosen) a password which enables
                you to access certain parts of our service, you are responsible for keeping
                this password confidential. We ask you not to share a password with anyone.</p>
        </div>
        <div class="section" id="your-rights">
            <h2>Your Rights<a class="headerlink" href="#your-rights" title="Permalink to this headline"><i
                    class="fa fa-link"></i></a></h2>
            <p>You have the right to ask us not to process your personal data for marketing
                purposes. We will usually inform you (before collecting your data) if we
                intend to use your data for such purposes or if we intend to disclose your
                information to any third party for such purposes. You can exercise your right
                to prevent such processing at any time by contacting us at
                <a class="reference external"
                   href="mailto:{{email_address}}">{{email_address}}</a>.</p>
            <p>Our service may, from time to time, contain links to and from other web
                services, for instance our third party data providers. If you follow a link
                to any of these web services, please note that these web services have their
                own privacy policies and that we do not accept any responsibility or
                liability for their policies. Please check their policies before you submit
                any personal data to those web services.</p>
        </div>
        <div class="section" id="access-to-information">
            <h2>Access to Information<a class="headerlink" href="#access-to-information"
                                        title="Permalink to this headline"><i class="fa fa-link"></i></a></h2>
            <p>Individuals have certain rights of access to their personal data, including
                the rights to see the personal data held about them and to ask that necessary
                changes are made to ensure that those data are accurate and up to date. If
                you wish to do this, please contact: <a class="reference external" href="mailto:{{email_address}}">{{email_address}}</a>.
            </p>
        </div>
        <div class="section" id="changes-to-our-privacy-policy">
            <h2>Changes to Our Privacy Policy<a class="headerlink" href="#changes-to-our-privacy-policy"
                                                title="Permalink to this headline"><i class="fa fa-link"></i></a></h2>
            <p>We may change this privacy policy at any time without notice, so please check
                this policy each time you visit this web service.</p>
        </div>
        <div class="section" id="contact">
            <h2>Contact<a class="headerlink" href="#contact" title="Permalink to this headline"><i
                    class="fa fa-link"></i></a></h2>
            <p>Questions, comments and requests regarding this privacy policy are welcomed
                and should be addressed to us by writing to us at <a class="reference external"
                                                                     href="mailto:{{email_address}}">{{email_address}}</a>.
            </p>
        </div>
        <div class="section" id="appendix-a">
            <h2>Appendix A<a class="headerlink" href="#appendix-a" title="Permalink to this headline"><i
                    class="fa fa-link"></i></a></h2>
            <p><strong>EnteroBase Users can do the following for academic use only:</strong></p>
            <ul class="simple">
                <li>Search and download public strain records and analysis results including strain metadata and
                    genotyping results, genome annotation and other analyses provided by EnteroBase
                </li>
                <li>Perform analyses on subsets of the database within the website and export the public results.</li>
                <li>Upload sequencing data to be analysed by EnteroBase’s suite of tools.</li>
                <li>Use cgMLST schemes developed by the EnteroBase developers, Users can also export these data for
                    offline analysis and presentation.
                </li>
            </ul>
            <p>Usage outside of academic use will require explicit licensing from the {{organisation}}. Contact <a
                    class="reference external"
                    href="mailto:{{email_address}}">{{email_address}}</a>.</p>
            <p><strong>EnteroBase Users agree to the following if/when they upload their data to us:</strong></p>
            <ul class="simple">
                <li>EnteroBase will inspect user uploaded sequencing data, process it, and call a number of analyses -
                    all results will be available to the data submitter.
                </li>
                <li>EnteroBase reserves the right to automatically run and present results of new analyses implemented
                    on the website (subsequent to data submitters submission), without notifying the user.
                </li>
                <li>derivative analyses results will be made available to other users as soon as they are completed -
                    this includes, serotyping and genotyping results.
                </li>
                <li>the genome assembly will be available to data submitter only for a period of up to 12 months, after
                    which it will be made publicly available.
                </li>
                <li>the raw sequencing data will not be available through EnteroBase to any other user, but will be
                    stored for running new analyses or for verification of past ones.
                </li>
                <li>show their Name, Email Address, Country, Institution and Department to any registered user who
                    clicks on Show Ownership for the uploaded entry in order to facilitate communication.
                </li>
            </ul>
            <p><strong>EnteroBase Users CANNOT:</strong></p>
            <ul class="simple">
                <li>Modify and redistribute data or analyses from EnteroBase without clearly attributing the original
                    source as EnteroBase, and stating the modifications they have made.
                </li>
                <li>Reverse engineering and Reproducing EnteroBase-like database copies without explicit licencing</li>
                <li>download and/or publish any metadata, genomes, genotypes or trees containing uploaded entries that
                    have not yet been released.
                </li>
            </ul>
            <p><strong>Caveats:</strong></p>
            <ul class="simple">
                <li>EnteroBase Users may be surveyed on their use of EnteroBase to promote and improve the service</li>
                <li>If you use data generated by 3rd party tools in EnteroBase, please cite both EnteroBase and the
                    paper describing the specific tool.
                </li>
                <li>EnteroBase retrieves data from public databases and is reviewed by EnteroBase
                    users who act as independent curators. We offer no guarantee of accuracy or
                    consistency with the metadata presented in EnteroBase.
                </li>
                <li>EnteroBase aims to serve genomic data to improve access to the scientific community. We hope that
                    this will lead to collaborations between data submitters and 3rd parties. However data remains
                    property of the data submitter (not with EnteroBase), and use of data beyond what EnteroBase
                    displays should be checked with the original institution who submitted the data. This includes
                    reproduction and derivative works, such as analysis, publication in scientific journals or online in
                    web blogs.
                </li>
            </ul>
            <p style="padding-bottom: 20px">Please read <a class="reference external" href="https://www.ncbi.nlm.nih.gov/home/about/policies.shtml"
                  target="_blank">NCBI data policy</a>, from where we fetch most of the data.</p>

        </div>

   </div>
{% endblock %}