{% extends "bsl_base.html" %}
{% block head %}
{{super()}}

<!-- WVN 14/8/17 - borrowed style sheets from species index template
  since I decided I want it to have a broadly similar style to those pages -->
    <!-- Timeline CSS -->
    <link href="/static/css/bower/timeline.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/css/bower/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->

      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/js_tree/style.min.css" />

<style>
.makeBW {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.wvnVBigFont {
  font-size: 20pt;
}

.wvnBigFont {
  font-size: 16pt;
}
</style>

{% endblock %}

<!-- WVN 16/8/17 - entire sidebar block below borrowed from
  bsl_base.html code in order to have a custom sidebar -->
{% block sidebar %}
 <div class="navbar-default sidebar" role="navigation">
<div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">

    {% include 'warwick_mlst_legacy_side_bar.html' %}

</ul>
</div>
</div>

{% endblock %}

  
{% block maincontent %}
{{ super() }}
      
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Old Warwick MLST Website</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">

            <div class="row">
                            <div class="col-lg-12">
                <div class="panel panel-default">
                        <span class="wvnVBigFont">
                        <!-- <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Important Information
                        </div> -->
                        <!-- /.panel-heading -->


                        <div class="panel-body">
                        <p><b>The website mlst.warwick.ac.uk for the old MLST databases
                        at the University of Warwick is closed.
                        </b></p>

                        </div>
                        </span>

                        <span class="wvnBigFont">
                        <p>You can use the EnteroBase website as a replacement in parts for
                        the old MLST website and much more.</p>
                        <p>Access databases:</p>
                        <p>
                        <ul>
                        <!-- <li><a href="old_site_support/warwick_mlst_legacy_allele_st_query">Click here for identifying alleles</a></li>
                        <li><a href="old_site_support/warwick_mlst_legacy_allele_st_query">Click here for identifying STs</a></li>
                        <li><a href="old_site_support/warwick_mlst_legacy_info">Click here for information (including information originally available for 7-gene MLST on the old site)</a></li>
                        <li><a href="old_site_support/warwick_mlst_legacy_strain_query">Click here to search strains</a></li>
                        <li><a href="old_site_support/warwick_mlst_legacy_downloads">Click here to download scheme related data</a></li> -->
                        <li><a href="/species/ecoli/allele_st_search">Escherichia coli</a></li>
                        <li><a href="/species/mcatarrhalis/allele_st_search">Moraxella catarrhalis</a></li>
                        <li><a href="/species/senterica/allele_st_search">Salmonella enterica</a></li>
                        <li><a href="/species/yersinia/allele_st_search">Yersinia pseudotuberculosis</a></li>
                        </ul>
                        </p>
                        </div>
                        </span>

                </div>

            </div>

     
{% endblock %}
    <!-- jQuery -->
{% block scripts %}
  {{super()}}
  
{% endblock %}
