{% extends "bsl_base.html" %}
{% block head %}
{{super()}}

<!-- WVN 14/8/17 - borrowed style sheets from species index template
  since I decided I want it to have a broadly similar style to those pages -->
    <!-- Timeline CSS -->
    <link href="/static/css/bower/timeline.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/css/bower/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->

      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/js_tree/style.min.css" />

<style>
.makeBW {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}
</style>

{% endblock %}

<!-- WVN 16/8/17 - entire sidebar block below borrowed from
  bsl_base.html code in order to have a custom sidebar -->
{% block sidebar %}
 <div class="navbar-default sidebar" role="navigation">
<div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">

    {% include 'warwick_mlst_legacy_side_bar_long.html' %}

</ul>
</div>
</div>

{% endblock %}

  
{% block maincontent %}
{{ super() }}
      
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Old Warwick MLST Website</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">

            <div class="row">
                            <div class="col-lg-12">
                <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Important Information
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        <p>
                            <b>Any Questions or comments?</b>
                            <ul>
                            <li>Please post to our <a href='http://bitbucket.org/enterobase/enterobase-web/issues?status=new&status=open'>Issue tracker (BitBucket)</a></li>
                            <li>Or <a href='http://enterobase.readthedocs.io/en/latest/'>read the documentation</a></li>
                            </ul>
                            </p>
                        </li>
                        </div>
                        <div class="panel-body">
                        <p>The website for the old MLST databases at the University of Warwick
                        which was previously at mlst.warwick.ac.uk (and mlst.ucc.ie before that)
                        has now been retired.  This is because the old MLST website has been
                        replaced
                        with EnteroBase.  While it was possible to maintain the old MLST website
                        for a while for the benefit of older users, there were not the resources
                        available to continue maintaining the old website when it supported an
                        obsolete technology.  It is now easy to obtain whole genome sequences which
                        provide more information.
                        During the lifespan of the legacy MLST website, one third of the new
                        alleles we received via the uploaded ABI sequences were
                        sequencing errors rather than real sequence
                        variations. Resolving these errors manually was time consuming.
                        In addition, we don't know how many new STs were wrong,
                        because novel combinations of known alleles can be due to mix-ups rather
                        than recombination.</p>
                        <p>In order to improve the quality of the database, we enforce all the
                        new allele/STs to be defined by NGS short reads. If you upload the short
                        reads into <a href='/'>https://enterobase.warwick.ac.uk/</a>,
                        we will assemble the short
                        reads and report you back all identified allele designations. On top of
                        this, you get access to additional information by comparing your genomes
                        with &gt;120,000 existing genomes from all over the world. These genomes
                        were either published in NCBI short read archive database, or uploaded
                        by other users.</p>
                        <p>Now the average cost for NGS sequencing of a bacterial strain has been
                        significantly dropped. If you have difficulties in getting NGS sequencing
                        done, we can suggest you to get in touch with
                        <a href='https://microbesng.uk/'>https://microbesng.uk/</a>,
                        which gives you cheap access to NGS. On the other hand, if you still want
                        to stay with ABI sequencing, you can download all the alleles from
                        EnteroBase and built up local MLST databases. Alternatively, you can try
                        <a href='https://cge.cbs.dtu.dk/services/MLST/'>https://cge.cbs.dtu.dk/services/MLST/</a>,
                        which is an online tool for allele
                        identifications (but will not give you new alleles).</p>
                        <p><b>Below is described how tasks supported on the old MLST website
                        can be carried out on the current EnteroBase website.</b></p>
                        </div>
                </div>

                <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i>Content on old MLST website
                        </div>
                        <div class="panel-body">
                        <p>
                        <ul>
                        <li><a href="#allele_st_query">Allele/ ST Query</a></li>
                        <li><a href="#strain_query">Strain Query</a></li>
                        <li><a href="#submission">Submission of Data</a></li>
                        <li><a href="#info">Info</a></li>
                        <li><a href="#downloads">Downloads</a></li>
                        </ul>
                        </p>
                        </div>
                </div>

                <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-search"></i><a id="allele_st_query">Allele/ ST Query</a>
                        </div>
                        <div class="panel-body">
                        <p>This page actually supported two general types of query:
                        <ul>
                        <li>
                        <a href="#allele_st_query_1">
                        searching for the related STs (including any matching ST, if available),
                        given the alleles for the genes in the classic MLST scheme
                        </a></li>
                        <li>
                        <a href="#allele_st_query_2">
                        searching for the allele for a given gene, given the sequence
                        </a></li>
                        </ul>
                        </p>
                        <br/>
                        <h5><b><a id="allele_st_query_1">
                        Search for STs given alleles
                        </a></b></h5> 
                        <p>The first type of query - search for STs given the alleles - can be performed
                        on the EnteroBase website using
                        <a href='http://bitbucket.org/enterobase/enterobase-web/wiki/st_allele_search'>Find ST(s)</a>
                        (described on
                        <a href='http://bitbucket.org/enterobase/enterobase-web/wiki/st_allele_search'>
                        this page in the wiki documentation</a>)
                        and links are provided for the four databases below:
                        <ul>
                        <li><a href="/species/ecoli/search_strains?query=st_search">Escherichia</a></li>
                        <li><a href="/species/mcatarrhalis/search_strains?query=st_search">Moraxella</li>
                        <li><a href="/species/senterica/search_strains?query=st_search">Salmonella</a></li>
                        <li><a href="/species/yersinia/search_strains?query=st_search">Yersinia</a></li>
                        </ul>

                        The query can either be carried out by following the above links
                        or by selecting
                        Find ST(s) (1) from the Tasks menu in the toolbar on the left hand
                        site of webpages
                        for the database of the species/ genus of interest.
                        <br/><br/>
                        <img src='static/img/warwick_mlst_legacy/findsts_part1_labelled.png' width=336 height=364>
                        </img><br/><br/>
                        In order to query as per
                        the old website, it will then be necessary to pick
                        "Search On Allele" (2) in the dialogue box for an MLST query
                        and enter the alleles (3) that one wants to
                        use in the search.  Also, a maximum number of mismatches (4)
                        must be specified (when in the similar query on the old website
                        the number of identical alleles was specified instead).
                        <br/><br/>
                        <img src='static/img/warwick_mlst_legacy/findsts_part2_labelled2.png' height=336 width=336>
                        </img>
                        <br/><br/>
                        </p>
                        <br/>
                        <h5><b><a id="allele_st_query_2">
                        Search for alleles of a gene given a sequence
                        </a></b></h5>
                        <p>The second type of query - search for alleles given a sequence -
                        can be carried using a
                        <a href='http://bitbucket.org/enterobase/enterobase-web/wiki/Locus%20Search'>
                        Locus Search</a>
                        (described on
                        <a href='http://bitbucket.org/enterobase/enterobase-web/wiki/Locus%20Search'>
                        this page in the wiki documentation</a>)
                        and links are provided for the four databases below: 
                        <ul>
                        <li><a href="/species/ecoli/locus_search">Escherichia</a></li>
                        <li><a href="/species/mcatarrhalis/locus_search">Moraxella</li>
                        <li><a href="/species/senterica/locus_search">Salmonella</a></li>
                        <li><a href="/species/yersinia/locus_search">Yersinia</a></li>
                        </ul>
                        The scheme Achtman 7 Gene (1) would be chosen in order to replicate
                        the behaviour of the search on the old MLST website; but unlike
                        that website it is unnecessary to choose the specific gene/ locus.
                        The sequence of interest may either be copied and pasted into
                        the text area on the form (2) or uploaded (3) in FASTA format.
                        Press the Submit button (4) in order to carry out the search whose
                        results are saved in a workspace.
                        <br/><br/>
                        <img src='static/img/warwick_mlst_legacy/allele_use_locus_search_labelled.png' width=391 height=220>
                        </img>
                        <br/><br/>
                        Results for an example search are shown below.  For long running
                        searches it may be necessary to revisit the Locus Search page
                        and retrieve the workspace with the results by pressing the
                        Load Search button (5).  The table with the results is on the
                        right hand of the page.  The specific allele is identified
                        in the ID column (6) of the table.  (In this example, the allele
                        can also be identified by the Contig name; but this will not
                        be the case in general.)
                        <br/><br/>
                        <img src='static/img/warwick_mlst_legacy/allele_use_locus_search_part2_labelled.png' width=803 height=185>
                        </img>
                        <br/><br/>
                        </p>
                        </div>
                </div>

                <div class="panel panel-default">
                        <div class="panel-heading">
                            <!-- image is actually blue and black/ grey preferable so need to
                             do something like this:
              https://stackoverflow.com/questions/609273/convert-an-image-to-grayscale-in-html-css -->
                            <span class="makeBW"><img src="/static/img/icons/bacteria.png"></span><a id="strain_query">Strain Query</a>
                        </div>
                        <div class="panel-body">
                        <p>This query can be performed on the EnteroBase website using
                        <a href='http://enterobase.readthedocs.io/en/latest//features/main-search-page.html'>Search Strains</a>
                        (described on
                        <a href='http://enterobase.readthedocs.io/en/latest//features/main-search-page.html'>this wiki page</a>)
                        and links are provided for the four databases below:
                        <ul>
                        <li><a href="/species/ecoli/search_strains">Escherichia</a></li>
                        <li><a href="/species/mcatarrhalis/search_strains">Moraxella</li>
                        <li><a href="/species/senterica/search_strains">Salmonella</a></li>
                        <li><a href="/species/yersinia/search_strains">Yersinia</a></li>
                        </ul>
                        The query can either be carried out by following the above links
                        or by selecting Search Strains (1) from the Tasks menu in the toolbar
                        on the left hand site of webpages for the database of the
                        species/ genus of interest.
                        <br/><br/>
                        <img src='static/img/warwick_mlst_legacy/search_strains_part1_labelled.png' width=345 height=183>
                        <br/><br/>
                        In order to query as per the old website, it will then be necessary
                        to set the number in the field to the right of the "Latest"
                        button (2) to a large number (setting the maximum strains in the
                        query result) and then pressing the "All Strains" button (3)
                        (since the only query supported on the old website obtained all
                        strains from that database).
                        
                        This is not the best use of the query functionality however and it is
                        advised to enter values on the "Strain Metadata" and "Experimental Data"
                        tabs in order to make a query that limits the strains to some group of
                        particular interest (which is also likely to result in a faster query).
                        <br/><br/>
                        <img src='static/img/warwick_mlst_legacy/search_strains_labelled.png' width=511 height=419>
                        <br/><br/>
                        </p>
                        </div>
                </div>

                <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-upload fa-fw"></i><a id="submission">Submission of Data</a>
                        </div>
                        <div class="panel-body">
                        <p><b>Submission of new alleles and new STs based on ABI sequences was not
                        supported on the old MLST website since 01.12.2015.</b></p>
                        <p>However, EnteroBase does support the
                        <a href='http://enterobase.readthedocs.io/en/latest//features/add-upload-reads.html'>
                        submission of Illumina genomic short reads</a>.
                        In order to upload short reads, visit the main page for the
                        database of your choice and select "Upload Reads" from the "Tasks" menu on
                        the toolbar on the left hand side.
                        <br/><br/>
                        <img src='static/img/warwick_mlst_legacy/upload_reads_part1_labelled.png' width=305 height=164>
                        <br/><br/>
                        For more information about uploading reads please see
                        <a href='http://enterobase.readthedocs.io/en/latest//features/add-upload-reads.html'>
                        the relevant documentation</a>.
                        </p>
                        <p>Within 2 hours, EnteroBase will calculate the serovar and MLST from
                        your submitted short reads plus metadata for:
                        <ul>
                        <li>7-gene legacy MLST</li>
                        <li>53-gene ribosomal rMLST</li>
                        <li>core genome cgMLST</li>
                        <li>whole genome wgMLST</li>
                        </ul>
                        <a href='http://bitbucket.org/enterobase/enterobase-web/wiki/workspaces'>
                        Workspaces</a>
                        in EnteroBase will let you
                        <a href='http://bitbucket.org/enterobase/enterobase-web/wiki/buddies'>
                        share your data with your buddies</a> (described on
                        <a href='http://bitbucket.org/enterobase/enterobase-web/wiki/buddies'>
                        this wiki page</a>.)
                        </p>
                        </div>
                </div>

                <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i><a id="info">Info</a>
                        </div>
                        <div class="panel-body">
                        <p>Links to content from the old MLST website that was provided
                        on "Info" pages are here:
                          <li><a href="http://bitbucket.org/enterobase/enterobase-web/wiki/Escherichia%20MLST%20Legacy%20Info%20RST">Escherichia</a></li>
                          <li><a href="http://bitbucket.org/enterobase/enterobase-web/wiki/Moraxella%20MLST%20Legacy%20Info%20RST">Moraxella</li>
                          <li><a href="http://bitbucket.org/enterobase/enterobase-web/wiki/Salmonella%20MLST%20Legacy%20Info%20RST">Salmonella</a></li>
                          <li><a href="http://bitbucket.org/enterobase/enterobase-web/wiki/Yersinia%20MLST%20Legacy%20Info%20RST">Yersinia</a></li>
                        </p>
                        </div>
                </div>

                <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-download fa-fw"></i><a id="downloads">Downloads</a>
                        </div>
                        <div class="panel-body">
                        <p>The old MLST website allowed downloading some data directly as files.
                        Similar data is available on the EnteroBase website, generally following
                        the paradigm of running a query and then downloading a file containing
                        the data in the table with the query result.  The available data included:
                        <ul>
                        <li>Allele sequences for the genes in the classic MLST scheme in FASTA
                        format - available via
                        <a href='http://bitbucket.org/enterobase/enterobase-web/wiki/user_download_schemes'>
                        Download Schemes</a>
                        - follow the links below, press
                        the "Filter/ Clear Filters" button (1) and enter "Achtman 7 Gene" (2) and press the "Filter" button (3)
                        in the dialogue box, select the desired loci
                        and then press the "Download alleles for selected loci" button (4):
                          <ul>
                          <li><a href="/species/ecoli/download_data">Escherichia</a></li>
                          <li><a href="/species/mcatarrhalis/download_data">Moraxella</li>
                          <li><a href="/species/senterica/download_data">Salmonella</a></li>
                          <li><a href="/species/yersinia/download_data">Yersinia</a></li>
                          </ul>
                        </li>
                        <a href='http://bitbucket.org/enterobase/enterobase-web/wiki/user_download_schemes'>
                        Download Schemes</a> is described on
                        <a href='http://bitbucket.org/enterobase/enterobase-web/wiki/user_download_schemes'>
                        this page in the wiki documentation</a>.
                        <br/><br/>
                        <img src='static/img/warwick_mlst_legacy/download_alleles_labelled.png' width=335 height=249>
                        </img>
                        <br/><br/>
                        <li>Table of STs and alleles in the scheme - available via
                          <a href='http://bitbucket.org/enterobase/enterobase-web/wiki/user_download_schemes'>
                          Download Schemes</a>
                          - follow the links below, select "Achtman 7 Gene" (1) in the dropdown menu
                          and then press the "Download ST profiles for scheme" (2) button:
                          <ul>
                          <li><a href="/species/ecoli/download_data">Escherichia</a></li>
                          <li><a href="/species/mcatarrhalis/download_data">Moraxella</li>
                          <li><a href="/species/senterica/download_data">Salmonella</a></li>
                          <li><a href="/species/yersinia/download_data">Yersinia</a></li>
                          </ul>
                        </li>
                        <br/><br/>
                        <img src='static/img/warwick_mlst_legacy/download_sts_labelled.png' width=618 height=66></img>
                        <br/><br/>
                        <li>Table of public strains - carry out a
                        <a href='http://bitbucket.org/enterobase/enterobase-web/wiki/Main_Search_Page'>
                        Search Strains</a>
                        query as described above (described on
                        <a href='http://bitbucket.org/enterobase/enterobase-web/wiki/Main_Search_Page'>
                        this wiki page</a>)
                        and then pick "Save to Local File" from the
                        Data menu</li>
                        <br/><br/>
                        <img src='static/img/warwick_mlst_legacy/download_table_of_public_strains_labelled.png' width=321 height=197></img>
                        <br/><br/>
                        <li>Files with lists of deleted alleles, STs and strains - these are
                        no longer available</li>
                        </ul></p>
                        </div>
                </div>

            </div>

     
{% endblock %}
    <!-- jQuery -->
{% block scripts %}
  {{super()}}
  
{% endblock %}
