{% extends "bsl_base.html" %}
{% block head %}
{{super()}}

<!-- WVN 14/8/17 - borrowed style sheets from species index template
  since I decided I want it to have a broadly similar style to those pages -->
    <!-- Timeline CSS -->
    <link href="/static/css/bower/timeline.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/css/bower/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->

      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/js_tree/style.min.css" />

<style>
.makeBW {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}
</style>

{% endblock %}

<!-- WVN 16/8/17 - entire sidebar block below borrowed from
  bsl_base.html code in order to have a custom sidebar -->
{% block sidebar %}
 <div class="navbar-default sidebar" role="navigation">
<div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">

    {% include 'warwick_mlst_legacy_side_bar.html' %}

</ul>
</div>
</div>

{% endblock %}

  
{% block maincontent %}
{{ super() }}
      
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Old Warwick MLST Website</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">

            <div class="row">
                            <div class="col-lg-12">

                <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i>Important Information
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        <p>
                            <b>Any Questions or comments?</b>
                            <ul>
                            <li>Please post to our <a href='http://bitbucket.org/enterobase/enterobase-web/issues?status=new&status=open'>Issue tracker (BitBucket)</a></li>
                            <li>Or <a href='http://bitbucket.org/enterobase/enterobase-web/wiki/Home'>read the Wiki</a></li>
                            </ul>
                            </p>
                        </li>
                        </div>
                        <div class="panel-body">
                        <p>The website for the old MLST databases at the University of Warwick
                        which was previously at mlst.warwick.ac.uk (and mlst.ucc.ie before that)
                        has now been retired.  This is because the old MLST website has been
                        replaced
                        with EnteroBase.  While it was possible to maintain the old MLST website
                        for a while for the benefit of older users, there were not the resources
                        available to continue maintaining the old website when it supported an
                        obsolete technology.  It is now easy to obtain whole genome sequences which
                        provide more information.
                        During the lifespan of the legacy MLST website, one third of the new
                        alleles we received via the uploaded ABI sequences were
                        sequencing errors rather than real sequence
                        variations. Resolving these errors manually was time consuming.
                        In addition, we don't know how many new STs were wrong,
                        because novel combinations of known alleles can be due to mix-ups rather
                        than recombination.</p>
                        <p>In order to improve the quality of the database, we enforce all the
                        new allele/STs to be defined by NGS short reads. If you upload the short
                        reads into <a href='/'>https://enterobase.warwick.ac.uk/</a>,
                        we will assemble the short
                        reads and report you back all identified allele designations. On top of
                        this, you get access to additional information by comparing your genomes
                        with &gt;120,000 existing genomes from all over the world. These genomes
                        were either published in NCBI short read archive database, or uploaded
                        by other users.</p>
                        <p>Now the average cost for NGS sequencing of a bacterial strain has been
                        significantly dropped. If you have difficulties in getting NGS sequencing
                        done, we can suggest you to get in touch with
                        <a href='https://microbesng.uk/'>https://microbesng.uk/</a>,
                        which gives you cheap access to NGS. On the other hand, if you still want
                        to stay with ABI sequencing, you can download all the alleles from
                        EnteroBase and built up local MLST databases. Alternatively, you can try
                        <a href='https://cge.cbs.dtu.dk/services/MLST/'>https://cge.cbs.dtu.dk/services/MLST/</a>,
                        which is an online tool for allele
                        identifications (but will not give you new alleles).</p>
                        </div>
                </div>

                <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i><a id="info">Information originally available for 7-gene MLST on the old site</a>
                        </div>
                        <div class="panel-body">
                        <p>Links to content from the old MLST website that was provided
                        on "Info" pages are here:
                          <li><a href="http://bitbucket.org/enterobase/enterobase-web/wiki/Escherichia%20MLST%20Legacy%20Info%20RST">Escherichia</a></li>
                          <li><a href="http://bitbucket.org/enterobase/enterobase-web/wiki/Moraxella%20MLST%20Legacy%20Info%20RST">Moraxella</li>
                          <li><a href="http://bitbucket.org/enterobase/enterobase-web/wiki/Salmonella%20MLST%20Legacy%20Info%20RST">Salmonella</a></li>
                          <li><a href="http://bitbucket.org/enterobase/enterobase-web/wiki/Yersinia%20MLST%20Legacy%20Info%20RST">Yersinia</a></li>
                        </p>
                        </div>
                </div>

            </div>

     
{% endblock %}
    <!-- jQuery -->
{% block scripts %}
  {{super()}}
  
{% endblock %}
