-->
<form id='post-dummy-form' target="grid_window" method='post'>
<input type="hidden" name="strain_ids" id = "post-strain-ids" >
</form>
<script src="{{beta_url}}/static/js/main/enterobase.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/dialogs/custom_view_dialog.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/dialogs/workspace.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<!--for sending info to micoreact-->



<script>
var tree_name="{{tree_name}}";
var permission="{{permission}}";
var database = "{{database}}"
var tree_type= "{{tree_type}}"
tree_id = {{tree_id}};
var db_code="{{db_code}}"
var wg_scheme = "{{wg_scheme}}"
var locus_label="";
var grid_window = null;
var custom_view_dialog=null;
var tree_summary_dialog = new EnteroWorkspaceSummaryDialog(tree_id);
var new_enterobase_columns = {"custom_colums":{},"experiment_columns":{}};

//added by yulei, 20190404
//start
var privateStrain_IdMap={};//{SAL_YA6637AA_AS: false}, true is private
var privateStrain_BarcodeMap={};//{SAL_CA0711AA: false}, true is private
var privateStrain_strainIdMap={};//{20711: false}, true is private
var privateStrain_IdTostrainIdMap={};//{SAL_YA6637AA_AS:20711}, true is private
var totalPrivateStrains=[];
var totalPrivateStrainsBackup=[];
var hideshowStatus="show";//this is for grape tree default as show
var hideshowStatus2="show";//this is for phylo tree default as show
var currentCategory="";
var tempBackup=null;
var tempSelected_IdMap={};
var tempTotalPrivateStrains=[];
var filteredToDelPSIds=[];
var countryPScount={};
var backupAPIData={};
var backupAPIDataProcessed={};
var backupNWK="";
var backupNWKarry=[];
var backupEndNodes=[];
var backupEndNodesCol=[];
var backupNodes=[];
var backupNWKarryIndex=0;
var burshSelectedNodesId=[];
var backupBurshSelectedNodesId=[];
var burshSelectedNodesStrainIds=[];
var backupBurshSelectedNodesStrainIds=[];
var idToStrainIdMap={};



function getRemoteData(){
        
        /*old
        Enterobase.call_restful_json("/get_tree_data?id="+tree_id+"&tree_type="+tree_type,"GET","",displayErrorMessage).done(function(data){
                if (data['waiting']){
                        setTimeout(function(){
                                      getRemoteData();
                        },10000);
                        
                }
                else if (data['failed']){
                        $("#waiting-information").text("The tree has failed, please contact an administrator").show();
                        if (grid_window){
                                grid_window.mst_alert.dialog("close");
                        }
                }
                else{
                        loadMSTree(processEnteroData(data));                        
                        try {
                        if (data.permission==true)
                        {
                             $("#input-output-panel").show();
                        }
                      }
                      catch(err) {
                         
                      }

                      
                        if (grid_window && grid_window.mst_alert){
                             grid_window.mst_alert.dialog("close");
                        }
                        else{
                                 
                                $("#button-filter-selected").attr("disabled",true);
                                $("#button-highlight-selected").attr("disabled",true);                        
                        }
                }
                    
        });
        */
        
  
  
        //modified by yulei, 20190703
        
        Enterobase.call_restful_json("/get_tree_data?id="+tree_id+"&tree_type="+tree_type,"GET","",displayErrorMessage).done(function(data){
                if (data['waiting']){
                        setTimeout(function(){
                                      getRemoteData();
                        },10000);
                        
                }
                else if (data['failed']){
                        $("#waiting-information").text("The tree has failed, please contact an administrator").show();
                        if (grid_window){
                                grid_window.mst_alert.dialog("close");
                        }
                }
                else{
                        loadMSTree(processEnteroData(data));  
                        //added by yulei 20190925
                        if(the_tree.constructor.name=="D3MSTree"){
                                tempBackup=the_tree.backup;//added by yulei, 20191104
                                the_tree.backup=null;
                                the_tree.delNodes([]);
                        }

                        //add by yulei, 20190404
                        //start
                        updatePrivateIdMap(data.metadata);
                        backupAPIData=data;
                        backupAPIDataProcessed=processEnteroData(data);
                        currentCategory=backupAPIDataProcessed.layout_data.display_category;
                        backupNWK=the_tree.nwk;
                        backupNWKarry.push(the_tree.nwk);
                        backupNodes.push(the_tree.nodes);
                        backupEndNodes.push(the_tree.end_nodes);
                        backupEndNodesCol.push(the_tree.end_nodes_col);
                        backupBurshSelectedNodesId.push(Object.keys(the_tree.node_map));
                        backupBurshSelectedNodesStrainIds.push(Object.keys(the_tree.metadata));
                        
                        //create idToStrainIdMap
                        Object.keys(data.metadata).forEach(function(key) {
                                        idToStrainIdMap[data.metadata[key]['ID']]=key;
                                        //console.log('key='+key, obj[key]);
                        });
                        //end
                        
                        
                        try {
                        //changed by yulei by K asked, 20190821
                        //if (data.permission==true)
                        //{
                        //     $("#input-output-panel").show();
                        //}
                        //
                        $("#input-output-panel").show();
                      }
                      catch(err) {
                         
                      }

                      
                        if (grid_window && grid_window.mst_alert){
                             grid_window.mst_alert.dialog("close");
                        }
                        else{
                                 
                                $("#button-filter-selected").attr("disabled",true);
                                $("#button-highlight-selected").attr("disabled",true);                        
                        }
                }
                    
        });
        
        
        
        /* this change is for local test, need change to back before push to master */
        /*
        var data={};
        var uri="\get_tree_data?id="+tree_id+"&tree_type="+tree_type;
        var ajaxURL="https://enterobase.warwick.ac.uk/"+uri;
        
        var request = {
            url: ajaxURL,
            type: "GET",     
            dataType: "json",  //type of data recieved
            //contentType:'text/html',//application/json;charset=UTF-8', //type of data sent        
            data:"",      
            timeout:900000,
            cache:false,
            beforeSend: function (xhr) {
               //console.log(xhr.responseText);
                //if (password){
                    xhr.setRequestHeader("Authorization", 
                    "Basic " + btoa('frank' + ":" +'12345'));
                //}
            },
            success: function(res) {
                        //data=JSON.parse(res);
                        console.log(res);
                        data=res;
                        data['permission']=true;
                        
                        if (data['waiting']){
                                setTimeout(function(){
                                      getRemoteData();
                                },10000);
                        
                        }else if (data['failed']){
                                $("#waiting-information").text("The tree has failed, please contact an administrator").show();
                                if (grid_window){
                                        grid_window.mst_alert.dialog("close");
                                }
                        }else{
                                loadMSTree(processEnteroData(data));
                                //added by yulei 20190925
                                if(the_tree.constructor.name=="D3MSTree"){
                                        tempBackup=the_tree.backup;//added by yulei, 20191104
                                        the_tree.backup=null;
                                        the_tree.delNodes([]);
                                }
                        
                                //add by yulei, 20190404
                                updatePrivateIdMap(data.metadata);
                                backupAPIData=data;
                                backupAPIDataProcessed=processEnteroData(data);
                                currentCategory=backupAPIDataProcessed.layout_data.display_category;
                                backupNWK=the_tree.nwk;
                                backupNWKarry.push(the_tree.nwk);
                                backupNodes.push(the_tree.nodes);
                                backupEndNodes.push(the_tree.end_nodes);
                                backupEndNodesCol.push(the_tree.end_nodes_col);
                                backupBurshSelectedNodesId.push(Object.keys(the_tree.node_map));
                                backupBurshSelectedNodesStrainIds.push(Object.keys(the_tree.metadata));
                
                                //create idToStrainIdMap
                                
                                Object.keys(data.metadata).forEach(function(key) {
                                        idToStrainIdMap[data.metadata[key]['ID']]=key;
                                        //console.log('key='+key, obj[key]);
                                });
        
                                try{
                                        if (data.permission==true){
                                                $("#input-output-panel").show();
                                        }
                                }catch(err){
                                        console.log(err);
                                }

                      
                                if (grid_window && grid_window.mst_alert){
                                        grid_window.mst_alert.dialog("close");
                                }else{                                 
                                        $("#button-filter-selected").attr("disabled",true);
                                        $("#button-highlight-selected").attr("disabled",true);                        
                                }
                        }                        
                        
                        
                        

                        
           },
            error: function(jqXHR,text,body) {
                console.log("ajax error" + jqXHR.responseText);       
                callback(jqXHR.responseText);
            } 
        };
        var a = $.ajax(request);   
        
        */
}




function addCustomColumn(name){
        var msg =
        "Would you like the new column to become a Custom "+
        "Column In Enterobase? ";
        Enterobase.oKorCancelDialog("Custom Column",msg,
        function(yes){
                if (yes){
                        to_send={
                                datatype:"text",
                                label:name,
                                database:database
                        }
                        Enterobase.call_restful_json("/add_custom_column","POST",to_send,displayErrorMessage).done(function(data){
                                if (data['msg'] === 'OK'){                                
                                        var obj={};
                                        obj[data['id']]={"label":name,category:"Custom"}
                                        Enterobase.modalAlert("The column as been added as a 'Custom Column'"+
                                                                        "in Enterobase. You can add it to a view and edit it in Enterobase."+
                                                                        "If you add data to it here, when you save the tree," +
                                                                        "the data will be updated in Enterobase.");
                                        the_tree.addMetadataOptions(obj);
                                        metadata_grid.updateMetadataTable();
                                }
                                
                        });              
                }
                else{
                        var obj={};
                        obj[name]={"label":name,category:"User Added"}
                        the_tree.addMetadataOptions(obj);
                        metadata_grid.updateMetadataTable();              
                }  
        },
        ["Yes","No"]);
         
}



function synchFromEnterobase(){
         waitingDialog =  new Enterobase.ModalWaitingDialog("Synching Enterobase data to tree",
                                                                                                function(){},
                                                                                                "/static/js/table/images/waiting.gif");
        Enterobase.call_restful_json("/synch_analysis_from_enterobase?analysis_id="+tree_id,"GET","",displayErrorMessage).done(function(data){
                waitingDialog.close();
                if (data['msg'] === 'OK'){
                        if (Object.keys(data['changed_data']).length===0){
                                Enterobase.modalAlert("The tree data is upto date with Enterobase - No changes have been made");
                        
                        }
                        else{
                                Enterobase.modalAlert("The tree data has been updated with changes in Enterobase");
                                the_tree.addMetadata(data['changed_data']);
                                the_tree.changeCategory(the_tree.display_category)
                        }
                }
                else{
                        Enterobase.modalAlert("There was a problem synching data - Please contact an administrator");
                
                }
        });		

}




function saveTreeToEnterobase(synch){
          waitingDialog =  new Enterobase.ModalWaitingDialog("Saving Tree",
                                                                function(){},
                                                                "/static/js/table/images/waiting.gif");
        //get all the metadata
        var options = the_tree.getMetadataOptions();
        var custom_columns=[];
        var custom_data={};
      
        for (var name in options){
                if (options[name]['category'] === 'Custom' || options[name]['category'] === 'User Added' || options[name]['category']==='Experiment'){
                        custom_columns.push(name);
                }
              
                
        }

        
        var metadata = the_tree.getMetadata();
        if (custom_columns.length >0){
                for (var strain_id in metadata){
                        if (strain_id.startsWith("_hypo_")){
                                continue;
                        }
                        var data = metadata[strain_id];
                        
                        for (var i in custom_columns){
                                var col_name = custom_columns[i];
                                var val =  data[col_name];;
                                if (!val && val !==0){
                                        val=""
                                }
                                var dict = custom_data[strain_id];
                                if (!dict){
                                        dict={}
                                        custom_data[strain_id]=dict;
                                }
                                dict[col_name]=val;
                                
                        }
                      
                }
        }
      
      

        
        var to_send = {
                id:tree_id,
                layout_data:JSON.stringify(the_tree.getLayout()),
                metadata_options:JSON.stringify(the_tree.getMetadataOptions()),
                current_metadata:$("#metadata-select").val(),
                custom_data:JSON.stringify(custom_data),
                tree_type:tree_type,
                synch:synch
        };
                            
        Enterobase.call_restful_json("/save_analysis_layout","POST",to_send,displayErrorMessage).done(function(data){
                waitingDialog.close();
                if (data['msg'] === 'OK'){
                        msg  = "The tree has been saved"
        
                        if (data['columns_updated'].length>0){
                                msg+="<br>The Following columns have been updated in Enterobase:<br><ul>"
                                for (var i in data['columns_updated']){
                                        var col = options[data['columns_updated'][i]]['label'];
                                        msg+="<li>"+col+"</li>";
                                
                                }
                                msg+="</ul>"          
                        }
                        Enterobase.modalAlert(msg);
                }
                else{
                        Enterobase.modalAlert("There was a problem saving the tree - Please contact an administrator");
                
                }
        });		
}


function addColumnData(columns){
        var ids = the_tree.getAllIDs().filter(function(d) {return isNumber(d)}); 
        var to_send= {
               database:database,
               strain_ids:ids.join(","),
               columns:JSON.stringify(columns)
                
        };
        waitingDialog =  new Enterobase.ModalWaitingDialog("Data is being retrieved from Enterobase",
                                                                function(){},
                                                                "/static/js/table/images/waiting_wbg.gif");

        Enterobase.call_restful_json("/get_custom_column_data","POST",to_send,displayErrorMessage).done(function(data){
                var tree_columns={};
                var last_column="";
                for (var i  in columns['experiment_columns']){
                        var column = columns['experiment_columns'][i];
                        var col_name = column['name']+"_"+column['scheme'];
                        tree_columns[col_name]={"label":column['label'],"category":"Experiment"};
                        last_column=col_name;
       
                }
                for (var i in columns['custom_columns']){
                        var column = columns['custom_columns'][i];
                        var label  = custom_view_dialog.getCustomColumnLabel(column['id']);
                        tree_columns[column['id']]={"label":label,"category":'Custom'};
                        if (! last_column){
                                last_column=column['id'];
                        }
                        
                }          
                the_tree.addMetadataOptions(tree_columns);
                the_tree.addMetadata(data);
                the_tree.changeCategory(last_column);
                waitingDialog .close();
                    
        });
        
}

function showCustomViewDialog(){
        //lazy loading
        if (!custom_view_dialog){
                custom_view_dialog  = new CustomViewDialog(null,database,null,"get");
                custom_view_dialog.addGetCallback(function(columns){
                        addColumnData(columns);
                
                });
        }
        else{
                custom_view_dialog.show();
        
        }

}


function addExperimentalData(){	
        var opt = $("#scheme-data").find("option:selected");
         var to_send= {
                database:database,
                strain_ids:the_tree.getAllIDs().join(",")
                
        };
       
        if (opt.parent().attr("id")=='custom-view-selections'){
                to_send.scheme="custom_view";
                to_send.extra_data=$("#scheme-data").val();
                
                
        }
        else{
                  to_send.scheme=$("#scheme-data").val();
        }
       
        var val =opt.text();
        waitingDialog =  new Enterobase.ModalWaitingDialog("Loading Experimental data for "+val,
                                                                                                function(){},
                                                                                                "/static/js/table/images/waiting_wbg.gif");
        Enterobase.call_restful_json("/get_experimental_data","POST",to_send,displayErrorMessage).done(function(data){
                the_tree.addMetadata(data['data']);
                var options = {};
            
                for (var name in data['fields']){
                        options[name]={label:data['fields'][name],category:val}
                      		
                }
                the_tree.addMetadataOptions(options);
                waitingDialog.close();
             
                $("#allele-select").val("");
                Enterobase.modalAlert("Data for "+ val + " has been added to the tree. You can colour the tree by selecting"
                                                     +" the allele from the top left drop down. Clicking the Save Tree State will permanently store"
                                                        + " this data with the tree.");
        });        
}


function setupEnterobasePanel(){
        
        var entero_panel = $( "<div id = 'add-data-panel' class='panel panel-default'></div>");
        entero_panel.append(" <div class ='panel-heading mst-menu-title' id= 'mst-data-menu'> <b>Enterobase</b><span id = 'mst-data-menu-icon' class='menu-status-icon glyphicon glyphicon-menu-right'></span></div>");
        
        var entero_panel_body = $("<div class = 'panel-body' id ='mst-data-menu-panel'>");
        entero_panel.append(entero_panel_body);
        entero_panel_body.append($('<span class="glyphicon glyphicon-question-sign" style="float:right;margin-right:5px"></span>')
                                                .click(function(e){
                                                        getHelpBox("enterobase");
                                                
                                                })); 
        entero_panel_body.append("<p><button id ='mst-get-selected-ids'>Load Selected</button></p>")
                                .append("<p><button id = 'button-highlight-selected'> Highlight Checked</button></p>")
                                .append("<p><button onclick = 'showCustomViewDialog()'>Import Fields</button></p>")
                                .append("<p><button onclick = 'saveTreeToEnterobase(true)'>Save</button></p>")
                                .append("<p><button onclick = 'synchFromEnterobase()'>Update</button></p>")
                                .append("<p><button onclick = 'tree_summary_dialog.open()'>Info</button></p>");
          
   
        $("#input-output-panel").before(entero_panel);
  
        
        $("#post-dummy-form").attr("action","/species/"+database+"/search_strains");
        
        $("#mst-get-selected-ids").click(function(e){
                var ids = the_tree.getSelectedIDs().filter(function(d) {return isNumber(d)});
                var len = ids.length;
                if (len ===0){
                        Enterobase.modalAlert("There are no nodes selected in the Tree");
                        return;               
                }
                if (window.name==="grid_window"){
                        window.name="tree_window";
                }
                else{
                        $("#post-strain-ids").attr("value",ids.join(","));
                        $("#post-dummy-form").submit();
                        $("#button-filter-selected").removeAttr("disabled")
                        $("#button-highlight-selected").removeAttr("disabled");
                        
                }    
        });
        
        if (window.opener){
                
                if (window.opener.opener){
                        grid_window=window.opener
                        window.opener.opener.name = "grid_window";
                }
                else{
                        grid_window=window.opener
                        window.opener.name = "grid_window";
                }
        }
      
        
               $("#button-filter-selected").click(function(e){
                var ids = the_tree.getSelectedIDs().filter(function(i) {return isNumber(i);});
                var len = ids.length;
                if (len ===0){
                        Enterobase.modalAlert("There are no nodes selected in the Tree. Press shift and drag the mouse to select nodes.");
                        return;
                
                }
                else{
                if (!grid_window || !grid_window.mainGrid){
                        grid_window = window.open("","grid_window");
                }
                 grid_window.mainGrid.filterOnID(ids);
                 Enterobase.modalAlert(len+" rows(s) have been selected in the main table");
                }     
        });
        $("#button-highlight-selected").click(function(e){
                if (!grid_window || !grid_window.mainGrid){
                        grid_window = window.open("","grid_window");
                }
                var IDs =grid_window.mainGrid.getSelectedRows();
                if  (IDs.length ===0){
                        Enterobase.modalAlert("Please select rows in the main grid");
                        return;
                }            
                the_tree.highlightIDs(IDs);
        });
        
        $("#input-output-title").text("Export");
        $("#input-output-panel").hide();
        $("#load-panel").hide();
        $("#button-goback").hide();
       

}

function displayErrorMessage(msg){
        Enterobase.modalAlert(msg);

};



function processEnteroData(data){
        tree_name = data['name'];
        var identities= null;
        if (data['data']){
                identities=data['data']['identifiers'];      
        }
        var identifiers = [];
        var md = null;
        //legacy data
        if (identities){
                md= {};
                //a dictionary of strain id to strain metadata
                
                //ST (The master ST) to strain ids
                var ST_map={};
                var ST_to_list={}
               
                for (var i in identities){
                        var list = identities[i];
                        if (list.length ===0){
                                identifiers.push("hypothetical_node")       
                        }
                        else{
                                for (var n in list){
                                        if (ST_map[list[n]]){
                                                console.log("Same ST occurring twice:"+list[n]);
                                                continue;
                                        }
                                        ST_map[list[n]]=list[0];
                                }
                                identifiers.push(list[0]);
                                ST_to_list[list[0]]=list;
                        }
                }
                var isolates =  data['data']['isolates']
                //convert list into dictionary 
                for (var i in isolates){
                        var isolate = isolates[i];
                        var node_id  = ST_map[isolate.ID]
                        if (!node_id){
                                continue;
                        }
                        isolate['ID']=node_id;
                        md[isolate.StrainID]=isolate;     
                }
        }
     
        
        var metadata={};
       
        var options = data['data']?data['data']['metadata_options']:data['metadata_options'];
        if (options){
                //convert legacy style into new
                if(options['Metadata']){
                        for (var cat in options){
                                var obj = options[cat];
                                var category="";
                                
                                if (cat === 'Custom Fields'){
                                        category='Custom';
                                        
                                }
                                else{
                                        if (cat !== 'Metadata'){
                                                category= 'Experiment';
                                        }
                                
                                }      
                              
                                for (var name in obj){
                                        opt_object={"label":obj[name]}
                                        if (category){
                                                opt_object['category']=category;
                                        }
                                        metadata[name]=opt_object;
                                }
                                                          
                                              
                        }
                }
                else{
                        metadata=options;
                }
        }
        else{
                 for (var i in data['data']['metadata']){
                        var item = data['data']['metadata'][i];
                        metadata[item]=item;
                }
        
        }
        
        var current_metadata = data['data']?data['data']['current_metadata']:null;
        if (!current_metadata && data['layout_data']){
                current_metadata= data['layout_data']['display_category'];
        }
        if (!current_metadata){
                if (metadata['Country']){
                        current_metadata='Country';
                }
                else{
                        current_metadata='country';
                }
        
        }
        var ld = data['layout']?data['layout']:data['layout_data'];
        md = md?md:data['metadata'];
       var ret_obj =  {
                layout_data:ld,
                initial_category:current_metadata,
                metadata:md,
                metadata_options:metadata
        };
        if (identities){
                ret_obj.layout_algorithm="force";
                ret_obj.links=data['data']['links'];
                ret_obj.nodes=identifiers;      
        }
        else{
                ret_obj['nwk']=data['nwk'];
        }
        if (data['jbrowse_uri']){
                ret_obj['jbrowse_uri']=data['jbrowse_uri'];
        }
      
       
        return ret_obj;
}





/* added function by yulei, 20190528 */
//start
function updatePrivateIdMap(data){
         var today = new Date();
         let containPSFlag=false;
         //var today = new Date("2016-01-01 0:00:00");//for test date only
         countryPScount={};
         totalPrivateStrains=[];
         totalPrivateStrainsBackup=[];
         for(var indexMD in data){
                 var tempReleaseDate=data[indexMD]['release_date']+" 0:00:00";
                 var releasedDate = new Date(tempReleaseDate);
                 if(releasedDate>today){
                         //not published yet
                         privateStrain_IdMap[data[indexMD]['ID']]=true;
                         privateStrain_BarcodeMap[data[indexMD]['barcode']]=true;
                         privateStrain_IdTostrainIdMap[data[indexMD]['ID']]=""+data[indexMD]['StrainID'];

                         totalPrivateStrains.push(data[indexMD]['ID']);
                         totalPrivateStrainsBackup.push(data[indexMD]['ID']);
                         containPSFlag=true;

                         if(countryPScount[ data[indexMD]['country'] ]){
                                countryPScount[ data[indexMD]['country'] ]=countryPScount[ data[indexMD]['country'] ]+1;
                         }else{
                                countryPScount[ data[indexMD]['country'] ]=1;
                         }

                 }else{
                          //published
                         privateStrain_IdMap[data[indexMD]['ID']]=false;
                         privateStrain_BarcodeMap[data[indexMD]['barcode']]=false;
                 }
         }

        if(containPSFlag==true){
                $("#sUSDiv").show();
                $("#sUSDiv2").show();
        }else{
                $("#sUSDiv").hide();
                $("#sUSDiv2").hide();
        }

}


//end



</script>
<!--
