{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{appname}} - Login{% endblock %}

{% block maincontent %}
  <div  class="col-sm-12 col-md-6">

<style>
  label, label > span { display: block; }
  label { margin: 1 px 0; }
</style>
<br>
<strong>

  <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-action active" >
EnteroBase {{grant.client.client_name}} at {{grant.client.client_uri}} wants to access your account.
      <br>
      This {{appname}} version will be able to read your email addresses and username, it needs your permission to submit assembly files and strains metadata  under your username.
      You can subsequently revoke access by logging into central {{appname}} at:
<br>
      {{server_base_address}}auth/change_user_details
      </ul>
      <br>
</li>

 <!-- {% for scope in scopes%}
          <li class="list-group-item">{{ scope }}</li>
  {% endfor %}
  !-->


</strong>
<form action="" method="post">
  <label>
        <span>Authorize {{grant.client.client_name}}?  <input type="checkbox" name="confirm"> </span>
  </label>

  <br>
  <button>Submit</button>
</form>
</div>

{% endblock %}