.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar-brand {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:15px !important; margin-bottom:0px !important}
 
html, body{
  height: 100%;
}


#headerdiv{
	position: relative;
	
	overflow: hidden;
}

#headerdiv a{
	color:black !important;
}
#headerdiv a:hover{
	text-decoration:none !important;
}

.legacy-link{
	background-color:#cfcfcf;
	font-weight:bold;
	color:black;
	padding-top:4px;
	padding-bottom:4px;
	font-size:14px;
	margin:0px;
	
}
.legacy-link:hover{
	background-color:white;
	cursor:pointer;
	text-decoration:none;
}


#headerdiv::after{
  content: "";
  background: url(/static/img/salmonella.jpg);
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  filter: hue-rotate(140deg);
 
 -webkit-filter: hue-rotate(140deg);
 -moz-filter: hue-rotate(140deg);
 -o-filter: hue-rotate(140deg);
 -ms-filter: hue-rotate(140deg);

}

.vakata-context{
	z-index:200;
}

.ui-datepicker-month{
	color:black;
}

.ui-datepicker-year{
	color:black;
}


.main-database-info {
	 padding:30px

}

.main-database-info td {
	 padding-right:5px

}


.jobs-accordion-header{
	font-size:12px !important
}

.jobs-accordion-content{
	font-size:12px !important;
	overflow:visible !important;
	padding: 3px 3px 3px 3px !important;
}


#headerdiv {padding-top:5px;padding-bottom:5px !imortant ;font-size:40px}
.headerdiv a  {text-decoration:none; color:black}

.panel-body {
  padding-top:5px;padding-bottom:0px 
  &:extend(.clearfix all);
}

.panel-heading {
  padding-top:5px;padding-bottom:0px 
  &:extend(.clearfix all);
}
#maindiv {
	padding:3px !important;
}


.query_button{
	margin-right:5px;
	margin-bottom:5px;
}

#compound_dialog {
  font-size:10p !important;
}

#dialog_table{
  border:none
}
.info-table td{
	border: 1px solid black;
}


hr{
    display:block;
    margin-top: 4px;
    margin-bottom: 4px;
    height:1px;
    border-width:1px;
    border-style:inset

}

a[disabled] {
    pointer-events: none;
    color:gray !important;
}

.myicon .ui-icon
{
    display: block-inline;
}





/*
 *contextMenu.js v 1.1.2
 *Author: Sudhanshu Yadav
 *s-yadav.github.com
 *Copyright (c) 2013 Sudhanshu Yadav.
 *Dual licensed under the MIT and GPL licenses
 */
/*Context menu css */
.iw-contextMenu {
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	border:1px solid #E6E6E6;
	display:none;
	z-index:1000;
	overflow:auto;
}
.iw-cm-menu{
	background:#F4F4F4;
	color:#333;
	margin:0px;
	padding:0px;
	}

.iw-cm-menu li {
	list-style:none;
	padding:3px;
	padding-left:30px;
	padding-right:20px;
	border-bottom:1px solid #CCC;
	cursor:pointer;
	position:relative;
}
.iw-mOverlay{
	position:absolute; width:100%; height:100%; top:0px; left:0px;
	background:#FFF;
	opacity:.5;
	}
.iw-contextMenu li.iw-mDisable {
	opacity:.3;
}
.iw-mSelected {
	background-color:rgb(0,51,102);
	color:#F2F2F2;
}
.iw-cm-arrow-right {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent; 
	border-left:5px solid #333333; 
	position:absolute;
	right:3px;
	top:50%;
	margin-top:-3px;
}

.iw-mIcon{
	width:20px;
	height:20px;
	left:0px;
	top:3px;
	position:absolute;
	}
	
/*context menu css end */

.species-box {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 4px 5px 5px 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 4px 5px 5px 6px rgba(0, 0, 0, 0.6);
  box-shadow: 2px  3px 3px 3px rgba(0, 0, 0, 0.6);
    height:220px;
    width:220px;
  background-image:url('/static/img/general/bac_box.png');
  
  margin:auto;
  

}
.species-box:hover{
   
     -webkit-box-shadow: 4px 5px 5px 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 4px 5px 5px 6px rgba(0, 0, 0, 0.6);
  box-shadow: 4px  4px 4px 4px rgba(0, 0, 0, 0.6);
  cursor:pointer;

}
.species-header{
    font-style: italic;
    font-weight:bold;
    text-align:center;
    padding: 4px;
    font-size:20px;

}
.total-strains{
      font-weight:bold;
      text-align:center;
       padding: 4px;
       font-size:18px;
}

.mlst-information {
     padding: 4px;

}

.tabbed-list {
	display:block;
	white-space:nowrap;
	list-style:none;
	padding-left:0px;
	z-index:2;
	display:table;
	margin-bottom:0px;
	
}
.tabbed-list li {float:left;}
.tabbed-list li a  {background:#E0E0E0;color:#222;display:block;padding:6px 15px;text-decoration:none;border-left:1px solid #bbbbbb;border-top:1px solid #bbbbbb;border-right:1px solid #bbbbbb;}
.tabbed-list span {color:#222;display:block;padding:6px 15px;text-decoration:none}
	

	
.tab-selected{
	background:#ffd89b
}

.table-text-right{
	text-align:right;
	white-space:nowrap;
}
.table-input{
	width:150px
}

