{% extends "split_table_base.html" %}
{% block extraincludes %}

<script src="{{beta_url}}/static/js/table/jeoquery.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<!--script src="https://maps.google.com/maps/api/js?key=AIzaSyDNgPBHVSHb9DZS8pRr6gK_Hah3q0KERkU"></script -->
<script src="{{beta_url}}/static/js/main/leaflet/leaflet.js"></script>
 <script src="{{beta_url}}/static/js/main/jstree.min.js"></script>
<script src="{{beta_url}}/static/js/dialogs/workspace.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<!-- script src="{{url_for('static',filename='js/main/gmaps.min.js')}}"></script -->
<script src="{{beta_url}}/static/js/table/strain_validation_grid.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/table/base_experiment_grid.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/table/experiment_grid.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/table/base_scheme_grid.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/table/scheme_grid.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/table/amr_grid.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/table/sra_validation_grid.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/table/uber_strain_grid.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/table/assembly_grid.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/table/medium_scheme_grid.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/table/custom_view_grid.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/table/hierarchy_grid.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/table/annotation_grid.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/dialogs/custom_view_dialog.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/dialogs/allele_dialog.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/dialogs/mst_creation_dialog.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/dialogs/bp_creation_dialog.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/dialogs/snp_creation_dialog.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/dialogs/curator_dialog.js?version={{config['JAVASCRIPT_VERSION']}}"></script>
<script src="{{beta_url}}/static/js/dialogs/uber_strain_dialog.js?version={{config['JAVASCRIPT_VERSION']}}"></script>

    <script>

        document.addEventListener("DOMContentLoaded", function () {
            var searchContainer = document.getElementById('search-container');
            var toggleButton = document.getElementById('toggleButton');


            // Function to maximize the container
            function maximizeContainer() {
                searchContainer.style.height = 'auto';
                searchContainer.style.overflow = 'visible';
                searchContainer.setAttribute('data-minimized', 'false');
                toggleButton.textContent = 'Minimize';
                adjustTableLayoutHeight(); // Adjust table heights after maximizing
            }

            // Function to toggle the search container visibility
            function toggleSearchContainer() {
                if (searchContainer.getAttribute('data-minimized') === 'true') {
                    maximizeContainer();
                } else {
                    minimizeContainer();
                }
            }

            // Add click event listener to search header if it exists
            var searchHeader = document.querySelector('.search-panel');
            if (searchHeader) {
                searchHeader.addEventListener('click', toggleSearchContainer);
            }

            // Adjust table height when the search container height changes
            var resizeObserver = new ResizeObserver(adjustTableLayoutHeight);
            resizeObserver.observe(searchContainer);
            // Function to adjust the table layout height
            function adjustTableLayoutHeight() {
                var windowHeight = window.innerHeight;
                var searchContainerHeight = searchContainer.offsetHeight;
                var mainmenuHeight = 100;
                var tableLayout = document.getElementById('tablelayout');
                var minHeight = 356;

                // Calculate the new height of the table layout
                var newHeight = Math.max(windowHeight - mainmenuHeight - searchContainerHeight - 100, minHeight);

                // Remove any existing height declarations
                tableLayout.style.removeProperty('height');

                // Set the height CSS property to the new height
                tableLayout.style.height = newHeight + 'px';

                // Notify jQuery UI Layout of the height changes
                $('#tablelayout').layout().resizeAll();
            }

            // Adjust table height initially
            adjustTableLayoutHeight();

            // Initialize the state of the container
            var current_path = window.location.pathname;
            var current_query = window.location.search;
            var myStrain_path = "/species/{{ species }}/my_strains";
            var curateStrain_path = "query=st_search";

            if (current_path.endsWith(myStrain_path) || current_query.includes(curateStrain_path)) {
                minimizeContainer();
            } else {
                maximizeContainer();
            }

            // Event listener for the toggle button
            toggleButton.addEventListener('click', toggleSearchContainer);

            // Event listeners for the buttons to minimize the search container
            document.getElementById('all-strains').addEventListener('click', function () {
                minimizeContainer();
            });
            document.getElementById('my-strains').addEventListener('click', function () {
                minimizeContainer();
            });
            document.getElementById('latest').addEventListener('click', function () {
                minimizeContainer();
            });
            document.getElementById('submit-button').addEventListener('click', function () {
                minimizeContainer();
            });
        });


       </script>

{% for grid in grid_list %}
			<script src="{{beta_url}}/static/js/table/{{grid}}?version={{config['JAVASCRIPT_VERSION']}}"></script>
{% endfor %}
{% endblock %}
{% block head%}
{{super()}}
<link rel="stylesheet" href="{{beta_url}}/static/css/js_tree/style.min.css" >


{% endblock %}
{% block extramenu %}
    <div style='float:left;text-align:left;display:inline;margin-left:5px'><label>Workspace:</label><span
            id="workspace-name">None</span></div>
    <div style='float:right;text-align:right;display:inline' id='right-grid-icons'></div>
    <div style='float:right;margin-right:5px'> Experimental Data
        <select style='font-size:13px' id='associated-data-select'></select>
    </div>

    {% if current_user.is_authenticated() %}
        <div help='edit_mode' style="float:right;margin-right:20px"> Edit Mode:
            <input type="checkbox" style="margin-right:5px" id="editmodecheck">
            <div style="float:right" id='edit-icons'></div>
        </div>
    {% endif %}
{% endblock %}

{% block extracontent %}
    <div class="search-container" id="search-container" style="border-bottom: 2mm ridge #aadce7; height:auto;">
        <div id="search-window" style="background-color: #ffffff;">
            <div class="search-header"
                 style='position:sticky; top:0; z-index:1000; background-color: #ffffff; cursor: pointer;'
                 onclick="toggleSearchContainer()">
                <div class="search-panel" style="font-size: 1.3em; font-weight: bolder; color: #31708f;">
                    Search Strains
                    <a href="#"
                       onclick="window.open('https://enterobase.readthedocs.io/en/latest/features/main-search-page.html#query_dialog', 'width=200,height=150');">
                        <img src="/static/img/upload/new_info_s.svg" style="cursor: pointer; vertical-align: super">
                    </a>
                </div>
                <div>
                    <button class="search-panel-minimize-button" id='toggleButton' style="font-weight: bold;">
                        Minimize
                    </button>
                </div>
            </div>


                <div id="search-bar">

                    <div class="row" id="top-query-panel">
                        <div class="col-md-6" style="margin-top: 10px;margin-bottom: 10px;position: relative">
                            <button id="all-strains" onclick="javascript:submitQuery('all')">All Strains</button>&nbsp;
                            <button id="my-strains" onclick="javascript:submitQuery('my_strains')">My Strains</button>&nbsp;
                            <button id="latest" onclick="javascript:submitQuery('default')">Latest</button>&nbsp;
                            <input type='text' style="width:30px; height:3.5px;" value="200" id='limit-spinner'>
                        </div>

                    </div>

                    <div class="row" style="margin:1px">
                        <ul class="tabbed-list">
                            <li><a style="background:#eeeeee" id="strain-tab-header"
                                   href="javascript:changeQueryTab('strain')">Strain Metadata</a></li>
                            <li>
                        <span>
                            <input type="radio" name="operand-radio" value="AND" checked="checked">&nbsp;AND
                            <input type="radio" name="operand-radio" value="OR"> OR
                        </span>
                            </li>
                            <li><a style="background:#bbbbbb" id="experiment-tab-header"
                                   href="javascript:changeQueryTab('experiment')">Experimental
                                Data</a></li>
                        </ul>

                        <div style="background:#eeeeee;height:auto;width:100%;"
                             id="query-div">

                            <div id="strain-tab" style="overflow:hidden;padding-top:20px;background:#eeeeee">

                            </div>

                            <div id="experiment-tab" style="overflow:hidden;">
                                <div align="center" style="padding-top:20px">
                                    <label>Experiment Type</label><select id="experiment-query-type"></select>
                                </div>
                                <div style="background:#eeeeee" id="experimental-query-placeholder"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding-left:15px;">
                        <input type="checkbox" id="no_legacy"><label>&nbsp;Ignore Legacy Data</label>&nbsp;&nbsp;
                        <!--<input type="checkbox" id ="only_with_data"><label>Only Strains With Data</label>-->
                        <input type="checkbox" id="only_editable"><label>&nbsp;Only Editable Strains</label>&nbsp;&nbsp;
                        <input type="checkbox" id="show_non_assemblies"><label>&nbsp;Show Failed Assemblies</label>&nbsp;&nbsp;
                        <input type="checkbox" id="show_substrains"><label>&nbsp;Show Sub Strains</label>

                        {% if current_user.is_authenticated() %}

                            <table style="display:inline;float:right; padding-right:15px;margin-top: 3px">
                                <tr>
                                    <td style="font-weight:bold!important;" class="table-text-right">Save Query&nbsp;
                                    </td>
                                    <td><input class="table-input" id="save-query-select" type="text">&nbsp;</td>
                                    <td><span onclick="javascript:saveQuery()" class="glyphicon glyphicon-floppy-save"
                                              style="cursor:pointer"></span>&nbsp;&nbsp;
                                    </td>


                                    <td style="font-weight:bold!important;" class="table-text-right">Load Query&nbsp;
                                    </td>
                                    <td><select class="table-input" id='load-query-select'></select>&nbsp;</td>
                                    <td><span onclick="javascript:loadQuery()" class="glyphicon glyphicon-floppy-open"
                                              style="cursor:pointer"></span></td>

                                </tr>
                            </table>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}


{% block gridsetup %}
	/********** GLOBAL DATA  **************/

	var help_url= "{{help}}";
	var speciesName = "{{species}}";
	var speciesLabel = "{{species_label}}"
	var initial_grid_params=null;
	var initial_right_grid_order = null;

	//Contains info about the set up of the page
	var start_up_data ="{{data}}";
	var strain_ids ="{{strain_ids}}";
	var logged_in ="{{current_user.is_authenticated()}}";
	var isAdministor ="{{ current_user.administrator }}";

	//contains information about all the experiments
	var all_experiments={};

	//information about latest MSTree
	var MS_tree_id = "";
	var MS_tree_name= "";

	var BP_id = "";
	var BP_name= "";

	var SNP_project_name="";
	var SNP_project_id="";
	var SNP_project_data={};
	var SNP_project_number=1;
	var mst_alert =null;

	//The query panes
	var strainQueryPane=null;
	var experimentQueryPane = null;
	var sortDailog = null

	//the current experiment associated with the page
	var associated_data = "assembly_stats";

	//work space data
	var current_workspace = 0;
	var current_workspace_summary=null;
	var temp_entero_data;
	var temp_load_data;
	var temp_query_data;

    var save_count = 0;

	//the main grid containing the strain metadata information
	var mainGrid = new UberStrainGrid(
	    "SpeciesGrid",
	    {
		enableSort: true,
		editmode: "static",
		editorzoneid: "edition",
		allowSimultaneousEdition: false,
		pageSize:50
	    },
	    speciesName                  
	);


	//The right grid containing the experimental data
	var rightGrid = new SchemeGrid(
	    "SpeciesGrid",
	    {
		enableSort: true,
		editmode: "static",
			    editorzoneid: "edition",
		allowSimultaneousEdition: false,
		pageSize:50
	    },
	    speciesName,
	    'assembly_stats'
	);

	//dialogs
	var entero_ws_tree = null;
	var mst_creation_dialog=new MSTCreationDialog(mainGrid,function(name,id,parent){
		MSTreeSent(name,id,parent);
	});
	var myHCNumbers={};
	var Experiments = [];
	function getHCnums()
    {
		Enterobase.call_restful_json("/get_experiment_details?database="+speciesName,"GET","",showErrorMessage).done(function(data)
        {
            var exp;
            for (const key in data.experiments)
            {
                const experiment = {};
                const subcols = {};
                data.experiments[key].fields.forEach(field =>
                {
                    const name = field.name;
                    subcols[name] = field.label;
                    experiment[key] = {name:data.experiments[key].label, subcols:subcols};
                })
                Experiments.push(experiment);
            }
            for (const key in data.experiments)
            {
                if (key.toLowerCase().includes('cgmlst'))
                {
                    var HCNumbers = []
                    cgmlst = data.experiments[key].fields;
                    cgmlst.slice(2).forEach(function(item)
                    {
                        var number = parseInt(item.name.match(/\d+/)[0]);
                        HCNumbers.push(number);
                    });
                    myHCNumbers[key] = HCNumbers;
                }
            }
		});
	}

	getHCnums()
	var bp_creation_dialog=new BPCreationDialog(mainGrid,myHCNumbers,Experiments, function(name,id,parent){
		BPSent(name,id,parent);
	});

	var snp_creation_dialog = new SNPCreationDialog(mainGrid,function(name,id,parent){
		SNPProjectSent(name,id,parent);

	});
	var custom_view_dialog=null;
    var curator_dialog = new EnteroCuratorDialog(speciesName,mainGrid);
    var uber_strain_dialog = new UberStrainDialog(mainGrid);

	//The icon menus
	var rightIconMenu = new Enterobase.IconMenuBar("right-grid-icons","/static/img/upload",help_url);
	var mainIconMenu = new Enterobase.IconMenuBar("main-grid-icons","/static/img/upload",help_url);
	var editIconMenu = new Enterobase.IconMenuBar("edit-icons","/static/img/upload",help_url);



	/******Methods for the query dialog*********/
	//added by yulei, 2019-03-05
	function sleepSave(ms) {
		return new Promise(resolve => setTimeout(resolve, ms));
	}

	function changeExperimentQueryPane(exp_type){
		$("#experimental-query-placeholder").empty();
		var exp = all_experiments[exp_type];
		if (exp['custom_view']){
			Enterobase.call_restful_json("/get_custom_view_columns?custom_only=true&view_id="+exp_type
			,"GET","",showErrorMessage).done(function(data){
				experimentQueryPane = new Enterobase.ExperimentQueryPane(data['columns'],exp_type,speciesName);
				$("#experimental-query-placeholder").append(experimentQueryPane.getPane());
				all_experiments[exp_type]['fields']=data;

			});
		}
		else{
			var fields = all_experiments[exp_type]['fields'];
			experimentQueryPane = new Enterobase.ExperimentQueryPane(fields,exp_type,speciesName);
			$("#experimental-query-placeholder").append(experimentQueryPane.getPane());
		}

	}

	function changeQueryTab(tab){
		if (tab === 'experiment'){
			$("#strain-tab-header").css("background","#bbbbbb");
			$("#workspace-tab-header").css("background","#bbbbbb");
			$("#experiment-tab-header").css("background","#eeeeee");
			$("#experiment-tab").show();
			$("#strain-tab").hide();
			$("#workspace-tab").hide();

		}
		else if (tab === 'strain'){
			$("#experiment-tab-header").css("background","#bbbbbb");
			$("#workspace-tab-header").css("background","#bbbbbb");
			$("#strain-tab-header").css("background","#eeeeee");
			$("#strain-tab").show();
			$("#workspace-tab").hide();
			$("#experiment-tab").hide();
		}
		else{
			$("#experiment-tab-header").css("background","#bbbbbb");
			$("#strain-tab-header").css("background","#eeeeee");
			$("#workspace-tab-header").css("background","#eeeeee");
			$("#workspace-tab").shoRightGridw();
			$("#strain-tab").hide();
			$("#experiment-tab").hide();
		}

	}

    function setUpQueryDialog() {
        // Set up the query dropdown to change the pane
        sorted_ex = [];
        for (var name in all_experiments) {
            if (all_experiments[name]['custom_view']) {
                continue;
            }
            sorted_ex.push([name, all_experiments[name]['label']]);
        }
        sorted_ex.sort(function(a, b){
            return a[1].toLowerCase().localeCompare(b[1].toLowerCase());
        });
        for (var i in sorted_ex) {
            $("#experiment-query-type").append($("<option>")
                .attr("value", sorted_ex[i][0])
                .text(sorted_ex[i][1]));
        }
        $("#experiment-query-type").append($("<option>")
            .attr("value", "custom_view")
            .text("Custom View"));

        $("#experiment-query-type").bind("change", function(e) {
            $("#temp-cv-query-name").remove();
            if ($(this).val() === "custom_view") {
                entero_ws_tree.getSelectedIDs(function(ids, ws) {
                    changeExperimentQueryPane(ids[0]);
                    $("#experiment-query-type").append($("<option>")
                        .attr({"value": ids[0], "id": "temp-cv-query-name"})
                        .text(ws[0][0])).val(ids[0]);

                }, "OK", {types: ['custom_view']})
            } else {
                changeExperimentQueryPane($(this).val());
            }
        }).mousedown(function(e) {

        });

        strainQueryPane = new Enterobase.StrainQueryPane(mainGrid.getValuesForCombo(true), speciesName, "strain_query");
        $("#strain-tab").append(strainQueryPane.getPane());

        // Now set up the experiment query pane
        changeExperimentQueryPane('assembly_stats');

        $("#experiment-tab").hide();
        $("#workspace-tab").hide();
        $("#experiment-query-type").val('assembly_stats');

        var submitButton = document.querySelector('.submit-button');

        if (submitButton) {
            submitButton.id = 'submit-button';

            $(document).on("click", "#submit-button", function() {
                submitQuery();
                minimizeContainer();
            });
        } else {
            console.error("Submit button not found.");
        }
    }
    function minimizeContainer() {
        var searchContainer = document.getElementById('search-container');
        var toggleButton = document.getElementById('toggleButton');
        searchContainer.style.height = '55px';
        searchContainer.style.overflow = 'hidden';
        searchContainer.setAttribute('data-minimized', 'true');
        toggleButton.textContent = 'Maximize';
        adjustTableLayoutHeight();
    }

    function saveQuery(name) {
        var to_send = {};
        var data = {};
        // Default name to store the last query
        last_query = "Last Query";
        // Give a name for saving the query
        if (!name) {
            to_send.name = $("#save-query-select").val();
            if (!to_send.name) {
                return;
            }
        } else {
            to_send.name = name;
            // Remove the placeholder if a name is provided
            $('#save-query-select option').filter(function() {
            return $(this).text() === last_query; }).remove();
            $('#load-query-select option').filter(function() {
            return $(this).text() === last_query; }).remove();
        }
        // Ensure the given name does not exceed 20 characters
        if (to_send.name.length > 20) {
            to_send.name = to_send.name.substring(0, 20);
        }
        // Check if the given name already exists in the load-query-select
        var isDuplicate = $('#load-query-select option').filter(function() {
            return $(this).text() === to_send.name; }).length > 0;
        // Do not allow duplicates or default name to store the last query
        if (isDuplicate || (to_send.name === last_query && !name)) {
            Enterobase.modalAlert("A query with this name already exists. Please use a different name.");
            return;
        }
        to_send.type = "main_query";
        to_send.database = speciesName;
        // Serialize data from various input panels
        data.experiment_query = experimentQueryPane.save();
        data.strain_query = strainQueryPane.save();
        data.experiment_type = $("#experiment-query-type").val();
        data.operand = $("input[name='operand-radio']:checked").val();
        to_send.data = JSON.stringify(data);

        // Query validation
        const strainFieldValues = data.strain_query.field_values;
        const strainValues = data.strain_query.values;
        const strainRows = data.strain_query.rows;

        const strainQueryUsed = Object.keys(strainFieldValues).length > 0 || Object.keys(strainValues).length > 0;
        const strainQueryVal = strainRows === Object.keys(strainFieldValues).length + 1 && strainRows === Object.keys(strainValues).length + 1;

        const experimentFieldValues = data.experiment_query.field_values;
        const experimentValues = data.experiment_query.values;
        const experimentRows = data.experiment_query.rows;

        const experimentQueryUsed = Object.keys(experimentFieldValues).length > 0 || Object.keys(experimentValues).length > 0;
        const experimentQueryVal = experimentRows === Object.keys(experimentFieldValues).length + 1 && experimentRows === Object.keys(experimentValues).length + 1;

        if (name !== 'Last Query') {
            let alertMessage = "";

            if (!strainQueryUsed && !experimentQueryUsed) {
                alertMessage = "Please ensure you fill out at least one of the strain or experiment queries.";
                }
            else {
                if (strainQueryUsed && !strainQueryVal) {
                    alertMessage += "Please ensure all required strain query fields are filled correctly.";
                }

                if (experimentQueryUsed && !experimentQueryVal) {
                    alertMessage += "Please ensure all required experiment query fields are filled correctly.";
                }
            }

        if (alertMessage) {
                Enterobase.modalAlert(alertMessage.trim());
                return;
                }
        }

        // POST the data to the server
        Enterobase.call_restful_json("/save_user_preferences", "POST", to_send, showErrorMessage).done(function(response) {
        // Append the new or updated query to the dropdowns
        if (!isDuplicate || to_send.name === last_query) {
            $('#load-query-select').append($("<option>").attr("value", to_send.name).text(to_send.name)).val(to_send.name);
                }
            });
        }

	function loadQuery(name){
	    var to_send={};
		if (!name){
			to_send.name = $('#load-query-select').val();
			if (! to_send.name ){
				return;
			}
		}
		else{
			to_send.name=name;
		}
		to_send.type="main_query";
		to_send.database=speciesName;
		Enterobase.call_restful_json("/load_user_preferences","POST",to_send,showErrorMessage).done(function(data){
			 if (data==="Not Found"){
				return;
			 }
			 strainQueryPane.clear(true);
			 $("#experiment-query-type").val(data.experiment_type);
			 changeExperimentQueryPane(data.experiment_type);
			 if (data.strain_query){
				strainQueryPane.clear();
				strainQueryPane.load(data.strain_query);
			 }
			 if (data.experiment_query){
				experimentQueryPane.clear();
				experimentQueryPane.load(data.experiment_query);
			 }
			 if (data.operand === "AND"){
				$("input[name=operand-radio][value='AND']").prop("checked",true);
			 }
			 else{
				$("input[name=operand-radio][value='OR']").prop("checked",true);
			 }

		});
	}


    //******Edit Mode Functions************
       function enterEditMode_disable_metadata(){
		$("#editmodecheck").prop("checked", false);
		Enterobase.modalAlert("Editing metadata is currently not available, please try again later","Warning");
				 
	}

    function enterEditMode(flag){
		$("#edit-icons").show(); 
		
		/*old
		    Enterobase.modalAlert("Edit Mode Enabled:<ul><li>Edit cells directly or click the pencil icon to edit a row.</li><li>Changes appear in yellow.</li><li>Save changes using the icon beside Edit Mode or via the right-click menu.</li></ul>", "Information");
	    */
		//added by yulei
		if(flag && flag=="cookieChecking"){
			//do nothing
		}else{
			Enterobase.modalAlert("Edit Mode Enabled:<ul><li>Edit cells directly or click the pencil icon to edit a row.</li><li>Changes appear in yellow.</li><li>Save changes using the icon beside Edit Mode or via the right-click menu.</li></ul>", "Information");
		}
		
		mainGrid.editMode = true;
		rightGrid.editMode = true;
		mainGrid.showErrors = true;
		mainGrid.showChanges= true;
		mainGrid.validateStrains();		
		rightGrid.refreshGrid();
		$('#dds-tools').css('display','block');			
		$('#dds-edit').css('display','block');
		let checkBox = document.getElementById("editmodecheck");	
		checkBox.checked = true;		
		
	}
	
	function exitEditMode(flag){
		mainGrid.editMode = false;
		rightGrid.editMode = false;
		mainGrid.showErrors = false;
		mainGrid.showChanges= false;
		$('#dds-tools').css('display','none');
		$('#dds-edit').css('display','none');
		$("#edit-icons").hide();   
		mainGrid.refreshGrid();
		rightGrid.refreshGrid();	
		
		//added by yulei
		if(flag && flag=="cookieChecking"){
			let checkBox = document.getElementById("editmodecheck");	
			checkBox.checked = false;
		}else{
			//
		}
		
	}
	
	///******Work Space Functions************
	function saveWorkspace(name,update){
		
		if (!name || mainGrid.getColumnCount()===0){
			return;
		}
		
		var grid_params = {
			page_size:mainGrid.pageSize,
			column_widths:mainGrid.columnWidths,
			hidden_columns:mainGrid.hiddenColumns,
			column_order:mainGrid.getColumnOrder(),
			display_settings:mainGrid.getDisplayValues(),
		
		};
		
		var actual_data = {
			sort_order:sortDialog.save(),
			strain_ids:mainGrid.getIDs(),
			current_page:mainGrid.currentPageIndex,
			experimental_data:associated_data
		}
		
		var data = null;
	
		try{
			data = JSON.stringify({grid_params:grid_params,data:actual_data});
		}catch (e){
			console.log(e);		
		}
		
		var to_send  = {
			name:name,
			type:"main_workspace",
			database:speciesName,
			data:data,	
		};	
		
		if (update){
			Enterobase.call_restful_json("/update_workspace","POST",to_send,showErrorMessage).done(function(data){
				var ws_name = entero_ws_tree.getWorkspace(name)[0];
				if (data === "OK"){
					Enterobase.modalAlert("The work space "+ws_name+" has been successfully updated");
				}
				else{
					Enterobase.modalAlert(data);
				}
			});	
		}
		else{
		
			Enterobase.call_restful_json("/create_workspace","POST",to_send,showErrorMessage).done(function(data){
				if (data['saved']==='true'){
					var wid = data['id'];
					Enterobase.modalAlert("The work space "+name+" has been saved. You can share the workspace with others by going to the My Buddies.")
					$("#workspace-name").html(name);
					
					current_workspace=wid;
					entero_ws_tree.addNewWorkspace([name,'mine','mine',wid,"main_workspace"]);
					
					
				}
			});
		}
		
		
		
		
		
		$("#dds-analysis").show();
		$("#dds-workpace-summary").show();
		
	}
	
	function addToWorkspace(id){
		var ids = mainGrid.getSelectedRows();
		to_send = {
			database:speciesName,
			strain_ids:ids.join(","),
			name:id,	
		}
		Enterobase.call_restful_json("/add_ids_to_workspace","POST",to_send,showErrorMessage).done(function(data){
			if (data === 'Success'){
				Enterobase.modalAlert("Strains have been added to the workgroup", 'Information')
			
			}else{
				Enterobase.modalAlert(data);
			}
			
		});
	
	}
	
	
	
	
	function loadWorkspace(id){
		var ws = entero_ws_tree.getWorkspace(id);
		if (ws){
			var type = ws[4];
			var name = ws[0]
			if (type === 'ms_sa_tree'){
				loadMSTree(name,id);
				return;
		
			}

			if (type == 'bubble_sa_plot'){
				loadBP(name,id);
				return;

			}

			if (type === 'snp_sa_project'){
				loadSNPProject(name,id);
				return;
		
			}
		}
		loadingImage.show();
		
		to_send = {};
		to_send.database=speciesName;
		to_send.strain_query_type="main_workspace";
		if (! id){
			return;		
		}
		$("#query-dialog").dialog("close");
		to_send.strain_query = id;
		Enterobase.call_restful_json(Enterobase.main_query_url,"POST",to_send,showErrorMessage).done(function(data){
			if (data==='Error'){
				Enterobase.modalAlert("There was an error loading the workspace - Please contact an administrator");
				return;
			}
			var new_url = window.location.pathname + '?query=workspace:' + id
			if (window.history.replaceState) {
				window.history.replaceState({}, null, new_url);
			}
			
			var exp = data['data']['experimental_data'];
			temp_entero_data=data;
			temp_load_data=data;
			temp_entero_data['ws_id']=id;

			//changed by yulei, 20190808, in the case could not find the shared custom_view id, otherwish will cause errors
			let newCustomViewFlag=false;
			if (exp && !all_experiments[exp]){
				all_experiments[exp]={custom_view: true, label: "SharedCustomView"};
				newCustomViewFlag=true;
			}
			
			if (exp!==associated_data && !newCustomViewFlag){
				associated_data = exp;
				saveRightGridPreferences();
				setRightGrid(workspaceLoaded);			
			}
			else{
				workspaceLoaded();
			
			}
			//added by yulei, 20190812, default right grid value
			if(newCustomViewFlag){
				loadRightDataOnly('MLST_Achtman');//added by yulei 20190808, as the default experiments, not show the unseen custom_view fields
			}
			
			//added by yulei, 20190820
			
			//when load a shared custom view, will display it in the drop list in the right table 'Experimental Data' selection
			if(!newCustomViewFlag && all_experiments[exp]['custom_view']){
				let customViewName=all_experiments[exp]['label']
				//let optgroup=document.getElementById('optgroup-custom-view')
				//optgroup.append($("<option>").attr("value","current_custom_view","id":"current-custom-view").text(customViewName));
				$("#current-custom-view").remove();
				$('#optgroup-custom-view').append($("<option>")
					.attr({"value":"current_custom_view","id":"current-custom-view"})
					.text(customViewName));
					$('#associated-data-select').val("current_custom_view");
			}else{
				if($("#current-custom-view")){
					$("#current-custom-view").remove();
				}
			}
			

		});
		console.log("load experiment-4");
		current_workspace_summary= new EnteroWorkspaceSummaryDialog(id);
		
		current_workspace_summary.treeClicked = function(id,type,name){
			if (type == 'ms_trees'){
				loadMSTree(name,id);
			}
			else if (type == 'bubble_plot'){
				loadBP(name,id);
			}
			else if (type == 'snp_projects'){
				loadSNPProject(name,id);
			}
		
		}
	}
	
	function workspaceLoaded(){
		mainGrid.resetGrid(temp_entero_data);
		//if (temp_entero_data['grid_params']){//old
		if (temp_entero_data && temp_entero_data['grid_params']){
			setGridParams(temp_entero_data['grid_params']);
		}
		
		load_both(temp_entero_data,"There was a problem loading the workspace");
		//set up snp project info
		$("#dds-analysis").show();
		$("#dds-workspace-summary").show();
		var snp_projects = temp_entero_data['data']['snp_projects'];
		
		if (snp_projects){
			SNP_project_number=1;
			for (var index in snp_projects){
					var arr=snp_projects[index].split(":");
					SNP_project_number++;
					addSNPToMenu(arr[0],arr[1]);
				}
			
		}
		//fill menu with MS trees
	   
		var ms_trees = temp_entero_data['data']['ms_trees'];
		if (ms_trees){
				for (var index in ms_trees){
					var arr=ms_trees[index].split(":");
					addMSTreeToMenu(arr[0],arr[1]);
				}
							
		}
		if ( temp_entero_data['data']['sort_order']){
			delete temp_entero_data['data']['sort_order'][0];
			sortDialog.load(temp_entero_data['data']['sort_order']);
			sortDialog.sort();
		}
		if (temp_entero_data['data']['current_page']){
			mainGrid.setPageIndex(temp_entero_data['data']['current_page']);
		}
		mainGrid.refreshGrid();
		rightGrid.refreshGrid();
		loadingImage.hide();
		var id  = temp_entero_data['ws_id'];
		var displayName = entero_ws_tree.getWorkspace(id)[0];
		$("#workspace-name").html(displayName);
		current_workspace=id;
		$("#workspace-name-text").val(displayName);
		if (current_workspace_summary){
			current_workspace_summary.delete();
		}
		temp_entero_data=null;
		
		
		//added by yulei, 20190804
		let c_name=wholeData['user_details'][0]+"f"+current_workspace;//214f29362
		let editModeFlag=mainGrid.getCookie(c_name);
		/*
		if(editModeFlag=="editModetrue"){
			enterEditMode("cookieChecking");
		}else if(editModeFlag=="editModefalse"){
			exitEditMode("cookieChecking");
		}else{
			//do nothing
		}*/
		if(editModeFlag=="editModetrue"){
			enterEditMode("cookieChecking");
		}else{
			exitEditMode("cookieChecking");
		}
	}
	
	
	
	function addStrainsToGrid(ids){
		var to_send={};
		to_send.database=speciesName;
		to_send.strain_query_type="ids";
		to_send.strain_query=ids.join(",");
		to_send.experiment=associated_data;
		to_send.show_non_assemblies=true;
		Enterobase.call_restful_json(Enterobase.main_query_url,"POST",to_send,showErrorMessage).done(function(data){
			for (var index in data['strains']){
				var record = data['strains'][index];
				var exists = mainGrid.getRowIndex(record['id'])
				if (exists !== -1){
					continue;
				}
				mainGrid.appendNewRow(record);
				rightGrid.appendNewRow(data['experiment'][index]);
				var ass = record['assembly_status'];
				if  (ass){
					mainGrid.hasAssembly[record['id']]= ass;
		
				}
				var best_assembly = record['best_assembly'];
				if  (best_assembly){
					mainGrid.best_assembly[record['id']] = best_assembly;
				}
			}
			mainGrid.newDataLoaded(mainGrid.editMode)
			
			mainGrid.lastPage();
			rightGrid.lastPage();
			mainGrid.refreshGrid();
			rightGrid.refreshGrid();
			$('#righttablecontent').scrollTop(10000);
		});
	}
	
	
	
	
	function addSchemesToMenu(name,label){
		mainGrid.addMenuSubItem("call_scheme",name,label,function(){
     		{% if active_server %}
	    		mainGrid.sendRecordsToNserv(mainGrid.getSelectedRows(),name,label,showInformationMessage)
    	    {% else %}
                Enterobase.modalAlert("Function temporarily unavailable during maintenance");
            {% endif %}
	});
	
	}
	
	function addMSTreeToMenu(name,id){
		mainGrid.addMenuSubItem("load_ms_tree","ms_tree_"+id,name,function(){
			loadMSTree(name,id);
		});
	}

	function addBPToMenu(name,id){
		mainGrid.addMenuSubItem("load_bp","bp_"+id,name,function(){
			loadBP(name,id);
		});
	}

	function addSNPToMenu(name,id){
		mainGrid.addMenuSubItem("load_snp_project","snp_"+id,name,function(){
			loadSNPProject(name,id);
		});
	}
	
	function loadMSTree(name,id){
		MS_tree_id=id;
		MS_tree_name =name;
		var windowName = name;//this.scheme+"_"+this.mstTreeWindows.length
		var MSTreeWindow = window.open(beta_url() + "/ms_tree?tree_id="+id,windowName,'width=1000, height=600');
	}

	function loadBP (name,id){
		bp_id = id;
		bp_name = name;
		var windowName = name;
		window.open("/bubble_plot?bp_id="+id,windowName,'width=1000, height=600');
	}

	function loadSNPProject(name,id){
		SNP_project_id=id;
		 var url  ="/species/"+speciesName+"/snp_project/"+id;
		window.open(url,name+"_snp_tree",'width=1000, height=600');
	}
		
		
	
	
	function sendSNPJob(){
		var aids = [];
		var sel_only= $("#snp-selected-only").is(":checked");
		for (var n=0;n < mainGrid.getRowCount();n++) { //>
			var sid = mainGrid.getRowId(n);
			if (mainGrid.hasAssembly[sid] === 'Assembled'){
				if (sel_only && !mainGrid.selectedRows[sid]){
					continue;				
				}
				aids.push(mainGrid.best_assembly[sid]);
			}
		}
		if (aids.length<1 || aids.length>1000){
			Enterobase.modalAlert("You can only call SNPs between 1 and 1000 genomes");
			return;
		}
		
		
		var ref = mainGrid.best_assembly[$('#snp-reference-select').val()];
		var ws = $("#snp-dialog").data("standalone")?0:current_workspace;
		$("#snp-dialog").data("standalone","false");
		to_send={
		    database:speciesName,
			genome_ids:aids.join(","),
			reference_id:ref,
			workspace:ws,
			snp_name:$("#snp-project-name").val()
			
		};
		
		Enterobase.call_restful_json("/send_snp_job","POST",to_send,showErrorMessage).done(function(data){
			Enterobase.modalAlert("Your SNP job has been successfully submitted");
		});
	
	}
	
	
	function  MSTreeSent(name,id,parent_workspace){
		
		var msg = "Tree calculation in progress. If no window appears, allow popups from this site. If it takes a long time, you can close the window, leave the page, and load the tree later. You can see whether the tree has completed in My Jobs."
		mst_alert = Enterobase.modalAlert(msg,"Information");
		//add to workspace analysis menu
		if (parent_workspace){
			addMSTreeToMenu(name,id);
		}
		//add it to the dialog
		else{
			var ws=[name,"mine","mine",id,"ms_sa_tree"]
			entero_ws_tree.addNewWorkspace(ws,"RN")
		}
		loadMSTree(name,id);
	}

	function  BPSent(name,id,parent_workspace){

		var msg = "The Bubble plot is being calculated. If no window appears please allow the browser to accept "+
			"popups from this site."
		mst_alert = Enterobase.modalAlert(msg,"Information");
		//add to workspace analysis menu
		if (parent_workspace){
			addBPToMenu(name,id);
		}
		//add it to the dialog
		else{
			var ws=[name,"mine","mine",id,"bubble_sa_plot"]
			entero_ws_tree.addNewWorkspace(ws,"RN")
		}
		loadBP(name,id)
	}


	function SNPProjectSent(name,id,parent_workspace){
		
		var msg = "The tree is being calculated. "+
			"You can follow the progress in My Jobs. If you selected the email option, you will be sent an " +
			"email when the job is complete.";
			
		mst_alert = Enterobase.modalAlert(msg,"Information");
		//add to workspace analysis menu
		if (parent_workspace){
			addSNPToMenu(name,id)
		}
		//add it to the dialog
		else{
			var ws=[name,"mine","mine",id,"snp_sa_project"]
			entero_ws_tree.addNewWorkspace(ws,"RN")
		}
		
	}
	
	
	function createSNPProject(standalone){
  		{% if active_server %}
            var ws = null
            if (! standalone){
                ws = entero_ws_tree.getWorkspace(current_workspace);
            }
    		snp_creation_dialog.show(rightGrid,ws,entero_ws_tree);
	    {% else %}
            Enterobase.modalAlert("Function temporarily unavailable during maintenance");
        {% endif %}
	}
	
	function createMSTTree(standalone){
  		{% if active_server %}
    		var ws = null;
	    	if (!standalone){
		    	ws = entero_ws_tree.getWorkspace(current_workspace);
    		}
	    	mst_creation_dialog.show(rightGrid,ws);
        {% else %}
            Enterobase.modalAlert("Function temporarily unavailable during maintenance");
        {% endif %}
	}

	function createBubblePlot(standalone){
		var ws = null;
		if (!standalone){
			ws = entero_ws_tree.getWorkspace(current_workspace);
		}
		bp_creation_dialog.show(rightGrid,ws);
	}


	
	
	
	//******Saving Right Grid Layout************
	function saveRightGridPreferences(){
		if (!logged_in){
			return;
		}
		var grid_params = {		
			column_widths:rightGrid.columnWidths,
			hidden_columns:rightGrid.hiddenColumns,
			column_order:rightGrid.getColumnOrder()
		};
		var to_send={
			type:"grid_layout",
			name:associated_data,
			data:JSON.stringify(grid_params),
			database:speciesName		
		}
		Enterobase.call_restful_json("/save_user_preferences","POST",to_send,showErrorMessage);
	}
	
	function saveMainGridPreferences(){
		if (!logged_in){
			return;
		}
		var grid_params = {
			page_size:mainGrid.pageSize,
			column_widths:mainGrid.columnWidths,
			hidden_columns:mainGrid.hiddenColumns,
			column_order:mainGrid.getColumnOrder(),
			display_settings:mainGrid.getDisplayValues(),
		
		};
		var to_send={
			type:"grid_layout",
			name:"strain_grid",
			data:JSON.stringify(grid_params),
			database:speciesName		
		}
		Enterobase.call_restful_json("/save_user_preferences","POST",to_send,showErrorMessage);		
	
	}
	
	function showInformationMessage(msg){
		Enterobase.modalAlert(msg,"Information");
    }

    function showErrorMessage(msg){
		Enterobase.modalAlert("Could not get view information:"+msg);
		$("#query-dialog").parent().find("button").removeAttr("disabled");
		loadingImage.hide();
    }

    //******Data Loading Functions************
    
    function loadedMainMetaData(msg){

		if (msg !== 'OK'){
			Enterobase.modalAlert("Could not contact server to get metadata:"+msg);
			return;
		}
		//create the strain query pane and add it to the dialog

		setUpQueryDialog();
		sortDialog = new SortDialog();
		setRightGrid(function(){;

			addTablesToPage(false);
			if (initial_grid_params){
				setGridParams(initial_grid_params);
			}
			if (initial_right_grid_order){
				rightGrid.setColumnOrder(initial_right_grid_order);
			}
			//mainGrid.setCompoundFieldToDisplay("Collection Date","collection_year");
			mainGrid.setCompoundFieldToDisplay("Collection Date","default");//changed by yulei, 2019-03-20
			mainGrid.setCompoundFieldToDisplay("Location","country");

			//for some reason layout not correct
			containerDiv.sizePane("west",containerDiv.west.state.size+2);

			//query based on the information sent directly from the view
			if (start_up_data){
				var to_send= {
					show_non_assemblies:true
				};

				if (start_up_data === 'my_strains'){
				   submitQuery("my_strains");
				}
				else if (start_up_data === 'default'){
				   submitQuery("default");
				}
				else if (start_up_data.startsWith('strains')) {
					var li = start_up_data.split(":");
					to_send.strain_query = li[1]+"='"+li[2]+"'";
					submitQuery(to_send);
				}
				else if (start_up_data.startsWith("scheme")){
					var li = start_up_data.split(":")
					to_send.experiment_query='"'+li[2]+'"'+"='"+li[3]+"'";
					to_send.experiment=li[1];
					to_send.show_non_assemblies=true;
					submitQuery(to_send);
				}
				else if (start_up_data.startsWith("workspace")){
					var li = start_up_data.split(":")
					loadWorkspace(li[1]);
				}
				else if (start_up_data.startsWith("st_search")){
					displaySchemeDialog({});
					loadingImage.hide();

				}
			}
			else if (strain_ids){
				var to_send= {
					show_non_assemblies:true,
					strain_query:"strains.id IN ("+strain_ids+")",
					show_substrains:"true"


				};
				submitQuery(to_send);

			}

            else{
				$("#search-query");
				//loadQuery("Last Query");
				loadingImage.hide();

			}
		},true);
    }

	//loads only the right hand data based on the strain IDs
	function loadRightDataOnly(exp){
		associated_data = exp
		loadingImage.show();
		setRightGrid(getRightDataOnly);
		
	}

	function getRightDataOnly(){
		if(mainGrid.getCompleteRowCount()===0){
			rightGrid.refreshGrid();
			loadingImage.hide();
			return;
		}
		
		var send_data = {
			experiment_query_type:"strain_ids",
			experiment_query:mainGrid.getIDs().join(","),
			database:speciesName,
			experiment:associated_data
		}
		//if (all_experiments[associated_data]['custom_view']){//old
		if (all_experiments[associated_data] && all_experiments[associated_data]['custom_view']){
			send_data['extra_data']=associated_data;
			send_data['experiment']="custom_view";
		
		}
		var mainTablePos = $("#maintablecontent").scrollTop();
		Enterobase.call_restful_json(Enterobase.main_query_url,"POST",send_data,showErrorMessage).done(function(data){
			if (data==='Error'){
				Enterobase.modalAlert("Unfortunately there was an error with your query. If this persists please contact an administrator.");
				loadingImage.hide();
				return;
			
			}
			rightGrid.loadNewData(data,false,true);
			//if main grid is filtered then filter right grid as well
			
			__syncTable(mainGrid,rightGrid,true);	
					
			rightGrid.refreshGrid();
			$("#righttablecontent").scrollTop(mainTablePos);
			loadingImage.hide();
		});   	
	}
	
	function load_both(data,msg){
		if (data['strains'].length === 0){
			Enterobase.modalAlert(msg,"Warning",false,function(){
				//add stuff here which happens after dialog closed
			});
			loadingImage.hide();
			return;
		}	 
		mainGrid.currentPageIndex=0;
		rightGrid.currentPageIndex=0;
		mainGrid.loadNewData(data['strains'],false,true);
		rightGrid.loadNewData(data['experiment'],false,true);
		if (start_up_data === 'my_strains'){
			   $("#editmodecheck").trigger("click");
			   start_up_data=null;
		}
	
		$("#workspace-name").html("None");
		current_workspace=0;
		mainGrid.clearMenuItem("load_ms_tree");
		mainGrid.clearMenuItem("load_snp_project");
		$("#dds-analysis").hide();
		$("#dds-workspace-summary").hide();
		mainGrid.refreshGrid();
		
		loadingImage.hide(); 
	}
	
	function displaySchemeDialog(initial_data){
		
		mlst_schemes=[];
		for (var name in all_experiments){
			var exp = all_experiments[name];
			if (exp['mlst']){
				scheme={
					name:name,
					label:exp['label']
								}
				for (var index in exp['fields']){
					var field =  exp['fields'][index]
					if (field['group_name']=='Locus'){
						if  (field['sub_fields'].length<10){//>
							scheme['allele_list']=[];
							for (var i in field['sub_fields']){
								locus_name = field['sub_fields'][i]['label'];
								scheme['allele_list'].push(locus_name);
							}
						}
						break;
					}
				}
				mlst_schemes.push(scheme)
			}
		}
		
		new Enterobase.SchemeQueryDialog(mlst_schemes,initial_data,function(ret_object){
			if (associated_data !== ret_object['scheme']){
				associated_data= ret_object['scheme'];
				setRightGrid(function(){
					to_send ={};
					to_send.experiment_query=ret_object['data'];
					to_send.experiment_query_type="st_match"
					submitQuery(to_send);
				});
			}
			else{
				to_send ={};
				to_send.experiment_query=ret_object['data'];
				to_send.experiment_query_type="st_match"
				submitQuery(to_send);	
			}

		});
	}
		
	//change the right grid and load in correct columns according to 'associated_data'
	function setRightGrid(callback,not_add_to_page){
		$("#associated-data-select").val(associated_data);
        delete this.bp_creation_dialog.div;
		if (all_experiments[associated_data] && all_experiments[associated_data]['custom_view']){
			rightGrid = new CustomViewGrid(
				"CustomViewGrid",
				{	
					enableSort: true,  
					editmode: "static", 
					editorzoneid: "edition", 
					allowSimultaneousEdition: false,
					pageSize:50
				},
				speciesName,
				associated_data,
				all_experiments[associated_data]['label']
			);
			Enterobase.call_restful_json("/get_custom_view_columns?view_id="+associated_data,"GET","",showErrorMessage).done(function(data){
				rightGrid.setMetaData(data['columns']);
				if (data['categories']){
					rightGrid.column_categories=data['categories'];
				}
				sortDialog.setColumns();
				if (!not_add_to_page){
					addTablesToPage(true);
				}
				
				try{
					if (data.layout){
						var lo=data.layout;
						if ( Object.keys(lo.column_order).length!==0){
							rightGrid.setColumnOrder(lo.column_order);
							initial_right_grid_order=lo.column_order;
						}
						
						for (key in lo.column_widths){
							rightGrid.columnWidths[key] =lo.column_widths[key] ;
						}
						for (key in lo.hidden_columns){
							rightGrid.hiddenColumns[key]= lo.hidden_columns[key];
						}
					
					}
				}catch(e){
					console.log("problem with loading saved layout into grid");
				}
				rightGrid.setStrainGrid(mainGrid);
				mainGrid.clearMenuItem("experiment");
				$("#dds-experiment").hide();
				if (rightGrid.getMethodData){
					var methods = rightGrid.getMethodData();
					if (methods.length>0){
						$("#dds-experiment").show();
					}
					for (var index in methods){
						var method = methods[index];
						mainGrid.addMenuSubItem("experiment",method.name,method.label,method.method);	
					}
				}
				callback();
			});	
		
		}
		else{
			var to_send={
				type:"grid_layout",
				name:associated_data,
				database:speciesName
			};
			
			Enterobase.call_restful_json("/load_user_preferences","POST",to_send,showErrorMessage).done(function(data){
			
				var rightGridName = all_experiments[associated_data]['js_grid'];
					rightGrid = new window[rightGridName](
						rightGridName,
						{	
							enableSort: true,  
							editmode: "static", 
							editorzoneid: "edition", 
							allowSimultaneousEdition: false,
							pageSize:50
						},
						speciesName,
						associated_data,
						all_experiments[associated_data]['label']
					);
				
				
				//create a flat metadata structure and load in columns
				var all_fields = all_experiments[associated_data]['fields'];
				var display_order=1;
				var cols=[];
				for (var index in all_fields){
					
					var sub_fields = all_fields[index]['sub_fields'];
					if (sub_fields){
						for (var index2 in sub_fields){
							//copy the field object as display order will be changed
							var col = $.extend({},sub_fields[index2])
							col['display_order']=display_order;
							col['group_name']=all_fields[index]['group_name'];
							cols.push(col);
							display_order++;		
						}
					}
					else{
						var col =$.extend({},all_fields[index]);
						col['display_order']=display_order;
						cols.push(col);
						display_order++;	
					}
				}
				
				rightGrid.setMetaData(cols);
				sortDialog.setColumns();
				if (!not_add_to_page){
					addTablesToPage(true);
				}
				rightGrid.setStrainGrid(mainGrid);
				mainGrid.clearMenuItem("experiment");
				try{
					if (data && data !== "Error"){
						var lo=data;
						if ( Object.keys(lo.column_order).length!==0){
							rightGrid.setColumnOrder(lo.column_order);
							initial_right_grid_order=lo.column_order;
						}
						for (key in lo.column_widths){
							rightGrid.columnWidths[key] =lo.column_widths[key] ;
						}
						for (key in lo.hidden_columns){
							rightGrid.hiddenColumns[key]= lo.hidden_columns[key];
						}
					
					}
				}catch(e){
					console.log("problem with loading saved layout into grid");
				}
				$("#dds-experiment").hide();
				if (rightGrid.getMethodData){
					var methods = rightGrid.getMethodData();
					if (methods.length>0){
						$("#dds-experiment").show();
					}
					for (var index in methods){
						var method = methods[index];
						mainGrid.addMenuSubItem("experiment",method.name,method.label,method.method);	
					}
				}
				if (callback){
					callback();		
				}
			});
		}
		
	}

    function finishedGettingNCBIData(msg){
		mainGrid.validateStrains();
		mainGrid.showErrors= true;
		mainGrid.showChanges=true;	
		if (mainGrid.getCompleteRowCount()===0){
			Enterobase.modalAlert("There were no records that matched your criteria","Warning",false);
		}
		mainGrid.refreshGrid();
		 $("#status").html("Editing");
		 loadingImage.hide();
		mainGrid.tableLocked=false;
		if (msg !== "OK"){
			Enterobase.modalAlert("Could not contact server:"+msg);
		}
    };
	
	//called when a file is loaded to sync it with database
	function fileLoaded(msg){
		
		//give the address and callback function when data is loaded
		if(msg =="OK"){
			mainGrid.syncGridWithDatabase(associated_data,function(data,nonEditableItemId,fieldname){
			loadingImage.show();		
			mainGrid.tableLocked=true;		
			
			rightGrid.loadNewData(data,false,true);
			mainGrid.validateStrains();
			mainGrid.showErrors= true;
			mainGrid.showChanges=true;
			mainGrid.refreshGrid();
			rightGrid.refreshGrid();
			loadingImage.hide();
			mainGrid.tableLocked=false;
			
			var nonE="You don't have the edit metadata permission on the strain listed below or the "+fieldname+" is not right, so the strain could not be updated	.<br>";
			if(nonEditableItemId.length>0){
				for(var s in nonEditableItemId){
					nonE=nonE+nonEditableItemId[s]+"<br>";
				}
				Enterobase.modalAlert(nonE);			
			}

			});			
		}else{
			mainGrid.syncGridWithDatabase("error",function(data,nonEditableItemId,fieldname){
			loadingImage.show();		
			mainGrid.tableLocked=true;		
			
			rightGrid.loadNewData(data,false,true);
			mainGrid.validateStrains();
			mainGrid.showErrors= true;
			mainGrid.showChanges=true;
			mainGrid.refreshGrid();
			rightGrid.refreshGrid();
			loadingImage.hide();
			mainGrid.tableLocked=false;
			
			var nonE="You don't have the edit metadata permission on the strain listed below or the "+fieldname+" is not right, so the strain could not be updated.<br>";
			if(nonEditableItemId.length>0){
				for(var s in nonEditableItemId){
					nonE=nonE+nonEditableItemId[s]+"<br>";
				}
				Enterobase.modalAlert(nonE);			
			}

			});
		}

			/*		
			mainGrid.syncGridWithDatabase(associated_data,function(data,nonEditableItemId,fieldname){
			loadingImage.show();		
			mainGrid.tableLocked=true;		
			
			rightGrid.loadNewData(data,false,true);
			mainGrid.validateStrains();
			mainGrid.showErrors= true;
			mainGrid.showChanges=true;
			mainGrid.refreshGrid();
			rightGrid.refreshGrid();
			loadingImage.hide();
			mainGrid.tableLocked=false;
			
			var nonE="You don't have the edit metadata permission on the strain listed below or the "+fieldname+" is not right, so the strain could not be updated.<br>";
			if(nonEditableItemId.length>0){
				for(var s in nonEditableItemId){
					nonE=nonE+nonEditableItemId[s]+"<br>";
				}
				Enterobase.modalAlert(nonE);			
			}

			});  
			*/

	}	

    function madeChanges(msg){
		mainGrid.refreshGrid(); 		
		Enterobase.modalAlert(msg,"Information",false);
		loadingImage.hide();
    }
    
    function loadNCBIMetaData(){
		loadingImage.show();
		mainGrid.tableLocked=true;
		$("#status").html("Retrieving Metadata")
		//give the address and callback function when data is loaded
		mainGrid.getDataFromAccessionNumbers(finishedGettingNCBIData);        
    };

    function assemblySent(IDs){
		if (rightGrid.assemblySent){
			rightGrid.assemblySent(IDs);
		}	
    }

{% endblock %}   

{% block windowready %}

    mainGrid.finishedUploadCallback = madeChanges;

    //save changes in the right grid     
    $(window).on('beforeunload', function() {
		saveRightGridPreferences();
		saveMainGridPreferences();

    });
	
    with (mainGrid){
{#    {% if current_user.is_authenticated() %}#}
        addMenuTopItem("data","Data");
{#    {% endif %}#}
		addMenuTopItem("edit","Edit");
		addMenuTopItem("view","View");
		addMenuTopItem("analysis","Analysis");
		addMenuTopItem("workspace","Workspace");
		addMenuTopItem("experiment","Experiment");
		addMenuTopItem("tools","Tools");
		$('#dds-tools').css('display','none');
		$('#dds-analysis').hide();
		$('#dds-workspace-summary').hide();
		var i = Enterobase.makeCustomFileInput("fileupload",function(file){
			mainGrid.loadFile(file,false,fileLoaded);
		});

	    //*****************workspace****************************
        function downloadMetadata(ids, para)
        {
            //originally added by yulei, 201902-18
            //get downloadable map
			var downloadableMapA={};//barcode:true
			var downloadableMapB={};//barcode:true
            var downloadableDataYes=[];
			var downloadableDataNot=[];
            var downloadableData = true;

			//check is_downloadable
			if(temp_load_data){
				for(var indexA in temp_load_data['strains']){
                    {% if current_user.is_authenticated() %}
					    downloadableMapA[ temp_load_data['strains'][indexA]['barcode'] ] = temp_load_data['strains'][indexA]['is_downloadable'];
                    {% else %}
                        if (new Date(temp_load_data['strains'][indexA]['release_date']).getTime() < new Date().getTime())
                        {
                            downloadableMapA[ temp_load_data['strains'][indexA]['barcode'] ] = true;
                        } else
                        {
                            downloadableMapA[ temp_load_data['strains'][indexA]['barcode'] ] = false;
                        }
                    {% endif %}
				}
			}

			if(temp_query_data){
				for(var indexB in temp_query_data['strains']){
                    {% if current_user.is_authenticated() %}
					    downloadableMapB[ temp_query_data['strains'][indexB]['barcode'] ] = temp_query_data['strains'][indexB]['is_downloadable'];
                    {% else %}
                        if (new Date(temp_query_data['strains'][indexB]['release_date']).getTime() < new Date().getTime())
                        {
                            downloadableMapB[ temp_query_data['strains'][indexB]['barcode'] ] = true;
                        } else
                        {
                            downloadableMapB[ temp_query_data['strains'][indexB]['barcode'] ] = false;
                        }
                    {% endif %}
				}
			}

			rightGrid.selectedRows=mainGrid.selectedRows;
			mgData = mainGrid.getGridAsText(para,true);
			rgData = rightGrid.getGridAsText(para,true);

            var titleOfCol=mgData[0].split('\t');
            var barcodeIndex=3;
            var nameIndex=1;
            var releaseDateIndex=31;

            for(var mgIndex in titleOfCol){
                if(titleOfCol[mgIndex] == 'Barcode'  || titleOfCol[mgIndex] == 'barcode'){barcodeIndex=mgIndex;}
                if(titleOfCol[mgIndex] == 'Name'  || titleOfCol[mgIndex] == 'name'){nameIndex=mgIndex;}
                if(titleOfCol[mgIndex] == 'Release Date'  || titleOfCol[mgIndex] == 'release date'){releaseDateIndex=mgIndex;}
            }

			for(var dataIndex in mgData){
				if(dataIndex==0){
					downloadableDataYes.push(mgData[0]+"\t"+rgData[0]);
{#					downloadableDataNot.push("Metadata and genomes from the following strains will first become available to you after the release date, or if the owner gives you editing rights as a buddy.");#}
                    downloadableDataNot.push("Excluded data:<br>");
                    downloadableDataNot.push("<ul class='simple'>");
{#					downloadableDataNot.push("Name"+"\t"+"Barcode"+"\t"+"Release Date");#}
					continue;
				}

				try{
					var tempLeft=mgData[dataIndex].split("\t");
					var tempRight=rgData[dataIndex].split("\t");

					if(downloadableMapA[ tempLeft[barcodeIndex] ] == false ||  downloadableMapB[ tempLeft[barcodeIndex] ] == false){
						//not downloadable
{#						downloadableDataNot.push(tempLeft[nameIndex]+"\t"+tempLeft[barcodeIndex]+"\t"+tempLeft[releaseDateIndex]);#}
                        downloadableDataNot.push("<li>"+tempLeft[nameIndex]+ " [" + tempLeft[barcodeIndex] + "]" + "</li>");
                        downloadableData = false;
					}else{
						//downloadable
						downloadableDataYes.push(mgData[dataIndex]+"\t"+rgData[dataIndex]);
					}
				}catch(e){
					console.log(e);
				}
			}

            if (!downloadableData && downloadableDataYes.length>1 )
            {
                list_nd = "Note: Selected data that is not released yet "
                {%  if current_user.is_authenticated() %}
                    list_nd += "and for which you do not have edit rights "
                {% endif %}
                list_nd += "will be excluded from the download."
                downloadableDataNot.push("</ul>");
                details_out = downloadableDataNot.join(" ")
                var details = '<div class="collapse" id="meta-data">'+details_out+'</div>';
                Enterobase.showSaveDialogDetails(downloadableDataYes.join("\n"), list_nd, details);
            }
            else if (downloadableDataYes.length>1)
            {
                Enterobase.showSaveDialog(downloadableDataYes.join("\n"));
            }
            else if (!downloadableData)
            {
                msg = "Download not permitted: The selected data is not released yet"
                {%  if current_user.is_authenticated() %}
                    msg += " and you do not have edit rights"
                {% endif %}
                msg += "."
                Enterobase.modalAlert(msg)
            }
            else
            {
				Enterobase.modalAlert("Empty metadata");
				return;
			}
        }

		addMenuSubItem("data","save","Save to Local File", function(e){

			//check if selected some strain
			var ids = mainGrid.getSelectedRows();
            var para = {label_headers:true};

            downloadMetadata(ids, para);
		});
		
		addMenuSubItem("data","saveselected","Save Selected to File",function(e){
			var ids = mainGrid.getSelectedRows();
            var para = {label_headers:true, only_selected:true};

            if(ids.length==0){
				Enterobase.modalAlert("No strain selected");
				return;
			}
            downloadMetadata(ids,para)
		});

{#		addMenuSubItem("data","my_records","My Strains",function(){#}
{#			submitQuery("my_strains");#}
{#		});#}

		addMenuSubItem("data","download_selected_assemblies","Download Selected Assemblies",function(){


        var ids = mainGrid.getSelectedRows();
        {%  if current_user.is_authenticated() %}
            mainGrid.downloadAssemblies(ids);
        {% else %}
            // Only allow download of 10 strains at once if the user is not logged in
            if (ids.length>10)
            {
                msg='Log in to download the selected amount of assemblies'
                Enterobase.modalAlert(msg, titel='Information');
                return;
            }
            mainGrid.downloadAssemblies(ids);
        {% endif %}
		});
		addMenuSubItem("workspace","new_workspace","Empty",function(){
			var ws = entero_ws_tree.getWorkspace(current_workspace);
			if (ws[1] !== 'mine'){
				if(ws[5] == 'True' || ws[5] == 'true'){
					//do nothing
				}else{
					Enterobase.modalAlert("You do not own this workspace");
					return;
				}
			}		
		
			mainGrid.resetGrid();
			rightGrid.resetGrid();
			mainGrid.refreshGrid();
			rightGrid.refreshGrid();
			
		});		
		addMenuSubItem("workspace","save_workspace","Save",function(){
			//added by yulei, 201902-18 
			if (current_workspace !== 0){
				var ws = entero_ws_tree.getWorkspace(current_workspace);
				if (ws[1] !== 'mine'){
					if(ws[5] == 'True' || ws[5] == 'true'){
						//do nothing
					}else{
						Enterobase.modalAlert("You do not own this workspace");
						return;
					}
					//Enterobase.modalAlert("You do not own this workspace");
					//return;
				}
				saveWorkspace(current_workspace,true)
				
			}
			//no workspace loaded therefore save as 
			else{
				  entero_ws_tree.showSaveDialog(function(name){
						saveWorkspace(name);
				 })

			}

		});
		addMenuSubItem("workspace","workspace-summary","Summary",function(){	
			current_workspace_summary.open();
            });

		addMenuSubItem("workspace","save_as_workspace","Save As",function(){
			/*
			var ws = entero_ws_tree.getWorkspace(current_workspace);
			if (ws[1] !== 'mine'){
				if(ws[5] == 'True' || ws[5] == 'true'){
					//do nothing
				}else{
					Enterobase.modalAlert("You do not own this workspace");
					return;
				}
			}	
			*/
			entero_ws_tree.showSaveDialog(function(name){
				       saveWorkspace(name)
			})
   
		});
{#		{% endif %}#}
		addMenuSubItem("workspace","load_workspace","Load",function(){
				 entero_ws_tree.getSelectedIDs(function(ids){
					loadWorkspace(ids[0]);
				 },"load",{main_search_page:true});
				
		});
	   {% if current_user.is_authenticated() %}
		addMenuSubItem("workspace","copy_strains","Copy Selected",function(){
			mainGrid.saveIDSToClipBoard();		
		});
		addMenuSubItem("workspace","paste_strains","Paste Strains",function(){
			//added by yulei, 201902-18 
			//var ws = entero_ws_tree.getWorkspace(ids[0]);
			var ws = entero_ws_tree.getWorkspace(current_workspace);
			if (ws[1] !== 'mine'){
				if(ws[5] == 'True' || ws[5] == 'true'){
					//do nothing
				}else{
					Enterobase.modalAlert("You do not own this workspace");
					return;
				}
			}		
		
			addStrainsToGrid(mainGrid.getClipBoardIDS());		
		});
		
		addMenuSubItem("workspace","add_to_workspace","Add Selected To Workspace",function(){
				//added by yulei, 201902-18 
				 entero_ws_tree.getSelectedIDs(function(ids){
					var ws = entero_ws_tree.getWorkspace(ids[0]);
					var owner = ws[1];
					if (owner != 'mine'){
					       if(ws[5] == 'True' || ws[5] == 'true'){
						       //do nothing
					       }else{
						       Enterobase.modalAlert("You do not own this workspace");
						       return;
					       }
       
					}
					addToWorkspace(ids[0])
				 
				 
				 },"Add",{types:"main_workspace"});  
		
		});

		addMenuSubItem("workspace","delete_strains","Delete Selected",function(){
			var ws = entero_ws_tree.getWorkspace(current_workspace);
			if ( (typeof ws != "undefined") && ws[1] !== 'mine'){
				if(ws[5] == 'True' || ws[5] == 'true'){
					//do nothing
				}else{
					Enterobase.modalAlert("You do not own this workspace");
					return;
				}
			}		
		
			for (id in mainGrid.selectedRows){
				mainGrid.removeRow(id);
				rightGrid.removeRow(id);
			}
			mainGrid.selectedRows={}
			mainGrid.refreshGrid();
			rightGrid.refreshGrid();				
		});
		
		{% endif %}
		
		
		//*****************tools****************************
		addMenuSubItem("tools","assemble","Assemble Selected",function(){
   		{% if active_server %}
			var ids = mainGrid.getSelectedRows();
			mainGrid.sendRecordsForAssembly(ids,mainGrid.displayMessage);
	    {% else %}
            Enterobase.modalAlert("Function temporarily unavailable during maintenance");
        {% endif %}

		});
		//add delete starins to allow the user and his/her buddy/buddies with edit permission to delete the user starins
	    //K.M

//	addMenuSubItem("tools","delete","Delete Selected Strains",function(){
//			var ids = mainGrid.getSelectedRows();
//			mainGrid.deleteStrains(mainGrid, rightGrid);
//
//		});

		addMenuSubItem("tools","call_scheme","Call Scheme For Selected",function(){
			
		});
		{% if curator %}
			addMenuSubItem("tools","addToUber","Add To Uber Strain",function(){
				 mainGrid.addToUberStrainDialog();
			 });
			addMenuSubItem("tools","removeFromUber","Remove Selected From Uber Strain",function(){
				 mainGrid.removeFromUberStrain(mainGrid.getSelectedRows());
			 });
       {% endif %}

	   {% if curator %}
		addMenuSubItem("tools","admintools","Curator Tools",function(){
				 curator_dialog.show(rightGrid);
		});
		{% endif %}

		//added at 2018-10-31
		{% if current_user.is_authenticated() and  current_user.administrator != 1 %}
		addMenuSubItem("tools","admintools",function(){
				 curator_dialog.show(rightGrid);
		});
		{% endif %}

		addMenuSubItem("edit","undo ","Undo (Ctrl+Z)",function(){
			mainGrid.undo();
		});

		addMenuSubItem("edit","search_and_replace","Search and Replace",function(){
	    //don't want to check all the countries at once
			mainGrid.checkLocation = false;
			mainGrid.showSearchAndReplacePopup(function(){
			for (var location in mainGrid.allLocations){
				mainGrid.checkAllLocations(location);
			}
			mainGrid.checkLocation = true;
			});
		});	
		
		addMenuSubItem("view","change_display_settings","Display Settings",function(e){
			mainGrid.showChangeDisplayPopup(function(settings){
				rightGrid.setDisplayValues(settings);
			});
		});
		addMenuSubItem("view","expand_all_sub_strains","Show all Substrains",function(e){
			mainGrid.expandAllSubstrains();
		}); 
		addMenuSubItem("view","close_all_sub_strains","Close all Substrains",function(e){
			mainGrid.closeAllSubstrains();
		});   
	
		addMenuSubItem("view","show_hide_columns","Show/Hide Columns",function(e){
			mainGrid.showHideColumnsPopup();
		});
		addMenuSubItem("view","filter","Filter Data",function(e){
			mainGrid.showFilterPopup();
		});
		
		addMenuSubItem("view","selected_to_top","Bring Selected to Top",function(e){
			mainGrid.sortOnSelected();
		});
		 {% if current_user.is_authenticated() %}
		addMenuSubItem("view","edit_custom_view","Custom View Editor",function(e){
			if (!custom_view_dialog ){
				custom_view_dialog = new CustomViewDialog(all_experiments,speciesName,entero_ws_tree);
				custom_view_dialog.viewCreated = function(id,name){
					all_experiments[id]={"custom_view":true,"label":name};
				
				};
			}
		
			else{
				custom_view_dialog.show();
			}
		});
		
		{% endif %}
		$('#dds-edit').css('display','none');
		
		//*********Analysis Menu****************
			{% if current_user.is_authenticated() %}
		addMenuSubItem("analysis","create_ms_tree","Create MLST GrapeTree",function(e){
			createMSTTree(false);
		});
		{% endif %}
		addMenuSubItem("analysis","load_ms_tree","Load MLST GrapeTree",function(){});

			{% if current_user.is_authenticated() %}
		addMenuSubItem("analysis","create_bubble_plot","Create HierMLST Bubble Plot",function(e){
			createBubblePlot(false);
		});
		{% endif %}
		addMenuSubItem("analysis","load_bubble_plot","Load HierMLST Bubble Plot",function(){});

		{% if current_user.is_authenticated() %}
		addMenuSubItem("analysis","call_snps","Call SNP Project",function(){
			createSNPProject(false);	
		});
		{% endif %}
		addMenuSubItem("analysis","load_snp_project","Load SNP Project",function(){});	
	}

	//*********experimental data icons******************
	rightIconMenu.addIcon("load-custom-view","new_custom_view.svg",
		"Load Custom View",function(){
			 entero_ws_tree.getSelectedIDs(function(ids,ws){
				associated_data=ids[0];
				loadRightDataOnly(ids[0]);
	
			},"Load",{types:['custom_view']})
		
	});
	rightIconMenu.addIcon("filter-experimental","new_filter.svg",
		"Filter local results based on experimental data ",function(){
		rightGrid.showFilterPopup();
	});
	
	//*********edit icons********************************
	$("#edit-icons").hide();
	editIconMenu.addIcon('upload-changes',"upload_data.bmp","Upload changes",function(){
		mainGrid.updateAllChangedRecords(false);
	});
	editIconMenu.addIcon('filter-on-error',"filter_on_error.png","Filter data on error",function(){
		mainGrid.filter("filter_on_error");
	});
	editIconMenu.addIcon("open_uber_dialog","uber_icon.png","Manage Uber Strains",function(){
		uber_strain_dialog.show();
	});
	editIconMenu.addIcon('load-modified-file',"open_file.png","Load modified file",function(){
		i.val("");
		i.trigger("click");
		//Enterobase.modalAlert("This option is currently not available, please try again later.","Warning");
	});
    
    //*********main icons********************************
    {% if current_user.is_authenticated() %}
    mainIconMenu.addIcon('create-ms-tree',"ms_tree.png","Create MLST GrapeTree",function(){
		createMSTTree(true);
    });
	    mainIconMenu.addIcon('create_bubble_plot',"bubble.png","Create Bubble Plot",function(){
		createBubblePlot(true);
    });
     mainIconMenu.addIcon('create-snp-project',"snp_tree.png","Create SNP Project",function(){
		createSNPProject(true);
    });
    {% endif %}

{#    mainIconMenu.addIcon('main-query',"query.png","Search Strains",function(){#}
{#		$('#query-dialog').dialog("open");#}
{#    });#}

    mainIconMenu.addIcon("filter-main","new_filter.svg","Filter local results on strain metadata",function(){
		mainGrid.showFilterPopup();
	});

	mainIconMenu.addIcon("filter-clear","new_clear_filter.svg","Clear all filters",function(){
		mainGrid.filter("");
	});
	mainIconMenu.addIcon("sort-columns","new_sort.svg","Sort Columns",function(){
		sortDialog.open();
	});

        {% if current_user.is_authenticated() %}
	mainIconMenu.addIcon('my-records',"my_records.gif","My Strains",function(){
		submitQuery("my_strains");
    });
     {% endif %}

    mainIconMenu.addIcon('assembly-download',"new_download.svg","Download Selected Assemblies",function(){

    var ids = mainGrid.getSelectedRows();
    {%  if current_user.is_authenticated() %}
        mainGrid.downloadAssemblies(ids);
    {% else %}
        // Only allow download of 10 strains at once if the user is not logged in
        if (ids.length>10)
        {
            msg='Log in to download the selected amount of assemblies'
            Enterobase.modalAlert(msg, titel='Information');
            return;
        }
        mainGrid.downloadAssemblies(ids);
    {% endif %}
    });

    
	//initialise the limit spinner
	$("#limit-spinner").spinner({
		min:100,
		step:100
	});
    
    //initiaize the  choose experiment combo
    $('#associated-data-select').bind('change',function(e){
		//added by yulei, 20190804
		rightGridType="";
		saveRightGridPreferences();
		var exp = $(this).val();
		$("#current-custom-view").remove();
		if (exp === 'new_edit_cv'){
			//added by yulei, 20190804
			//rightGridType="";
			
			if (!custom_view_dialog ){
				custom_view_dialog = new CustomViewDialog(all_experiments,speciesName,entero_ws_tree);
				custom_view_dialog.viewCreated = function(id,name){
					all_experiments[id]={"custom_view":true,"label":name};
					associated_data=id;
					loadRightDataOnly(id);
					$("#current-custom-view").remove();
					$('#optgroup-custom-view').append($("<option>")
					.attr({"value":"current_custom_view","id":"current-custom-view"})
					.text(name));
					$('#associated-data-select').val("current_custom_view");
				
				};
			}
		
			else{
				custom_view_dialog.show();
			}
			$(this).val(associated_data);
			return;
		
		}
		if (exp==='load_cv'){
			//added by yulei, 20190804
			//rightGridType="";//"customView";
			
			entero_ws_tree.getSelectedIDs(function(ids,ws){
				associated_data=ids[0];
				loadRightDataOnly(ids[0]);
				$('#optgroup-custom-view').append($("<option>")
			.attr({"value":"current_custom_view","id":"current-custom-view"})
			.text(ws[0][0]));
			 $('#associated-data-select').val("current_custom_view");
	
			},"Load",{types:['custom_view']});
			return;
		
		}

		associated_data = exp;	
		//if (mainGrid.getRowCount()!==0){
			loadRightDataOnly(exp);
		//}	 
    });
    
	//any element with a help attribute will have a right click help menu
	//which opens up window with the help page - The help attribute corresponds
	//to the anchor on the page describing the element 
    $("[help]").contextMenu([
		{
		    name: 'Help',
		    title: 'Help',
	
		    fun: function (data) {
				var pos = data.trigger.attr('help');
				window.open(help_url+"#"+pos,'newwindow','width=900, height=500');
		    }
		}
	    ],{triggerOn:'contextmenu'}
	);
		
		
    mainGrid.assemblyCallback=assemblySent;
	
	//edit mode check box
	$('#editModeCheck').prop('checked', false);
    $('#editmodecheck').bind("change",function(e){
		if (mainGrid.editMode){
			exitEditMode();
		}
		else{
			enterEditMode();
		}
		
		//added by yulei, 20190804
		let c_name=wholeData['user_details'][0]+"f"+current_workspace;//214f29362
		let value="editMode"+mainGrid.editMode;//"editModetrue" or "editModefalse"
		let exdays=30
		mainGrid.setCookie(c_name, value, exdays);
    });
    
    //get the user preferences and information on all schemes/experiments then call loadedMainMetaData
	
	var to_send={
		database:speciesName,
		view_name:'default'
	};
	var main_grid_details={
		database:speciesName,
		type:"grid_layout",
		name:"strain_grid"
	}
	//Three ajax calls are made, for
	//(1) details about all the experiments
	//(2) the names of all the saved queries
	//(3) The display settings in the main grid
	var experiments = Enterobase.call_restful_json("/get_experiment_details?database="+speciesName,"GET","",showErrorMessage);
	//details user preferences :-
	var query_call  = Enterobase.call_restful_json("/species/"+speciesName+"/get_saved_strain_queries","GET",to_send,showErrorMessage);
	var main_grid_settings_call= Enterobase.call_restful_json("/load_user_preferences","POST",main_grid_details,showErrorMessage);
	$.when(experiments,query_call,main_grid_settings_call).done(function(exp_data,query_data,grid_settings_data){
		all_experiments=exp_data[0]['experiments'];
		var queries= query_data[0];
		var custom_views = exp_data[0]['custom_views'];
		//set up the experiment dropdown for the grid and the query 
		var sel1 = $("#associated-data-select");
	
		for (var name in all_experiments){
			var value = name;
			var label  = all_experiments[name]['label'];
			if (all_experiments[name]['nserv']==='true'){
				addSchemesToMenu(name,label);
			
			}
			
			sel1.append($("<option>")
			.attr("value",value)
			.text(label));	
		}
		var optgroup = $("<optgroup id ='optgroup-custom-view' label='Custom View'></optgroup>");
		
		optgroup.append($("<option>").attr("value","load_cv").text("Load"));
		optgroup.append($("<option>").attr("value","new_edit_cv").text("New/Edit"));
		sel1.append(optgroup);
		if (custom_views.length>0){
			
			for (var index in custom_views){
				var item = custom_views[index];
				all_experiments[item[0]]={"custom_view":true,"label":item[1]};
				
			}
			
		}

		for (var index in queries){
			$("#load-query-select").append($("<option>")
			.attr("value",queries[index])
			.text(queries[index]));		
		}

		entero_ws_tree = new EnteroWorkspaceDialog(speciesName);

		var layout_data = grid_settings_data[0];
		if (layout_data && layout_data !== 'Error'){
			initial_grid_params=layout_data;
		}

		mainGrid.setMetaData(Enterobase.validation_url,loadedMainMetaData);

		changeExperimentQueryPane('assembly_stats');

    });

{% endblock  %}

