#buttoncontainer {
    display: inline-block;
    align-items: center; /* Align items vertically in the center */
}
.custom-file-input {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 8px 12px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin: 0;
}

.custom-file-input:hover {
    background-color: #e0e0e0;
}


#swatches-container {
    margin-top: 20px; /* Adjust the margin as needed */
    justify-content: center;

}

#searchInput {
    margin-left: auto;
}

#chart-container{
    margin: auto;
    /*justify-content: center;*/
    /*align-items: center;*/
    width: 800px;
}

#categoryForm{
    display: inline-block;
    margin-right: 5px;
}

.popup {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center vertically */
    position: fixed;
    top: 20%;
    left: 10%;
    background-color: #D3D3D3;
    font-family: Arial, sans-serif;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
}

.popup form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup select,
.popup button {
    margin-top: 10px;
}

#secondDropdownContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; /* Add some spacing between the first dropdown and the second dropdown */
}
#external {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#external label {
    margin-right: 10px;
    align-items: center;
}

.close {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 20px;
    font-weight: bold;
    color: #888;
    background-color: transparent;
    border: none;
    cursor: pointer;
}